@model A4Model
@{
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
    string checkboxCSS = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none";

    int popularMedsMedian = (int)Math.Ceiling((double)Model.PopularDrugCodes.Count / 2);
    int otcMedsMedian = (int)Math.Ceiling((double)Model.OTCDrugCodes.Count / 2);

    Model.CustomDrugCodes = Model.CustomDrugCodes.OrderBy(c => c.DrugName).ToList();
    int customMedsMedian = (int)Math.Ceiling((double)Model.CustomDrugCodes.Count / 2);
}

<div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
    <!-- Checkboxes for popular, otc, and custom drug codes-->
    <div>
        <!-- Popular Drug Codes -->
        <div class="grid lg:grid-cols-2 sm:grid-cols-1">
            <!-- Left Column Popular Drug Codes -->
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.PopularDrugCodes != null && Model.PopularDrugCodes.Count() > 0)
                {
                    for (int i = 0; i < popularMedsMedian; i++)
                    {
                        var drugCode = Model.PopularDrugCodes[i];
                        var displayName = drugCode.DrugName;

                        if (!string.IsNullOrWhiteSpace(drugCode.BrandName))
                            displayName += " (" + drugCode.BrandName + ")";
                        <div>
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                                        <div data-a4-target="popularDrug" id="RxNormId_@Model.PopularDrugCodes[i].RxNormId" data-rx-norm-id="@Model.PopularDrugCodes[i].RxNormId" data-drug-name="@Model.PopularDrugCodes[i].DrugName" class="flex h-6 items-center">
                                            <input asp-for="PopularDrugCodes[i].RxNormId" type="hidden" />
                                            <input asp-for="PopularDrugCodes[i].DrugName" type="hidden" />
                                            <input asp-for="PopularDrugCodes[i].BrandName" type="hidden" />
                                            <input asp-for="PopularDrugCodes[i].IsOverTheCounter" type="hidden" />
                                            <input asp-for="PopularDrugCodes[i].IsPopular" type="hidden" />
                                            <input asp-for="PopularDrugCodes[i].IsSelected" type="checkbox" class="@checkboxCSS" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            <label for="@Html.IdFor(m => m.PopularDrugCodes[i].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.PopularDrugCodes[i].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>

            <!-- Right Column Popular Drug Codes -->
            <div class="flex flex-col sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.PopularDrugCodes != null && Model.PopularDrugCodes.Count() > 0)
                {
                    for (int j = popularMedsMedian; j < Model.PopularDrugCodes.Count; j++)
                    {
                        var drugCode = Model.PopularDrugCodes[j];
                        var displayName = drugCode.DrugName;

                        if (!string.IsNullOrWhiteSpace(drugCode.BrandName))
                        {
                            displayName += " (" + drugCode.BrandName + ")";
                        }
                        <div>
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                                        <div data-a4-target="popularDrug" id="RxNormId_@Model.PopularDrugCodes[j].RxNormId" data-rx-norm-id="@Model.PopularDrugCodes[j].RxNormId" data-drug-name="@Model.PopularDrugCodes[j].DrugName" class="flex h-6 items-center">
                                            <input asp-for="PopularDrugCodes[j].RxNormId" type="hidden" />
                                            <input asp-for="PopularDrugCodes[j].DrugName" type="hidden" />
                                            <input asp-for="PopularDrugCodes[j].BrandName" type="hidden" />
                                            <input asp-for="PopularDrugCodes[j].IsOverTheCounter" type="hidden" />
                                            <input asp-for="PopularDrugCodes[j].IsPopular" type="hidden" />
                                            <input asp-for="PopularDrugCodes[j].IsSelected" type="checkbox" class="@checkboxCSS" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            <label for="@Html.IdFor(m => m.PopularDrugCodes[j].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.PopularDrugCodes[j].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="flex flex-col sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
            <p>Commonly reported medications that may be purchased over the counter (but that may also be prescription)</p>
        </div>

        <!-- OTC Drug Codes -->
        <div class="grid lg:grid-cols-2 sm:grid-cols-2">
            <!-- Left Column OTC Drug Codes -->
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.OTCDrugCodes != null && Model.OTCDrugCodes.Count() > 0)
                {
                    for (int i = 0; i < otcMedsMedian; i++)
                    {
                        var drugCode = Model.OTCDrugCodes[i];
                        var displayName = drugCode.DrugName;

                        if (!string.IsNullOrWhiteSpace(drugCode.BrandName))
                        {
                            displayName += " (" + drugCode.BrandName + ")";
                        }
                        <div>
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                                        <div data-a4-target="otcDrug" id="RxNormId_@Model.OTCDrugCodes[i].RxNormId" data-rx-norm-id="@Model.OTCDrugCodes[i].RxNormId" data-drug-name="@Model.OTCDrugCodes[i].DrugName" class="flex h-6 items-center">
                                            <input asp-for="OTCDrugCodes[i].RxNormId" type="hidden" />
                                            <input asp-for="OTCDrugCodes[i].DrugName" type="hidden" />
                                            <input asp-for="OTCDrugCodes[i].BrandName" type="hidden" />
                                            <input asp-for="OTCDrugCodes[i].IsOverTheCounter" type="hidden" />
                                            <input asp-for="OTCDrugCodes[i].IsPopular" type="hidden" />
                                            <input id="OTCDrugCodes_@(i)__IsSelected" name="OTCDrugCodes[@i].IsSelected" checked="@Model.OTCDrugCodes[i].IsSelected" type="checkbox" class="@checkboxCSS" />
                                            <input name="OTCDrugCodes[@i].IsSelected" type="hidden" value="@Model.OTCDrugCodes[i].IsSelected" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            <label for="@Html.IdFor(m => m.OTCDrugCodes[i].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.OTCDrugCodes[i].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>

            <!-- Right Column OTC Drug Codes -->
            <div class="flex flex-col sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.OTCDrugCodes != null && Model.OTCDrugCodes.Count() > 0)
                {
                    for (int j = otcMedsMedian; j < Model.OTCDrugCodes.Count; j++)
                    {
                        var drugCode = Model.OTCDrugCodes[j];
                        var displayName = drugCode.DrugName;

                        if (!string.IsNullOrWhiteSpace(drugCode.BrandName))
                        {
                            displayName += " (" + drugCode.BrandName + ")";
                        }
                        <div>
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                                        <div data-a4-target="otcDrug" id="RxNormId_@Model.OTCDrugCodes[j].RxNormId" data-rx-norm-id="@Model.OTCDrugCodes[j].RxNormId" data-drug-name="@Model.OTCDrugCodes[j].DrugName" class="flex h-6 items-center">
                                            <input asp-for="OTCDrugCodes[j].RxNormId" type="hidden" />
                                            <input asp-for="OTCDrugCodes[j].DrugName" type="hidden" />
                                            <input asp-for="OTCDrugCodes[j].BrandName" type="hidden" />
                                            <input asp-for="OTCDrugCodes[j].IsOverTheCounter" type="hidden" />
                                            <input asp-for="OTCDrugCodes[j].IsPopular" type="hidden" />
                                            <input id="OTCDrugCodes_@(j)__IsSelected" name="OTCDrugCodes[@j].IsSelected" checked="@Model.OTCDrugCodes[j].IsSelected" type="checkbox" class="@checkboxCSS" />
                                            <input name="OTCDrugCodes[@j].IsSelected" type="hidden" value="@Model.OTCDrugCodes[j].IsSelected" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            <label for="@Html.IdFor(m => m.OTCDrugCodes[j].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.OTCDrugCodes[j].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="flex flex-col sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:py-6">
            <p>Custom medications</p>
        </div>

        <!-- Custom Drug Codes -->
        <div class="grid lg:grid-cols-2 sm:grid-cols-2">
            <!-- Left  Column Custom Drug Codes -->
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.CustomDrugCodes != null && Model.CustomDrugCodes.Count() > 0)
                {
                    for (int i = 0; i < customMedsMedian; i++)
                    {
                        <div data-index="@i">
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <div data-a4-target="customDrug" id="RxNormId_@Model.CustomDrugCodes[i].RxNormId" data-rx-norm-id="@Model.CustomDrugCodes[i].RxNormId" data-drug-name="@Model.CustomDrugCodes[i].DrugName" class="flex h-6 items-center">
                                            <input id="CustomDrugCodes_@(i)__RxNormId" name="CustomDrugCodes[@i].RxNormId" value="@Model.CustomDrugCodes[i].RxNormId" type="hidden" />
                                            <input id="CustomDrugCodes_@(i)__DrugName" name="CustomDrugCodes[@i].DrugName" value="@Model.CustomDrugCodes[i].DrugName" type="hidden" />
                                            <input asp-for="CustomDrugCodes[i].BrandName" type="hidden" />
                                            <input asp-for="CustomDrugCodes[i].IsOverTheCounter" type="hidden" />
                                            <input asp-for="CustomDrugCodes[i].IsPopular" type="hidden" />
                                            <input id="CustomDrugCodes_@(i)__IsSelected" name="CustomDrugCodes[@i].IsSelected" checked="@Model.CustomDrugCodes[i].IsSelected" type="checkbox" class="@checkboxCSS" />
                                            <span>@Model.CustomDrugCodes[i].IsSelected</span>
                                            <input asp-for="CustomDrugCodes[i].IsSelected" type="hidden" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            @{
                                                var displayName = Model.CustomDrugCodes[i].DrugName;

                                                if (!string.IsNullOrWhiteSpace(Model.CustomDrugCodes[i].BrandName))
                                                {
                                                    displayName += " (" + Model.CustomDrugCodes[i].BrandName + ")";
                                                }
                                            }
                                            <label for="@Html.IdFor(m => m.CustomDrugCodes[i].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.CustomDrugCodes[i].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>
            <!-- Right  Column Custom Drug Codes -->
            <div class="flex flex-col sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                @if (Model.CustomDrugCodes != null && Model.CustomDrugCodes.Count() > 0)
                {
                    for (int j = customMedsMedian; j < Model.CustomDrugCodes.Count; j++)
                    {
                        <div data-index="@j">
                            <fieldset>
                                <div class="space-y-5">
                                    <div class="relative flex items-start">
                                        <div data-a4-target="customDrug" id="RxNormId_@Model.CustomDrugCodes[j].RxNormId" data-rx-norm-id="@Model.CustomDrugCodes[j].RxNormId" data-drug-name="@Model.CustomDrugCodes[j].DrugName" class="flex h-6 items-center">
                                            <input id="CustomDrugCodes_@(j)__RxNormId" name="CustomDrugCodes[@j].RxNormId" value="@Model.CustomDrugCodes[j].RxNormId" type="hidden" />
                                            <input id="CustomDrugCodes_@(j)__DrugName" name="CustomDrugCodes[@j].DrugName" value="@Model.CustomDrugCodes[j].DrugName" type="hidden" />
                                            <input asp-for="CustomDrugCodes[j].BrandName" type="hidden" />
                                            <input asp-for="CustomDrugCodes[j].IsOverTheCounter" type="hidden" />
                                            <input asp-for="CustomDrugCodes[j].IsPopular" type="hidden" />
                                            <input id="CustomDrugCodes_@(j)__IsSelected" name="CustomDrugCodes[@j].IsSelected" checked="@Model.CustomDrugCodes[j].IsSelected" type="checkbox" class="@checkboxCSS" />
                                            <span>@Model.CustomDrugCodes[j].IsSelected</span>
                                            <input asp-for="CustomDrugCodes[j].IsSelected" type="hidden" />
                                        </div>
                                        <div class="ml-3 text-sm leading-6">
                                            @{
                                                var displayName = Model.CustomDrugCodes[j].DrugName;

                                                if (!string.IsNullOrWhiteSpace(Model.CustomDrugCodes[j].BrandName))
                                                {
                                                    displayName += " (" + Model.CustomDrugCodes[j].BrandName + ")";
                                                }
                                            }
                                            <label for="@Html.IdFor(m => m.CustomDrugCodes[j].IsSelected)" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.CustomDrugCodes[j].RxNormId</span></label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>