@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by intake interviewer based on co-participant's report. This form should not be provided directly to the co-participant. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form A2. Check only <span class="underline">one</span> box per question.
    </p>
</div>
<div>
    <div>
        <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3">Section 1  —— Co-participant's Realtionship to Participant</h3>

    </div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        @if (Model.Visit != null)
        {
            @if (Model.Visit.Kind == VisitKind.FVP)
            {
                <div class="@rowCSS">
                    <label asp-for="A2.NEWINF"><span class="counter"></span>@Html.DisplayNameFor(m=> m.A2.NEWINF)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.NEWINF">Repsone to if this is a new co-participant required</span>
                        <radio-button-group id="A2_NEWINF" for="@Model.A2.NEWINF" items="Model.NEWINF"></radio-button-group>
                    </div>

                </div>
            }
        }
        @if (Model.Visit != null)
        {
            @if (Model.Visit.Kind == VisitKind.FVP || Model.Visit.Kind == VisitKind.IVP)
            {



                <div class="@rowCSS">
                    <label asp-for="A2.INRELTO"><span class="counter"></span>@Html.DisplayNameFor(m=> m.A2.INRELTO)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INRELTO"></span>
                        <radio-button-group id="A2_INRELTO" for="@Model.A2.INRELTO" items="Model.INRELTO"></radio-button-group>
                    </div>

                </div>
                <div class="@rowCSS">
                    <div>
                        <label asp-for="@Model.A2.INKNOWN"><span class="counter"></span>@Html.DisplayNameFor(m => m.A2.INKNOWN)<p class="text-sm font-semibold">(If the co-participant has known the participant for less than 1 year, use 0.)</p> </label>
                    </div>
                    <div class="mt-4 sm:col-span-2 sm:mt-0" style="display: flex; align-items: center;">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INKNOWN"></p>
                        <input asp-for="@Model.A2.INKNOWN" style="margin-right: 10px" />
                        <p class="text-base font-semibold">Years (999 = Unknown)</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INKNOWN"></span>
                    </div>
                </div>

                <div class="@rowCSS">
                    <label class="text-base font-semibold text-gray-900" asp-for="A2.INLIVWTH"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INLIVWTH)</label>

                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INLIVWTH"></p>
                        <radio-button-group id="A2_INLIVWTH" for="@Model.A2.INLIVWTH" items="Model.INLIVWTH" ui-behaviors="Model.INLIVWTHUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INLIVWTH"></span>
                    </div>
                </div>

                <div class="subsubcounterreset">
                    <div class="px-4 py-4 sm:p-2">
                        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                            <label asp-for="A2.INCNTMOD"><span class="counter"></span> @Html.DisplayNameFor(m => m.A2.INCNTMOD)</label>

                            <div>
                                <p class="text-sm text-gray-500" asp-description-for="A2.INCNTMOD"></p>
                                <radio-button-group id="INCNTMOD" for="@Model.A2.INCNTMOD" items="Model.INCNTMOD"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INCNTMOD"></span>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500" asp-description-for="A2.INCNTMDX"></p>
                                <label asp-for="A2.INCNTMDX">@Html.DisplayNameFor(m => m.A2.INCNTMDX)</label>
                                <div class="mt-2">
                                    <input asp-for="A2.INCNTMDX" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subcounterreset">
                        <span class="subcounter invisible"></span>
                        <div class="@rowCSS">
                            <label class="text-base font-semibold text-gray-900" asp-for="A2.INCNTFRQ"><span class="subsubcounter"></span> @Html.DisplayNameFor(model => model.A2.INCNTFRQ)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="A2.INCNTFRQ"></p>
                                <radio-button-group id="INCNTFRQ" for="@Model.A2.INCNTFRQ" items="Model.INCNTFRQ"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INCNTFRQ"></span>
                            </div>
                        </div>

                        <div class="@rowCSS">
                            <label class="text-base font-semibold text-gray-900" asp-for="A2.INCNTTIM"><span class="subsubcounter"></span> @Html.DisplayNameFor(model => model.A2.INCNTTIM)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="A2.INCNTTIM"></p>
                                <radio-button-group id="INCNTTIM" for="@Model.A2.INCNTTIM" items="Model.INCNTTIM"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INCNTTIM"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="@rowCSS">
                    <label asp-for="@Model.A2.INRELY"><span class="counter"></span>@Html.DisplayNameFor(m => m.A2.INRELY)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INRELY"></p>
                        <radio-button-group id="INRELY" for="@Model.A2.INRELY" items="Model.INRELY"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRELY"></span>
                    </div>

                </div>
                <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3">Section 2 —— Co-participant's Judgment of Participant's Memory</h3>
                <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3">Ask the next three questions <span style="text-decoration: underline; font-weight: bold;">directly to the co-participant.</span></h3>
                <div class="@rowCSS">
                    <label asp-for="@Model.A2.INMEMWORS"><span class="counter"></span>@Html.DisplayNameFor(m => m.A2.INMEMWORS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INMEMWORS"></p>
                        <radio-button-group id="INMEMWORS" for="@Model.A2.INMEMWORS" items="Model.INMEMWORS"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INMEMWORS"></span>
                    </div>

                </div>

                <div class="@rowCSS">
                    <label asp-for="@Model.A2.INMEMTROUB"><span class="counter"></span>@Html.DisplayNameFor(m => m.A2.INMEMTROUB)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INMEMTROUB"></p>
                        <radio-button-group id="INMEMTROUB" for="@Model.A2.INMEMTROUB" items="Model.INMEMTROUB"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INMEMTROUB"></span>
                    </div>

                </div>

                <div class="@rowCSS">
                    <label asp-for="@Model.A2.INMEMTEN"><span class="counter"></span>@Html.DisplayNameFor(m => m.A2.INMEMTEN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="A2.INMEMTEN"></p>
                        <radio-button-group id="INMEMTEN" for="@Model.A2.INMEMTEN" items="Model.INMEMTEN"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INMEMTEN"></span>
                    </div>

                </div>
            }
        }
    </div>
</div>

<partial name="_FormFooter" for="@Model.A2" />
