@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A3Model
@{
    Layout = "_LayoutForm";

    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}
<div >
    <div>
        <p class="mt-1 text-sm text-gray-500">
            INSTRUCTIONS: <span class="italic">This form is to be completed by a clinician with experience in evaluating participants with neurological and psychiatric diagnoses. Estimates are allowed if exact birth year or age at death is unknown. For additional clarification and examples, see the</span> <guidebook kind="@Model.Visit.PACKET"></guidebook> <span class="italic">for</span> Form A3.
        </p>
    </div>

    <!--// Biological parents //-->
    <div>
        <h3 class="text-base font-semibold leading-7 text-gray-900">
            Section <span class="counter"></span> Biological parents
        </h3>

        <p class="mt-1 text-sm text-gray-500">
            For any parent with a neurological or psychiatric diagnosis, the entire row <span class="underline">must be filled out.</span>
        </p>
        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <span class="font-bold"> 99= Unknown</span> in the  <span class="font-bold"> Primary diagnosis</span> column, and <span class="italic">skip the subsequent questions in the row </span>. For a parent with no neurological or psychiatric diagnosis, enter <span class="font-bold"> 00 = No known neurological/psychiatric diagnosis </span> in the<span class="font-bold"> Primary diagnosis</span> column, and then   <span class="italic"> skip the subsequent questions in the row. </span> For a parent with a primary diagnosis but no secondary diagnosis, enter <span class="font-bold"> 88 = No secondary diagnosis </span> in the Secondary diagnosis column.
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-16 w-full text-left text-sm leading-6">
                <thead class="bg-blue-200 text-gray-900 text-center">
                    <tr>
                        <th></th>
                        <th rowspan="2" class="text-center">
                            Birth year <br />
                            <span class="italic font-normal">(9999= Unknown)</span>
                        </th>
                        <th rowspan="2" class="text-center">
                            Age at death <br />
                            <span class="italic font-normal">(888=N/A, 999=Unknown)</span>
                        </th>
                        <th class="text-left">Primary dx*</th>
                        <th class="text-left">Secondary Dx**</th>
                        <th class="text-left">Method of evaluation**</th>
                        <th rowspan="2" class="text-center">
                            Age of onset of primary dx <br />
                            <span class="italic font-normal">(999= Unknown)</span>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3" class="bg-blue-400 text-white text-center p-2">
                            ******SEE LIST OF CODES******
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="border-b border-gray-100" data-controller="a3-enable-intra-row" data-a3-enable-intra-row-invalid-class="input-validation-error border-red-500 border-red-600" data-a3-enable-intra-row-disabled-class="bg-gray-100 cursor-not-allowed opacity-60">
                        <td><span class="subcounter"></span> Mother</td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <div class="sm:col-span-1">
                                        <p class="mt-1 text-sm leading-6 text-gray-400">MOMYOB</p>
                                        <input asp-for="@Model.A3.MOMYOB" placeholder="YYYY" />
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMDAGE</p>
                                <input asp-for="@Model.A3.MOMDAGE" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMETPR</p>
                                <input asp-for="@Model.A3.MOMETPR" data-a3-enable-intra-row-target="primaryDx" data-action="change->a3-enable-intra-row#updateFields" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMETSEC</p>
                                <input asp-for="@Model.A3.MOMETSEC" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMMEVAL</p>
                            </div>
                            <input asp-for="@Model.A3.MOMMEVAL" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMAGEO</p>
                            </div>
                            <input asp-for="@Model.A3.MOMAGEO" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <div class="sm:col-span-1">
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMYOB"></span>
                                        <submission-error location="MOMYOB" errors="Model.BaseForm.UnresolvedErrors" />
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMDAGE"></span>
                                <submission-error location="MOMDAGE" errors="Model.BaseForm.UnresolvedErrors" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMETPR"></span>
                                <submission-error location="MOMETPR" errors="Model.BaseForm.UnresolvedErrors" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMETSEC"></span>
                                <submission-error location="MOMETSEC" errors="Model.BaseForm.UnresolvedErrors" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMMEVAL"></span>
                                <submission-error location="MOMMEVAL" errors="Model.BaseForm.UnresolvedErrors" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMAGEO"></span>
                                <submission-error location="MOMAGEO" errors="Model.BaseForm.UnresolvedErrors" />
                            </div>

                        </td>
                    </tr>
                    <tr class="border-b border-gray-100" data-controller="a3-enable-intra-row" data-a3-enable-intra-row-invalid-class="input-validation-error border-red-500 border-red-600" data-a3-enable-intra-row-disabled-class="bg-gray-100 cursor-not-allowed opacity-60">
                        <td><span class="subcounter"></span> Father</td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <input asp-for="@Model.A3.DADYOB" placeholder="YYYY" />
                                </div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADYOB"></span>
                                <submission-error location="DADYOB" errors="Model.BaseForm.UnresolvedErrors" />
                            </fieldset>
                        </td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <input asp-for="@Model.A3.DADDAGE" />
                                </div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADDAGE"></span>
                                <submission-error location="DADDAGE" errors="Model.BaseForm.UnresolvedErrors" />
                            </fieldset>

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADETPR" data-a3-enable-intra-row-target="primaryDx" data-action="change->a3-enable-intra-row#updateFields" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADETPR"></span>
                            <submission-error location="DADETPR" errors="Model.BaseForm.UnresolvedErrors" />
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADETSEC" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADETSEC"></span>
                            <submission-error location="DADETSEC" errors="Model.BaseForm.UnresolvedErrors" />

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADMEVAL" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADMEVAL"></span>
                            <submission-error location="DADMEVAL" errors="Model.BaseForm.UnresolvedErrors" />

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADAGEO" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-intra-row-target="dependent" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADAGEO"></span>
                            <submission-error location="DADAGEO" errors="Model.BaseForm.UnresolvedErrors" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900 text-center">Codes</h3>
    </div>

    <div>
        <table class="mt-16 w-full text-left text-sm leading-6 border-b border-gray-100">
            <tr class="border-b border-gray-100">
                <th class="border-b border-gray-100">*DIAGNOSES</th>
                <th class="border-b border-gray-100">**METHOD OF EVALUATION</th>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">00</span> No known neurological/psychiatric diagnosis</td>
                <td class="border-b border-gray-100"><span class="font-bold">1</span> Participant/family report</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">01</span> Alzheimer's Disease</td>
                <td class="border-b border-gray-100"><span class="font-bold">2</span> Medical records</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">02</span> Lewy Body dementia (includes DLB and PDD)</td>
                <td class="border-b border-gray-100"><span class="font-bold">3</span> Exam <span class="italic"> (co-enrolled family members)</span></td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">03</span> Vascular dementia</td>
                <td class="border-b border-gray-100"><span class="font-bold">4</span> Autopsy <span class="italic"> (if autopsy report available)</span> </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">04</span> Stroke</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">05</span> FTLD* without motor neuron disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">06</span> FTLD* with motor neuron disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">07</span> Motor Neuron Disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">08</span> Parkinson's Disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">09</span> Prion pathology</td>

                <td rowspan="2" class="border-b border-gray-100">   <span class="italic"> <span class="font-bold">*FTLD includes:</span> bvFTD or FTD, PPA (any subtype), CBS or CBD, PSP </span> </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><span class="font-bold">10</span> Psychiatric condition</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100">
                    <span class="font-bold">11</span>
                    Dementia of unknown etiology
                </td>
                <td rowspan="4" class="border-b border-gray-100">
                    <span class="italic">
                        <span class="font-bold">
                            Abbreviations:
                        </span>
                        bvFTD = behavioral variant frontotemporal
                        dementia, CBS = corticobasal syndrome, CBD = corticobasal
                        degeneration, DLB = dementia with Lewy bodies, FTD =
                        frontotemporal dementia, PDD = Parkinson's disease with dementia,
                        PPA = primary progressive aphasia, PSP = progressive supranuclear
                        palsy
                    </span>
                </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100">   <span class="font-bold">12</span> Other</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100">   <span class="font-bold">88</span> No secondary diagnosis</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100 pl-0 pr-8 pt-2">
                    <span class="font-bold">
                        99
                    </span> Specific diagnosis unknown <span class="italic">
                        (acceptable if method of
                        evaluation is not by exam or autopsy)
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            <span class="font-bold">YEAR OF BIRTH FOR FULL SIBLINGS & BIOLOGICAL CHILDREN:</span> If birth year is unknown, please provide an approximate year on <span class="font-bold"> UDS Initial Visit Form A3 </span> and <span class="font-bold"> UDS Follow-up Visit Form A3</span> so that the sibling or child with unknown birth year ends up in correct birth order relative to the other siblings/children
        </p>
    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            <span class="italic"> Example:</span> A participant is the oldest of three children. The participant was born in 1940 and the middle sibling in 1943; the youngest sibling’s birth year is unknown. An approximate birth year of 1944 or later should be assigned to the youngest sibling.
        </p>
    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            Use that same birth year on <span class="font-bold">FTLD Module Form A3a</span> <span class="italic">, if applicable, </span> and across all UDS visits so that any new information on a particular sibling or child can be linked to previously submitted information. If it is impossible for the participant and co-participant to estimate the birth year, enter <span class="font-bold">9999=Unknown</span>.
        </p>
    </div>

    <!--// Siblings //-->
    <div data-controller="a3-enable-rows" data-a3-enable-rows-a3-enable-intra-row-outlet=".a3-intra-row-outlet" data-a3-enable-rows-invalid-class="input-validation-error border-red-500 border-red-600" data-a3-enable-rows-disabled-class="bg-gray-100 cursor-not-allowed opacity-60" data-a3-enable-rows-max-rows-value="20">
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900">Section 2. Full siblings</h3>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="A3.SIBS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A3.SIBS)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A3.SIBS"></p>
                <input id="A3_SIBS" asp-for="@Model.A3.SIBS" data-a3-enable-rows-target="countInput" data-action="change->a3-enable-rows#updateRows" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.SIBS"></span>
                <submission-error location="SIBS" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <p class="mt-1 text-sm text-gray-500">
            <span class="font-bold">If participant has no full sibilings, SKIP TO QUESTION 3; <span class="italic">otherwise, provide information on all full siblings.</span></span>For any full sibling with a neurological or psychiatric diagnosis, the entire row <span class="underline">must be filled out.  </span>
        </p>

        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <span class="font-bold">99 = Unknown </span> in the <span class="font-bold"> Primary diagnosis </span> column, and  <span class="italic"> skip the subsequent questions in the row.</span> For a full sibling with no neurological or psychiatric diagnosis, enter <span class="font-bold"> 00 = No known neurological/psychiatric diagnosis</span> in the <span class="font-bold">Primary diagnosis </span> column, and then <span class="italic"> skip the subsequent questions in the row. </span> For a full sibling with a primary diagnosis but no secondary diagnosis, enter <span class="font-bold"> 88 = No secondary diagnosis </span> in the Secondary diagnosis column.
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-8 w-full text-left text-sm leading-6">
                <thead class="bg-blue-200 text-gray-900 text-center">
                    <tr>
                        <th></th>
                        <th rowspan="2" class="text-center">
                            Birth year <br />
                            <span class="italic font-normal">(9999= Unknown)</span>
                        </th>
                        <th rowspan="2" class="text-center">
                            Age at death <br />
                            <span class="italic font-normal">(888=N/A, 999=Unknown)</span>
                        </th>
                        <th class="text-left">Primary dx*</th>
                        <th class="text-left">Secondary Dx**</th>
                        <th class="text-left">Method of evaluation**</th>
                        <th rowspan="2" class="text-center">
                            Age of onset of primary dx <br />
                            <span class="italic font-normal">(999=unknown)</span>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3" class="bg-blue-400 text-white text-center p-2">
                            ******SEE LIST OF CODES******
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.A3.Siblings.Count(); i++)
                    {
                                @Html.EditorFor(m => m.A3.Siblings[i])
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--// Children //-->
    <div data-controller="a3-enable-rows" data-a3-enable-rows-a3-enable-intra-row-outlet=".a3-intra-row-outlet" data-a3-enable-rows-invalid-class="input-validation-error border-red-500 border-red-600" data-a3-enable-rows-disabled-class="bg-gray-100 cursor-not-allowed opacity-60" data-a3-enable-rows-max-rows-value="15">
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900">Section 3. Biological children</h3>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="A3.KIDS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A3.KIDS)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A3.KIDS"></p>
                <input id="A3_KIDS" asp-for="@Model.A3.KIDS" data-a3-enable-rows-target="countInput" data-action="change->a3-enable-rows#updateRows" />

                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.KIDS"></span>
                <submission-error location="KIDS" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <p class="mt-1 text-sm text-gray-500">
            If participant has no biological children, <strong>END FORM HERE</strong>; <span class="italic">otherwise, provide information on all biological children.</span>
        </p>

        <p class="mt-1 text-sm text-gray-500">
            For any biological child with a neurological or psychiatric diagnosis, the entire row <span class="underline"> must be filled out.</span>
        </p>

        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <span class="font-bold">99 = Unknown </span> in the <span class="font-bold"> Primary diagnosis</span> column, and  <span class="italic"> skip the subsequent questions in the row.</span> For a biological child with no neurological or psychiatric diagnosis, enter <span class="font-bold"> 00 = No known neurological/psychiatric diagnosis </span> in the Primary diagnosis column, and then  <span class="italic"> skip the subsequent questions in the row.</span> For a biological child with a primary diagnosis but no secondary diagnosis, enter <span class="font-bold"> 88 = No secondary diagnosis </span> in the Secondary diagnosis column.
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-8 w-full text-left text-sm leading-6">
                <thead class="bg-blue-200 text-gray-900 text-center">
                    <tr class="text-center">
                        <th rowspan="2"></th>
                        <th rowspan="2">
                            Birth year <br />
                            <span class="italic font-normal">(9999= Unknown)</span>
                        </th>
                        <th rowspan="2">
                            Age at death <br />
                            <span class="italic font-normal">(888=N/A, 999=Unknown)</span>
                        </th>
                        <th class="text-left">Primary dx*</th>
                        <th class="text-left">Secondary Dx**</th>
                        <th class="text-left">Method of evaluation**</th>
                        <th rowspan="2">
                            Age of onset of primary dx <br />
                            <span class="italic font-normal">(999=unknown)</span>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" class="bg-blue-400 text-white text-center p-2">
                            ****** SEE LIST OF CODES ******
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.A3.Children.Count(); i++)
                    {
                                @Html.EditorFor(m => m.A3.Children[i])
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="_FormFooter" for="@Model.A3" />
