@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A3Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}
<div>
    <div>
        <p class="mt-1 text-sm text-gray-500">
            INSTRUCTIONS: This form is to be completed by a clinician with experience in evaluating participants with neurological and psychiatric diagnoses. Estimates are allowed if exact birth year or age at death is unknown. For additional clarification and examples, see the <guidebook kind="@Model.Visit.PACKET"></guidebook>, Form A3.
        </p>
    </div>

    <!--// Biological parents //-->
    <div class="">

        <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Biological parents</h3>

        <p class="mt-1 text-sm text-gray-500">
            For any parent with a neurological or psychiatric diagnosis, the entire row  <u>must be filled out.</u>
        </p>
        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <b>
                99
                = Unknown
            </b> in the <b>Primary diagnosis</b> column, and <span class="italic">skip the subsequent questions in the row </span>. For a parent with no neurological or
            psychiatric diagnosis, enter <b>00 = No known neurological/psychiatric diagnosis</b> in the <b>Primary diagnosis</b> column, and then   <span class="italic">
                skip the subsequent questions in the row.
            </span> For a parent with a primary diagnosis but no secondary diagnosis, enter <b>
                88 = No secondary diagnosis
            </b> in the Secondary diagnosis column
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-16 w-full text-left text-sm leading-6">
                <thead class="border-b border-gray-200 text-gray-900">
                    <tr>
                        <th></th>
                        <th rowspan="2" style="text-align:center">Birth year <br /> <span class="italic" style="font-weight: normal;">(9999= Unknown)</span></th>
                        <th rowspan="2" style="text-align:center">Age at death <br /> <span class="italic" style="font-weight: normal;"> (888=N/A, 999=Unknown))</span></th>
                        <th>Primary dx*</th>
                        <th>Secondary Dx**</th>
                        <th>Method of evaluation**</th>
                        <th rowspan="2">Age of onset of primary dx <br /> <span class="italic" style="font-weight: normal;">(999= Unknown)</span></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3" style="border: 2px solid lightgrey; text-align: center; padding: 8px;">******SEE LIST OF CODES******</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-100">
                        <td><span class="subcounter"></span> Mother</td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <div class="sm:col-span-1">
                                        <p class="mt-1 text-sm leading-6 text-gray-400">MOMYOB</p>
                                        <input asp-for="@Model.A3.MOMYOB" placeholder="YYYY" />
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMDAGE</p>
                                <input asp-for="@Model.A3.MOMDAGE" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMETPR</p>
                                <input asp-for="@Model.A3.MOMETPR" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMETSEC</p>
                                <input asp-for="@Model.A3.MOMETSEC" />
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMMEVAL</p>
                            </div>
                            <input asp-for="@Model.A3.MOMMEVAL" />
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <p class="mt-1 text-sm leading-6 text-gray-400">MOMAGEO</p>
                            </div>
                            <input asp-for="@Model.A3.MOMAGEO" />

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <div class="sm:col-span-1">
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMYOB"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMDAGE"></span>
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMETPR"></span>
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMETSEC"></span>
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMMEVAL"></span>
                            </div>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.MOMAGEO"></span>
                            </div>

                        </td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td><span class="subcounter"></span> Father</td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <input asp-for="@Model.A3.DADYOB" placeholder="YYYY" />
                                </div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADYOB"></span>
                            </fieldset>
                        </td>
                        <td>
                            <fieldset>
                                <div class="grid grid-cols-2 sm:grid-cols-1">
                                    <input asp-for="@Model.A3.DADDAGE" />
                                </div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADDAGE"></span>
                            </fieldset>

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADETPR" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADETPR"></span>
                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADETSEC" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADETSEC"></span>

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADMEVAL" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADMEVAL"></span>

                        </td>
                        <td>
                            <div class="grid grid-cols-2 sm:grid-cols-1">
                                <input asp-for="@Model.A3.DADAGEO" />
                            </div>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.DADAGEO"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div>
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900 text-center">Codes</h3>
    </div>

    <div>
        <table class="mt-16 w-full text-left text-sm leading-6 border-b border-gray-100">
            <tr class="border-b border-gray-100">
                <th class="border-b border-gray-100">*DIAGNOSES</th>
                <th class="border-b border-gray-100">**METHOD OF EVALUATION</th>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>00</b> No known neurological/psychiatric diagnosis</td>
                <td class="border-b border-gray-100"><b>1</b> Participant/family report</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>01</b> Alzheimer's Disease</td>
                <td class="border-b border-gray-100"><b>2</b> Medical records</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>02</b> Lewy Body dementia (includes DLB and PDD)</td>
                <td class="border-b border-gray-100"><b>3</b> Exam <span class="italic"> (co-enrolled family members)</span></td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>03</b> Vascular dementia</td>
                <td class="border-b border-gray-100"><b>4</b> Autopsy <span class="italic"> (if autopsy report available)</span> </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>04</b> Stroke</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>05</b> FTLD* without motor neuron disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>06</b> FTLD* with motor neuron disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>07</b> Motor Neuron Disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>08</b> Parkinson's Disease</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>09</b> Prion pathology</td>

                <td rowspan="2" class="border-b border-gray-100">   <span class="italic"> <b>*FTLD includes:</b> bvFTD or FTD, PPA (any subtype), CBS or CBD, PSP </span> </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>10</b> Psychiatric condition</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>11</b> Dementia of unknown etiology</td>
                <td rowspan="4" class="border-b border-gray-100">
                    <span class="italic">
                        <b>Abbreviations:</b> bvFTD = behavioral variant frontotemporal
                        dementia, CBS = corticobasal syndrome, CBD = corticobasal
                        degeneration, DLB = dementia with Lewy bodies, FTD =
                        frontotemporal dementia, PDD = Parkinson's disease with dementia,
                        PPA = primary progressive aphasia, PSP = progressive supranuclear
                        palsy
                    </span>
                </td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>12</b> Other</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100"><b>88</b> No secondary diagnosis</td>
            </tr>
            <tr class="border-b border-gray-100">
                <td class="border-b border-gray-100 pl-2 pr-8 pt-2" style="padding-left: 0">
                    <b>99</b> Specific diagnosis unknown <span class="italic">
                        (acceptable if method of
                        evaluation is not by exam or autopsy)
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            <b>YEAR OF BIRTH FOR FULL SIBLINGS & BIOLOGICAL CHILDREN:</b> If birth year is unknown, please provide an approximate
            year on <b>UDS Initial Visit Form A3</b> and <b>UDS Follow-up Visit Form A3</b> so that the sibling or child with unknown birth year ends
            up in correct birth order relative to the other siblings/children
        </p>

    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            <span class="italic">
                <i>Example:</i> A participant is the oldest of three children. The participant was born in 1940 and the middle sibling in 1943;
                the youngest sibling’s birth year is unknown. An approximate birth year of 1944 or later should be assigned to the youngest sibling.
            </span>
        </p>
    </div>

    <div>
        <p class="mt-16 text-base leading-7 text-gray-900">
            Use that same birth year on <b>FTLD Module Form A3a</b> <span class="italic">
                , if applicable,
            </span> and across all UDS visits so that any new
            information on a particular sibling or child can be linked to previously submitted information. If it is impossible for the
            participant and co-participant to estimate the birth year, enter <b>9999=Unknown</b>.
        </p>
    </div>

    <!--// Siblings //-->
    <div>
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900">FULL SIBLINGS</h3>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="A3.SIBS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A3.SIBS)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A3.SIBS"></p>
                <input asp-for="@Model.A3.SIBS" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.SIBS"></span>
            </div>
        </div>

        <p class="mt-1 text-sm text-gray-500">
            <b>
                If participant has no full sibilings, SKIP TO QUESTION 3; <span class="italic">
                    otherwise, provide information on all full siblings.
                </span>
            </b>
            For any full sibling with a neurological or psychiatric diagnosis, the entire row <u>must be filled out.</u>
        </p>

        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <b>
                99 =
                Unknown
            </b> in the <b>Primary diagnosis</b> column, and  <span class="italic">
                skip the subsequent questions in the row.
            </span> For a full sibling with no neurological or
            psychiatric diagnosis, enter <b>00 = No known neurological/psychiatric diagnosis</b> in the <b>Primary diagnosis</b> column, and then <span class="italic">
                skip the subsequent questions in the row.
            </span> For a full sibling with a primary diagnosis but no secondary diagnosis, enter <b>
                88 = No secondary
                diagnosis
            </b> in the Secondary diagnosis column.
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-8 w-full text-left text-sm leading-6">
                <thead class="border-b border-gray-200 text-gray-900">
                    <tr>
                        <th></th>
                        <th rowspan="2" style="text-align:center">
                            Birth year <br />  <span class="italic" style="font-weight: normal;">
                                (9999= Unknown)
                            </span>
                        </th>
                        <th rowspan="2" style="text-align:center">
                            Age at death <br />
                            <span class="italic" style="font-weight: normal;">
                                (888=N/A, 999=Unknown)
                            </span>
                        </th>
                        <th>Primary dx*</th>
                        <th>Secondary Dx**</th>
                        <th>Method of evaluation**</th>
                        <th rowspan="2">
                            Age of onset of primary dx <br /><span class="italic" style="font-weight: normal;">
                                (999=unknown)
                            </span>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th colspan="3" style="border: 2px solid lightgrey; text-align: center; padding: 8px;">******SEE LIST OF CODES******</th>

                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.A3.Siblings.Count(); i++)
                    {
                        @Html.EditorFor(m => m.A3.Siblings[i])
                    }
                </tbody>
            </table>
        </div>
    </div>


    <!--// Children //-->
    <div>
        <h3 class="mt-16 text-base font-semibold leading-7 text-gray-900">BIOLOGICAL CHILDREN</h3>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="A3.KIDS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A3.KIDS)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A3.KIDS"></p>
                <input asp-for="@Model.A3.KIDS" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A3.KIDS"></span>
            </div>
        </div>

        <p class="mt-1 text-sm text-gray-500">
            If participant has no biological children, <strong>END FORM HERE</strong>; <span class="italic">otherwise, provide information on all biological children.</span>
        </p>


        <p class="mt-1 text-sm text-gray-500">
            For any biological child with a neurological or psychiatric diagnosis, the entire row <u>must be filled out.</u>
        </p>

        <p class="mt-1 text-sm text-gray-500">
            If the clinician cannot determine the primary neurological/psychiatric diagnosis after reviewing all available evidence, enter <b>
                99 =
                Unknown
            </b> in the <b>Primary diagnosis</b> column, and  <span class="italic"> skip the subsequent questions in the row.</span> For a biological child with no neurological
            or psychiatric diagnosis, enter <b>00 = No known neurological/psychiatric diagnosis</b> in the Primary diagnosis column, and then  <span class="italic">
                skip the subsequent questions in the row.
            </span> For a biological child with a primary diagnosis but no secondary diagnosis, enter <b>
                88 = No
                secondary diagnosis
            </b> in the Secondary diagnosis column.
        </p>

        <div class="subcounterreset m-2">
            <table class="mt-8 w-full text-left text-sm leading-6">
                <thead class="border-b border-gray-200 text-gray-900">
                    <tr>
                        <th></th>
                        <th rowspan="2" style="text-align:center">
                            Birth year <br />
                            <span class="italic" style="font-weight: normal;">
                                (9999= Unknown)
                            </span>
                        </th>
                        <th rowspan="2" style="text-align:center">
                            Age at death <br />

                            <span class="italic" style="font-weight: normal;">


                                (888=N/A, 999=Unknown)

                            </span>
                        </th>
                        <th>Primary dx*</th>
                        <th>Secondary Dx**</th>
                        <th>Method of evaluation**</th>
                        <th rowspan="2">
                            Age of onset of primary dx <br />
                            <span class="italic" style="font-weight: normal;">

                                (999=unknown)

                            </span>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th colspan="3" style="border: 2px solid lightgrey; text-align: center; padding: 8px;">******SEE LIST OF CODES******</th>

                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.A3.Children.Count(); i++)
                    {
                        @Html.EditorFor(m => m.A3.Children[i])
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="_FormFooter" for="@Model.A3" />

@section Scripts {
    <script src="~/_content/UDS.Net.Forms/js/A3.js"></script>
}
