@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A4Model
@{
    Layout = "_Layout";

}

<p class="mt-1 text-sm text-gray-500">
    INSTRUCTIONS: This form is to be completed by the clinician or ADRC staff. The purpose of this form is to record all prescription medications taken by the participant within the <strong>two weeks before the current visit.</strong> If the participant is receiving any treatments known to significantly impact Alzheimer disease and related dementias (ADRD) biomarkers as part of their clinical care at the time of clinical assessment (e.g., they are receiving aducanumab infusions), the treatment should be included on both this form and the A4a ADRD–Specific Treatments form. For prescription medications not listed here, please follow the instructions at the end of this form. OTC (non-prescription) medications need not be reported; however, a short list of medications that could be either prescription or OTC follows the prescription list. For additional clarification and examples, see <guidebook kind="@Model.Visit.PACKET"></guidebook> for <strong>Form A4.</strong>
</p>

<div data-controller="selectAndCheck">
    <div class="mt-10 space-y-8 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="A4.ANYMEDS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A4.ANYMEDS)</label>
            <div class="mt-4 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A4.ANYMEDS"></p>
                <radio-button-group form="UDSForm" id="@Html.IdFor(m => m.A4.ANYMEDS)" for="@Model.A4.ANYMEDS" items="Model.MedicationsWithinLastTwoWeeksListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A4.ANYMEDS"></span>
            </div>
            <div class="">
                <partial name="../RxNorm/_RxNormSearch" />
                <partial name="../RxNorm/_RxNormSelect" />
            </div>
        </div>
    </div>
    <form method="post" id="UDSForm">
        <input name="Enum.FormMode.NotCompleted" value="@(((int)FormMode.NotCompleted).ToString())" type="hidden" />
        <input name="Enum.FormStatus.Finalized" value="@(((int)FormStatus.Finalized).ToString())" type="hidden" />
        <input asp-for="Visit.Id" type="hidden" />
        <input asp-for="Visit.ParticipationId" type="hidden" />
        <input asp-for="Visit.VISITNUM" type="hidden" />
        <input asp-for="Visit.PACKET" type="hidden" />
        <input asp-for="Visit.FORMVER" type="hidden" />
        <input asp-for="Visit.VISIT_DATE" type="hidden" />
        <input asp-for="Visit.INITIALS" type="hidden" />
        <input asp-for="Visit.Status" type="hidden" />
        <input asp-for="Visit.CreatedAt" type="hidden" />
        <input asp-for="Visit.CreatedBy" type="hidden" />
        <input asp-for="Visit.ModifiedBy" type="hidden" />
        <input asp-for="Visit.DeletedBy" type="hidden" />
        <input asp-for="Visit.IsDeleted" type="hidden" />

        <div class="counterreset space-y-12 sm:space-y-16 mt-2">
            <partial name="_A4" for="@Model" />
            <partial name="_FormFooter" for="@Model.A4" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/_content/UDS.Net.Forms/js/A4.js"></script>
}
