@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A4Model
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;

}

<div class="">
    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

        <aside class="py-6 lg:col-span-3">
            <nav class="space-y-1">

                @if (Model.Visit != null && Model.Visit.Forms != null)
                {
                    <partial name="_NavSidebarForms" model="@Model.Visit" />
                }

            </nav>
        </aside>

        <main class="lg:col-span-9 px-5 py-6">
            <partial name="_FormBreadcrumb" />

            <div class="mx-auto max-w-12xl">
                <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="min-w-0 flex-1">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">@(Model.BaseForm.GetType().Name): @Model.BaseForm.Description</h2>
                        <partial name="_FormMeta" />
                    </div>
                </div>
            </div>

            <p class="mt-1 text-sm text-gray-500">
                INSTRUCTIONS: This form is to be completed by the clinician or ADRC staff. The purpose of this form is to record all prescription medications taken by the participant within the <strong>two weeks before the current visit.</strong> If the participant is receiving any treatments known to significantly impact Alzheimer disease and related dementias (ADRD) biomarkers as part of their clinical care at the time of clinical assessment (e.g., they are receiving aducanumab infusions), the treatment should be included on both this form and the A4a ADRD–Specific Treatments form. For prescription medications not listed here, please follow the instructions at the end of this form. OTC (non-prescription) medications need not be reported; however, a short list of medications that could be either prescription or OTC follows the prescription list. For additional clarification and examples, see <guidebook kind="@Model.Visit.PACKET"></guidebook> for <strong>Form A4.</strong>
            </p>

            <div data-controller="a4" data-a4-url-value="../A4/@Model.Visit.Id?handler=RxNormSelect" data-a4-reset-value="../A4/@Model.Visit.Id?handler=RxNormSearch&searchTerm=">
                <div class="mt-10 space-y-8 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="A4.ANYMEDS"><span class="counter"></span> @Html.DisplayNameFor(m => m.A4.ANYMEDS)</label>
                        <div class="mt-4 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.A4.ANYMEDS"></p>
                            <radio-button-group form="UDSForm" id="@Html.IdFor(m => m.A4.ANYMEDS)" for="@Model.A4.ANYMEDS" items="Model.MedicationsWithinLastTwoWeeksListItems" data-a4-target="anyMeds" data-action="a4#setEnabledDisabledState"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4.ANYMEDS"></span>
                        </div>
                        <div>
                            <partial name="../RxNorm/_RxNormSearch" model="Model.RxNormLookup" />
                        </div>
                    </div>
                </div>
                <form method="post" id="UDSForm" data-turbo="false">
                    <input name="Enum.FormMode.NotCompleted" value="@(((int)FormMode.NotCompleted).ToString())" type="hidden" />
                    <input name="Enum.FormStatus.Finalized" value="@(((int)FormStatus.Finalized).ToString())" type="hidden" />
                    <input asp-for="Visit.Id" type="hidden" />
                    <input asp-for="Visit.ParticipationId" type="hidden" />
                    <input asp-for="Visit.VISITNUM" type="hidden" />
                    <input asp-for="Visit.PACKET" type="hidden" />
                    <input asp-for="Visit.FORMVER" type="hidden" />
                    <input asp-for="Visit.VISIT_DATE" type="hidden" />
                    <input asp-for="Visit.INITIALS" type="hidden" />
                    <input asp-for="Visit.Status" type="hidden" />
                    <input asp-for="Visit.CreatedAt" type="hidden" />
                    <input asp-for="Visit.CreatedBy" type="hidden" />
                    <input asp-for="Visit.ModifiedBy" type="hidden" />
                    <input asp-for="Visit.DeletedBy" type="hidden" />
                    <input asp-for="Visit.IsDeleted" type="hidden" />
                    <!--// in case the form is returned with validation errors, we need to persist the temp cache //-->
                    <input asp-for="RxNormLookup.VisitId" type="hidden" />
                    <div class="counterreset space-y-12 sm:space-y-16 mt-2">
                        <div id="A4">
                            <partial name="_A4" />
                        </div>
                        <partial name="_FormFooter" for="@Model.A4" />
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
