@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A4aModel
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
    string checkboxCSS = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        <span class="italic">INSTRUCTIONS: This form should be used to record treatments expected to significantly impact Alzheimer disease and related dementias (ADRD) biomarkers, whether a disease-modifying treatment that is FDA-approved for ADRD and received as part of clinical care or an investigational treatment received as part of a clinical trial. For treatments received as part of clinical care, only those that are FDA-approved for disease-modification of ADRD should be included on this form. If the participant is receiving one of these treatments as part of their clinical care at the time of clinical assessment (e.g., they are receiving lecanemab infusions), the treatment should be included on both this form and the A4 Medication form. Participation in any ADRD drug trial over an individual's lifetime should be included. If available, the ClinicalTrials.gov identifier should be entered into the "specific treatment and/or trial" cell. Information on the type of treatment can be found via ClinicalTrials.gov and is summarized in "</span>Alzheimer's disease drug development pipeline." 1 <span class="italic">This form should be completed by the clinician based on participant interview and/or co-participant report. For additional clarification and examples, see </span> <span class="bold"> <guidebook kind="@Model.Visit.PACKET"></guidebook> </span>  for <strong>Form A4a</strong>. <span class="italic">Check only <span class="underline">one</span> box per question, unless otherwise stated.</span>
    </p>
</div>

<div class="@rowCSS">
    <label asp-for="A4a.TRTBIOMARK"><span class="counter"></span> @Html.DisplayNameFor(m => m.A4a.TRTBIOMARK)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.A4a.TRTBIOMARK"></p>
        <radio-button-group id="@Html.IdFor(m => m.A4a.TRTBIOMARK)" for="@Model.A4a.TRTBIOMARK" items="Model.TRTBIOMARKListItems" ui-behaviors="Model.TRTBIOMARKUIBehavior"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.TRTBIOMARK"></span>
        <submission-error location="TRTBIOMARK" errors="Model.BaseForm.UnresolvedErrors" />
    </div>
</div>

<div class="overflow-x-auto">
    <span class="counter text-base font-semibold text-gray-900">
        Please provide information about the clinical treatment(s) and/or trial(s)
    </span>
    <p class="font-style: italic  text-gray-500">
        (If participant is exposed to more than two treatments and/or trials, use extended table below)
    </p>
    <table class="min-w-full divide-y border border-grey divide-gray-100">
        <thead class="bg-gray-200 border-b border-black divide-gray-100">
            <tr>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900 ">
                    <p>Primary Drug Target </p>
                    <p><span class="text-gray-400 italic">(check all that apply)</span></p>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Specific treatment and/or trial
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Start date <span class="text-gray-400 italic">(month/year)</span>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    <div>
                        End date <span class="text-gray-400 italic">(month/year)</span>
                    </div>
                    <div>
                        <span class="text-gray-400 italic">(88/8888 = ongoing)</span>
                    </div>
                    <div>
                        <span class="text-gray-400 italic">(99/9999 = unknown)</span>
                    </div>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    How was the treatment provided?
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    If clinical trial, in which group was the participant?
                </th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
            @for (int i = 0; i < 2; i++)
            {
                @Html.EditorFor(m => m.A4a.Treatments[i])
            }
        </tbody>
    </table>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="A4a.ADVEVENT"><span class="counter"></span> @Html.DisplayNameFor(m => m.A4a.ADVEVENT)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.A4a.ADVEVENT"></p>
        <radio-button-group id="@Html.IdFor(m => m.A4a.ADVEVENT)" for="@Model.A4a.ADVEVENT" items="Model.ADVEVENTListItems" ui-behaviors="Model.ADVEVENTUIBehavior"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVEVENT"></span>
        <submission-error location="ADVEVENT" errors="Model.BaseForm.UnresolvedErrors" />
    </div>
</div>

<div class="subcounterreset ml-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <div>
        <label class="text-base font-semibold text-gray-900">
            <span class="subcounter"></span>What major adverse events associated with treatments expected to modify ADRD biomarkers did they experience? (check all that apply)
        </label><br />
        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.AdverseEventsIndicated"></span>
        <submission-error location="AdverseEventsIndicated" errors="Model.BaseForm.UnresolvedErrors" />
    </div>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <fieldset class="">
            <div class="space-y-1 subsubcounterreset">
                <div class="relative flex items-start">
                    <span class="subsubcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("A4a.ARIAE", Model.A4a.ARIAE, new { @class = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="A4a.ARIAE" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ARIAE)</label>
                    </div>
                </div>

                <div class="relative flex items-start">
                    <span class="subsubcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("A4a.ARIAH", Model.A4a.ARIAH, new { @class = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="A4a.ARIAH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ARIAH)</label>
                    </div>
                </div>

                <div class="relative flex items-start">
                    <span class="subsubcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none", data_affects = "true", data_affects_toggle_targets = "[ \"A4a.ADVERSEOTX\" ]" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                    </div>
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                <submission-error location="ADVERSEOTH" errors="Model.BaseForm.UnresolvedErrors" />

                <div class="ml-6">
                    <label asp-for="A4a.ADVERSEOTX">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTX)</label>
                    <input asp-for="A4a.ADVERSEOTX" />
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTX"></span>
                    <submission-error location="ADVERSEOTX" errors="Model.BaseForm.UnresolvedErrors" />
                </div>
            </div>
        </fieldset>
    </div>
</div>


<div class="overflow-x-auto">
    <table class="min-w-full divide-y border border-grey divide-gray-100">
        <span class="text-base font-semibold text-gray-900">
            2. Please provide information about the clinical treatment(s) and/or trial(s)
        </span>
        <thead class="bg-gray-200 border-b border-black divide-gray-100">
            <tr>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900 ">
                    <p>Primary Drug Target </p>
                    <p><span class="text-gray-400 italic">(check all that apply)</span></p>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Specific treatment and/or trial
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Start date <span class="text-gray-400 italic">(month/year)</span>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    <div>
                        End date <span class="text-gray-400 italic">(month/year)</span>
                    </div>
                    <div>
                        <span class="text-gray-400 italic">(88/8888 = ongoing)</span>
                    </div>
                    <div>
                        <span class="text-gray-400 italic">(99/9999 = unknown)</span>
                    </div>
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    How was the treatment provided?
                </th>
                <th class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    If clinical trial, in which group was the participant?
                </th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
            @for (int i = 2; i < Model.A4a.Treatments.Count(); i++)
            {
                @Html.EditorFor(model => model.A4a.Treatments[i])
            }
        </tbody>
    </table>
</div>

<partial name="_FormFooter" for="@Model.A4a" />

@section Scripts {
    <script src="~/_content/UDS.Net.Forms/js/A4a.js"></script>
}