@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A4aModel
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form should be used to record treatments known to significantly impact Alzheimer disease and related dementias (ADRD) biomarkers, whether received as part of clinical care or a clinical trial. If the participant is receiving one of these treatments as part of their clinical care at the time of clinical assessment (e.g., they are receiving aducanumab infusions), the treatment should be included on both this form and the A4 Medication form. Participation in any ADRD drug trial over an individual's lifetime should be included. If available, the ClinicalTrials.gov identifier should be entered into the "specific treatment and/or trial" cell. Information on the type of treatment can be found via ClinicalTrials.gov and is summarized in "Alzheimer's disease drug development pipeline." 1 This form should be completed based on participant interview and/or co-participant report. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook> for <strong>Form A4a</strong>. Check only <span class="underline">one</span> box per question, unless otherwise stated
    </p>
</div>

<div class="@rowCSS">
    <label asp-for="A4a.TRTBIOMARK"><span class="counter"></span> @Html.DisplayNameFor(m => m.A4a.TRTBIOMARK)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.A4a.TRTBIOMARK"></p>
        <radio-button-group id="@Html.IdFor(m => m.A4a.TRTBIOMARK)" for="@Model.A4a.TRTBIOMARK" items="Model.TRTBIOMARKListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.TRTBIOMARK"></span>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <span class="counter text-base font-semibold text-gray-900">
            Please provide information about the clinical treatment(s) and/or trial(s)
        </span>
        <p class="text-gray-400"><i>(If participant is exposed to more than two treatments and/or trials, use extended table):</i></p>
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    <p>Primary Drug Target </p>
                    <p><i class="text-gray-400">(check all that apply)</i></p>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Specific treatment and/or trial
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    Start date <i class="text-gray-400">(month/year)</i>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    End date <i class="text-gray-400">(month/year)</i>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    How was the treatment provided?
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-semibold text-gray-900">
                    If clinical trial, in which group was the participant?
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            @*@for (var i = 0; i < Model.A4a.Treatment1.Count(); i++)
        {
            @Html.EditorFor(m => m.A4a.Treatment1[i])
        }*@

            <tr class="border-b border-gray-100">
                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("A4a.ADVERSEOTH", Model.A4a.ADVERSEOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="A4a.ADVERSEOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.A4a.ADVERSEOTH)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                </td>

                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="relative flex items-start">
                        <span class="mr-3 block font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                    <input class="mr-3 block font-medium leading-6 text-gray-900" type="text" />
                </td>

                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" placeholder="MM" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" placeholder="YYYY" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                </td>

                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" placeholder="MM" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <input asp-for="A4a.ADVERSEOTH" placeholder="YYYY" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                        </div>
                    </div>
                </td>

                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="mt-4 sm:col-span-2 sm:mt-0 space-y-1">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.A4a.ADVERSEOTH"></p>
                        <radio-button-group id="@Html.IdFor(m => m.A4a.ADVERSEOTH)" for="@Model.A4a.ADVERSEOTH" items="Model.CARETRIALListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                    </div>
                </td>

                <td class="px-6 py-3 border-r border-gray-300">
                    <div class="mt-4 sm:col-span-2 sm:mt-0 space-y-1">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.A4a.ADVERSEOTH"></p>
                        <radio-button-group id="@Html.IdFor(m => m.A4a.ADVERSEOTH)" for="@Model.A4a.ADVERSEOTH" items="Model.TRIALGRPistItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A4a.ADVERSEOTH"></span>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<partial name="_FormFooter" for="@Model.A4a" />