@* TODO:
- Subcounter for 1j1 and 1j2 are hardcoded for now, create a new class for this situation
- radio options in the section 2 table aren't centered in the cell
*@

@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A5D2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by the clinician or ADRC staff based on the medical history interview with the participant
        and co-participant, as well as review of any medical records that are available. Any new conditions identified during the visit should
        be included on the form. For additional clarification and examples, see UDS Coding Guidebook for Form A5/D2. Check only one box per question,
        unless otherwise stated.
    </p>
</div>
<div class="counterreset">
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        @* section 1 *@
        <div>
            <span class="counter invisible"></span>
            <span class="subcounterreset invisible"></span>
            <div class="text-3xl my-10">Section 1 - Cigarette smoking, alcohol, and substance use</div>
            <div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Cigarette smoking
                    </div>
                    <div>
                        <div class="@rowCSS">
                            <label asp-for="@Model.A5D2.TOBAC100"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.TOBAC100)<br><span class="font-bold">(IF NO OR UNKNOWN, SKIP TO QUESTION 1f)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.TOBAC100"></p>
                                <radio-button-group class="&>div" id="@Html.IdFor(m => m.A5D2.TOBAC100)" for="@Model.A5D2.TOBAC100" items="Model.NoToUnknownItems" ui-behaviors="Model.TOBAC100UIBehavior"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.TOBAC100"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.SMOKYRS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.SMOKYRS) <span class="font-bold">(99 = Unknown)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SMOKYRS"></p>
                                <input asp-for="@Model.A5D2.SMOKYRS" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SMOKYRS"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.PACKSPER"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.PACKSPER)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.PACKSPER"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.PACKSPER)" for="@Model.A5D2.PACKSPER" items="Model.SmokingFrequencyListItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PACKSPER"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.TOBAC30"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.TOBAC30)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.TOBAC30"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.TOBAC30)" for="@Model.A5D2.TOBAC30" items="Model.NoToUnknownItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.TOBAC30"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.QUITSMOK"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.QUITSMOK)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.QUITSMOK"></p>
                                <input asp-for="@Model.A5D2.QUITSMOK" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.QUITSMOK"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Alcohol use
                    </div>
                    <div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCFREQYR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCFREQYR)</br><span class="font-bold">(IF NEVER OR UNKNOWN, SKIP TO QUESTION 11)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCFREQYR"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCFREQYR)" for="@Model.A5D2.ALCFREQYR" items="Model.ALCFREQYRItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCFREQYR"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCDRINKS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCDRINKS)</br><span class="italic"><span class="font-bold">(Standard drink:</span> 12oz of regular beer, 5oz of wine, 1.5oz of distilled spirits)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCDRINKS"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCDRINKS)" for="@Model.A5D2.ALCDRINKS" items="Model.ALCDRINKSItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCDRINKS"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCBINGE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCBINGE)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCBINGE"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCBINGE)" for="@Model.A5D2.ALCBINGE" items="Model.ALCBINGEItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCBINGE"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Substance abuse
                    </div>
                    <div>
                        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                            <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span>Has the participant used substances including prescription or recreational drugs that caused significant impairment in one or more of the following
                            areas: work, driving, legal, social, or others.</label>
                        </div>
                        <div class="pl-5">
                            <div class="@rowCSS">
                                <label asp-for="@Model.A5D2.SUBSTYEAR"><span>1i1.</span> @Html.DisplayNameFor(m => m.A5D2.SUBSTYEAR)</label>
                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SUBSTYEAR"></p>
                                    <radio-button-group class="&>div" id="@Html.IdFor(m => m.A5D2.SUBSTYEAR)" for="@Model.A5D2.SUBSTYEAR" items="Model.NoToUnknownItems"></radio-button-group>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SUBSTYEAR"></span>
                                </div>
                            </div>
                            <div class="@rowCSS">
                                <label asp-for="@Model.A5D2.SUBSTPAST"><span>1i2.</span> @Html.DisplayNameFor(m => m.A5D2.SUBSTPAST)</label>
                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SUBSTPAST"></p>
                                    <radio-button-group class="&>div" id="@Html.IdFor(m => m.A5D2.SUBSTPAST)" for="@Model.A5D2.SUBSTPAST" items="Model.NoToUnknownItems"></radio-button-group>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SUBSTPAST"></span>
                                </div>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.CANNABIS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CANNABIS)</br><span class="italic">(edibles, smoked, or vaporized)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.CANNABIS"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.CANNABIS)" for="@Model.A5D2.CANNABIS" items="Model.CANNABISItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CANNABIS"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                <div>
                    <p>
                        <span class="font-bold">In the following sections <span class="italic">(pages 2-7)</span></span> record the presence or absence of a <span class="underline font-bold">history of these conditions</span>
                        , as determined by the clinician's best judgment following the medical history interview with the participant and co-participant.</br>
                        <span class="italic">A CONDITION SHOULD BE CONSIDERED...</span>
                    </p>
                </div>
                <div>
                    <table class="border table-fixed min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-700">
                            <tr class="divide-x divide-gray-200 dark:divide-gray-700">
                                <th class="col">Absent:</th>
                                <th class="col">Recent/Active:</th>
                                <th class="col">Remote/Inactive:</th>
                                <th class="col">Unknown (UNK)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="divide-x divide-gray-200 dark:divide-gray-700">
                                <td>
                                    <div class="p-4">
                                        It has never been present
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        It happened within the last year or still requires active management
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        It existed or occured in the past <span class="italic">(more than one year ago)</span>but was resolved or there is no treatment currently under 
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        There is insufficient information available to assess this 
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-3xl my-10">Section 2 - Cardiovascular disease</div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4">
                <table class="table-fixed border divide-y">
                    <thead class="bg-gray-50 dark:bg-gray-500">
                        <tr class="divide-x">
                            <th colspan="4"></th>
                            <th class="col">ABSENT</th>
                            <th class="col">RECENT/ACTIVE</th>
                            <th class="col">REMOTE/INACTIVE</th>
                            <th class="col">UNKNOWN</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y subcounterreset">
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.HRTATTACK"><span class="counter invisible"></span><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HRTATTACK)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2b)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HRTATTACK)" for="@Model.A5D2.HRTATTACK" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.HRTATTMULT">2a1. @Html.DisplayNameFor(m => m.A5D2.HRTATTMULT)</label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HRTATTMULT)" for="@Model.A5D2.HRTATTMULT" items="Model.NoToUnknownItems"></table-cell-radio-buttons>
                        </tr>
                        <!-- string input example -->
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.HRTATTAGE">2a2. @Html.DisplayNameFor(m => m.A5D2.HRTATTAGE)</label></td>
                            <td colspan="4">
                                <input asp-for="A5D2.HRTATTAGE" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HRTATTAGE"></span>
                            </td>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CARDARREST"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CARDARREST)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2c)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CARDARREST)" for="@Model.A5D2.CARDARREST" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.CARDARRAGE">2b1. @Html.DisplayNameFor(m => m.A5D2.CARDARRAGE) <span class="font-bold">(999 = Unknown)</span></label></td>
                            <td colspan="4">
                                <input asp-for="A5D2.CARDARRAGE" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CARDARRAGE"></span>
                            </td>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVAFIB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVAFIB)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2c)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVAFIB)" for="@Model.A5D2.CVAFIB" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVANGIO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVANGIO)</label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVANGIO)" for="@Model.A5D2.CVANGIO" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVBYPASS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVBYPASS)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2f)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVBYPASS)" for="@Model.A5D2.CVBYPASS" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.BYPASSAGE">2e1. @Html.DisplayNameFor(m => m.A5D2.BYPASSAGE)</label></td>
                            <td colspan="4">
                                <input asp-for="A5D2.BYPASSAGE" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.BYPASSAGE"></span>
                            </td>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVPACDEF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVPACDEF)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2g)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVPACDEF)" for="@Model.A5D2.CVPACDEF" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.PACDEFAGE">2f1. @Html.DisplayNameFor(m => m.A5D2.PACDEFAGE)</label></td>
                            <td colspan="4">
                                <input asp-for="A5D2.PACDEFAGE" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PACDEFAGE"></span>
                            </td>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVCHF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVCHF)</label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVCHF)" for="@Model.A5D2.CVCHF" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4"><label asp-for="A5D2.CVHVALVE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVHVALVE)</br><span class="font-bold">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2i)</span></label></td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVHVALVE)" for="@Model.A5D2.CVHVALVE" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                        <tr>
                            <td colspan="4" class="pl-20"><label asp-for="A5D2.VALVEAGE">@Html.DisplayNameFor(m => m.A5D2.VALVEAGE) <span class="font-bold">(999 = Unknown)</span></label></td>
                            <td colspan="4">
                                <input asp-for="A5D2.VALVEAGE" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.VALVEAGE"></span>
                            </td>
                        </tr>
                        <tr class="divide-x">
                            <td colspan="4" class="p-4">
                                <label asp-for="A5D2.CVOTHR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVOTHR)</br><span class="font-bold">(SPECIFY)</span></label>
                                <input asp-for="A5D2.CVOTHRX" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVOTHR"></span>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVOTHRX"></span>
                            </td>
                            <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVOTHR)" for="@Model.A5D2.CVOTHR" items="Model.ZeroToTwoOrNineItems"></table-cell-radio-buttons>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>