@* TODO:
- Subcounter for 1j1 and 1j2 are hardcoded for now, create a new class for this situation = use subsub counter
- should i reformat 2i? since the radios fall within the table? Move the string input underneath?
- 4g3 other question input box? 
- make sure that all answers have a correctly styled numbering circle
- attempt to get the subcounters working for 4g1 sub questions
*@

@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.A5D2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by the clinician or ADRC staff based on the medical history interview with the participant
        and co-participant, as well as review of any medical records that are available. Any new conditions identified during the visit should
        be included on the form. For additional clarification and examples, see UDS Coding Guidebook for Form A5D2/D2. Check only one box per question,
        unless otherwise stated.
    </p>
</div>
<div class="counterreset">
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        @* section 1 *@
        <div>
            <span class="counter invisible"></span>
            <span class="subcounterreset invisible"></span>
            <div class="text-3xl my-10">Section 1 - Cigarette smoking, alcohol, and substance use</div>
            <div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Cigarette smoking
                    </div>
                    <div>
                        <div class="@rowCSS">
                            <label asp-for="@Model.A5D2.TOBAC100"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.TOBAC100)<br><span class="font-bold">(IF NO OR UNKNOWN, SKIP TO QUESTION 1f)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.TOBAC100"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.TOBAC100)" for="@Model.A5D2.TOBAC100" items="Model.BasicYesNoListItems" ui-behaviors="Model.TOBAC100UIBehavior"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.TOBAC100"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.SMOKYRS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.SMOKYRS) <span class="font-bold">(99 = Unknown)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SMOKYRS"></p>
                                <input asp-for="@Model.A5D2.SMOKYRS" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SMOKYRS"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.PACKSPER"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.PACKSPER)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.PACKSPER"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.PACKSPER)" for="@Model.A5D2.PACKSPER" items="Model.SmokingFrequencyListItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PACKSPER"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.TOBAC30"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.TOBAC30)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.TOBAC30"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.TOBAC30)" for="@Model.A5D2.TOBAC30" items="Model.BasicYesNoListItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.TOBAC30"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.QUITSMOK"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.QUITSMOK)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.QUITSMOK"></p>
                                <input asp-for="@Model.A5D2.QUITSMOK" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.QUITSMOK"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Alcohol use
                    </div>
                    <div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCFREQYR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCFREQYR)</br><span class="font-bold">(IF NEVER OR UNKNOWN, SKIP TO QUESTION 11)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCFREQYR"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCFREQYR)" for="@Model.A5D2.ALCFREQYR" items="Model.ALCFREQYRItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCFREQYR"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCDRINKS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCDRINKS)</br><span class="italic"><span class="font-bold">(Standard drink:</span> 12oz of regular beer, 5oz of wine, 1.5oz of distilled spirits)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCDRINKS"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCDRINKS)" for="@Model.A5D2.ALCDRINKS" items="Model.ALCDRINKSItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCDRINKS"></span>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.ALCBINGE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ALCBINGE)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ALCBINGE"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.ALCBINGE)" for="@Model.A5D2.ALCBINGE" items="Model.ALCBINGEItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ALCBINGE"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-2xl text-indigo-300">
                        Substance abuse
                    </div>
                    <div>
                        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                            <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span>Has the participant used substances including prescription or recreational drugs that caused significant impairment in one or more of the following
                            areas: work, driving, legal, social, or others.</label>
                        </div>
                        <div class="pl-5">
                            <div class="@rowCSS">
                                <label asp-for="@Model.A5D2.SUBSTYEAR"><span>1i1.</span> @Html.DisplayNameFor(m => m.A5D2.SUBSTYEAR)</label>
                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SUBSTYEAR"></p>
                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.SUBSTYEAR)" for="@Model.A5D2.SUBSTYEAR" items="Model.BasicYesNoListItems"></radio-button-group>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SUBSTYEAR"></span>
                                </div>
                            </div>
                            <div class="@rowCSS">
                                <label asp-for="@Model.A5D2.SUBSTPAST"><span>1i2.</span> @Html.DisplayNameFor(m => m.A5D2.SUBSTPAST)</label>
                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SUBSTPAST"></p>
                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.SUBSTPAST)" for="@Model.A5D2.SUBSTPAST" items="Model.BasicYesNoListItems"></radio-button-group>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SUBSTPAST"></span>
                                </div>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="A5D2.CANNABIS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CANNABIS)</br><span class="italic">(edibles, smoked, or vaporized)</span></label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.CANNABIS"></p>
                                <radio-button-group id="@Html.IdFor(m => m.A5D2.CANNABIS)" for="@Model.A5D2.CANNABIS" items="Model.CANNABISItems"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CANNABIS"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
                <div>
                    <p>
                        <span class="font-bold">In the following sections <span class="italic">(pages 2-7)</span></span> record the presence or absence of a <span class="underline font-bold">history of these conditions</span>
                        , as determined by the clinician's best judgment following the medical history interview with the participant and co-participant.</br>
                        <span class="italic">A CONDITION SHOULD BE CONSIDERED...</span>
                    </p>
                </div>
                <div>
                    <table class="border table-fixed min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-700">
                            <tr class="divide-x divide-gray-200 dark:divide-gray-700">
                                <th class="col">Absent:</th>
                                <th class="col">Recent/Active:</th>
                                <th class="col">Remote/Inactive:</th>
                                <th class="col">Unknown (UNK)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="divide-x divide-gray-200 dark:divide-gray-700">
                                <td>
                                    <div class="p-4">
                                        It has never been present
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        It happened within the last year or still requires active management
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        It existed or occured in the past <span class="italic">(more than one year ago)</span>but was resolved or there is no treatment currently under 
                                    </div>
                                </td>
                                <td>
                                    <div class="p-4">
                                        There is insufficient information available to assess this 
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-3xl my-10">Section 2 - Cardiovascular disease</div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4">
                <div>
                    <div class="subcounterreset">
                        <table class="table-auto min-w-full">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var item in Model.ConditionsListItems)
                                    {
                                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @* regular 4 radios *@
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.HRTATTACK"><span class="counter invisible"></span><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HRTATTACK)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2b)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.HRTATTACK"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HRTATTACK"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HRTATTACK)" for="@Model.A5D2.HRTATTACK" items="Model.ConditionsListItems"></table-cell-radio-buttons>

                                </tr>
                                @* sub section *@
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 subsubcounterreset">
                                            @* sub radio buttons *@
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.HRTATTMULT"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HRTATTMULT)</label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HRTATTMULT"></p>
                                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.HRTATTMULT)" for="@Model.A5D2.HRTATTMULT" items="Model.BasicYesNoListItems"></radio-button-group>
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HRTATTMULT"></span>
                                                </div>
                                            </div>
                                            @* sub string input *@
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.PACDEFAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.PACDEFAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.PACDEFAGE"></p>
                                                    <input asp-for="@Model.A5D2.PACDEFAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PACDEFAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CARDARREST"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CARDARREST)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2c)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CARDARREST"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CARDARREST"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CARDARREST)" for="@Model.A5D2.CARDARREST" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 subsubcounterreset">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.CARDARRAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CARDARRAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.CARDARRAGE"></p>
                                                    <input asp-for="@Model.A5D2.CARDARRAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CARDARRAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVAFIB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVAFIB)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVAFIB"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVAFIB"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVAFIB)" for="@Model.A5D2.CVAFIB" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVANGIO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVANGIO)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVANGIO"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVANGIO"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVANGIO)" for="@Model.A5D2.CVANGIO" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVBYPASS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVBYPASS)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2f)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVBYPASS"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVBYPASS"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVBYPASS)" for="@Model.A5D2.CVBYPASS" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVPACDEF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVPACDEF)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2g)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVPACDEF"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVPACDEF"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVPACDEF)" for="@Model.A5D2.CVPACDEF" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 subsubcounterreset">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.HRTATTAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HRTATTAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HRTATTAGE"></p>
                                                    <input asp-for="@Model.A5D2.HRTATTAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HRTATTAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVCHF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVCHF)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVCHF"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVCHF"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVCHF)" for="@Model.A5D2.CVCHF" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVHVALVE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVHVALVE) </br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 2i)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVHVALVE"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVHVALVE"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVHVALVE)" for="@Model.A5D2.CVHVALVE" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 subsubcounterreset">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.VALVEAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.VALVEAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.VALVEAGE"></p>
                                                    <input asp-for="@Model.A5D2.VALVEAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.VALVEAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CVOTHR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVOTHR)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CVOTHR"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVOTHR"></span>
                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CVOTHR)" for="@Model.A5D2.CVOTHR" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 subsubcounterreset">
                                            <div></div>
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.CVOTHRX"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CVOTHRX) <span class="font-bold">(SPECIFY)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.CVOTHRX"></p>
                                                    <input asp-for="@Model.A5D2.CVOTHRX" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CVOTHRX"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-3xl my-10">Section 3 - Cerebrovascular disease</div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4">
                <div>
                    <div class="subcounterreset">
                        <table class="table-auto min-w-full">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var item in Model.ConditionsListItems)
                                    {
                                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="subsubcounterreset">
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CBSTROKE"><span class="counter invisible"></span><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CBSTROKE)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 3b)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CBSTROKE"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CBSTROKE"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CBSTROKE)" for="@Model.A5D2.CBSTROKE" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                @* sub section *@
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            @* sub radio buttons *@
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.STROKMUL"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.STROKMUL)</label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.STROKMUL"></p>
                                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.STROKMUL)" for="@Model.A5D2.STROKMUL" items="Model.BasicYesNoListItems"></radio-button-group>
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.STROKMUL"></span>
                                                </div>
                                            </div>
                                            @* sub string input *@
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.STROKAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.STROKAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.STROKAGE"></p>
                                                    <input asp-for="@Model.A5D2.STROKAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.STROKAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.STROKSTAT"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.STROKSTAT)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.STROKSTAT"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.STROKSTAT"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.STROKSTAT)" for="@Model.A5D2.STROKSTAT" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            @* sub radio buttons *@
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.ANGIOCP"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.ANGIOCP)</label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.ANGIOCP"></p>
                                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.ANGIOCP)" for="@Model.A5D2.ANGIOCP" items="Model.BasicYesNoListItems"></radio-button-group>
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.ANGIOCP"></span>
                                                </div>
                                            </div>
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.CAROTIDAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CAROTIDAGE)</br><span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.CAROTIDAGE"></p>
                                                    <input asp-for="@Model.A5D2.CAROTIDAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CAROTIDAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.CBTIA"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.CBTIA)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 4a)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.CBTIA"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.CBTIA"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.CBTIA)" for="@Model.A5D2.CBTIA" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.TIAAGE"><span class="subsubcounter subsubcounterreset"></span> @Html.DisplayNameFor(m => m.A5D2.TIAAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.TIAAGE"></p>
                                                    <input asp-for="@Model.A5D2.TIAAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.TIAAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-3xl my-10">Section 4 - Neurologic conditions</div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 subsubcounterreset">
                <div>
                    <div class="subcounterreset">
                        <table class="table-auto min-w-full">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var item in Model.ConditionsListItems)
                                    {
                                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.PD"><span class="counter invisible"></span><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.PD)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 4b)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.PD"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PD"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.PD)" for="@Model.A5D2.PD" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.PDAGE"><span class="subsubcounter subsubcounterreset"></span> @Html.DisplayNameFor(m => m.A5D2.PDAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.PDAGE"></p>
                                                    <input asp-for="@Model.A5D2.PDAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PDAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.PDOTHR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.PDOTHR)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 4c)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.PDOTHR"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PDOTHR"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.PDOTHR)" for="@Model.A5D2.PDOTHR" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.PDOTHRAGE"><span class="subsubcounter subsubcounterreset"></span> @Html.DisplayNameFor(m => m.A5D2.PDOTHRAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.PDOTHRAGE"></p>
                                                    <input asp-for="@Model.A5D2.PDOTHRAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.PDOTHRAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.SEIZURES"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.SEIZURES)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 4b)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.SEIZURES"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SEIZURES"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.SEIZURES)" for="@Model.A5D2.SEIZURES" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.SEIZNUM"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.SEIZNUM)</label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SEIZNUM"></p>
                                                    <radio-button-group id="@Html.IdFor(m => m.A5D2.SEIZNUM)" for="@Model.A5D2.SEIZNUM" items="Model.BasicYesNoListItems"></radio-button-group>
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SEIZNUM"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.SEIZAGE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.SEIZAGE) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.SEIZAGE"></p>
                                                    <input asp-for="@Model.A5D2.SEIZAGE" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.SEIZAGE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.HEADACHE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADACHE)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.HEADACHE"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADACHE"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HEADACHE)" for="@Model.A5D2.HEADACHE" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.MS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.MS)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.MS"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.MS"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.MS)" for="@Model.A5D2.MS" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.HYDROCEPH"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HYDROCEPH)</label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.HYDROCEPH"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HYDROCEPH"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HYDROCEPH)" for="@Model.A5D2.HYDROCEPH" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.HEADIMP"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADIMP)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 4h)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.HEADIMP"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADIMP"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.HEADIMP)" for="@Model.A5D2.HEADIMP" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr class="subsubcounterreset">
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label class="text-base font-semibold text-gray-900"><span class="subsubcounter"></span> Indicate the source(s) of exposure for repeated hits to the head: <span class="italic">(Check all that apply)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <fieldset>
                                                        <div class="space-y-5">
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1a.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPAMFOOT", Model.A5D2.IMPAMFOOT, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPAMFOOT" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1b.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPSOCCER", Model.A5D2.IMPSOCCER, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPSOCCER" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1c.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPHOCKEY", Model.A5D2.IMPHOCKEY, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPHOCKEY" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1d.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPBOXING", Model.A5D2.IMPBOXING, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPBOXING" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1e.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPSPORT", Model.A5D2.IMPSPORT, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPSPORT" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1f.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPIPV", Model.A5D2.IMPIPV, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPIPV" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1g.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPMILIT", Model.A5D2.IMPMILIT, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPMILIT" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1h.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPASSAULT", Model.A5D2.IMPASSAULT, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPASSAULT" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">4g1i.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPOTHER", Model.A5D2.IMPOTHER, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPOTHER" class="font-medium text-gray-900"></label>
                                                                </div>
                                                                <div class="w-full">
                                                                    <input asp-for="A5D2.IMPOTHERX" />
                                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.IMPOTHERX"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label asp-for="A5D2.IMPYEARS"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.IMPYEARS) <span class="font-bold">(999 = Unknown)</span></label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.IMPYEARS"></p>
                                                    <input asp-for="@Model.A5D2.IMPYEARS" />
                                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.IMPYEARS"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="@rowCSS">
                                            <label asp-for="@Model.A5D2.TOBAC100"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADINJURY)<br><span class="font-bold">(IF NO OR UNKNOWN, SKIP TO QUESTION 5a)</span></label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HEADINJURY"></p>
                                                <radio-button-group id="@Html.IdFor(m => m.A5D2.HEADINJURY)" for="@Model.A5D2.HEADINJURY" items="Model.BasicYesNoListItems"></radio-button-group>
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADINJURY"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="subsubcounterreset">
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.HEADINJUNC"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADINJUNC)</label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HEADINJUNC"></p>
                                                <radio-button-group id="@Html.IdFor(m => m.A5D2.HEADINJUNC)" for="@Model.A5D2.HEADINJUNC" items="Model.HeadInjuryPeriodItems"></radio-button-group>
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADINJUNC"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.HEADINJCON"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADINJCON)</label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HEADINJCON"></p>
                                                <radio-button-group id="@Html.IdFor(m => m.A5D2.HEADINJCON)" for="@Model.A5D2.HEADINJCON" items="Model.HeadInjuryPeriodItems"></radio-button-group>
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADINJCON"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.HEADINJNUM"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.HEADINJNUM)</label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.HEADINJNUM"></p>
                                                <radio-button-group id="@Html.IdFor(m => m.A5D2.HEADINJNUM)" for="@Model.A5D2.HEADINJNUM" items="Model.HEADINJNUMItems"></radio-button-group>
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.HEADINJNUM"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.FIRSTTBI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.FIRSTTBI) <span class="font-bold">(999 = Unknown)</span></label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.FIRSTTBI"></p>
                                                <input asp-for="@Model.A5D2.FIRSTTBI" />
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.FIRSTTBI"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.LASTTBI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.LASTTBI) <span class="font-bold">(999 = Unknown)</span></label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.LASTTBI"></p>
                                                <input asp-for="@Model.A5D2.LASTTBI" />
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.LASTTBI"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-3xl my-10">Section 5 - Medical conditions</div>
            <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 subsubcounterreset">
                <div>
                    <div class="subcounterreset">
                        <table class="table-auto min-w-full">
                            <thead>
                                <tr>
                                    <th></th>
                                    @foreach (var item in Model.ConditionsListItems)
                                    {
                                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label asp-for="A5D2.DIABETES"><span class="counter invisible"></span><span class="subcounter"></span> @Html.DisplayNameFor(m => m.A5D2.DIABETES)</br><span class="font-bold text-sm">(IF ABSENT OR UNKNOWN, SKIP TO QUESTION 5b)</span></label>
                                        <p class="text-sm text-gray-500" asp-description-for="A5D2.DIABETES"></p>
                                        <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.DIABETES"></span>

                                    </td>
                                    <table-cell-radio-buttons id="@Html.IdFor(m => m.A5D2.DIABETES)" for="@Model.A5D2.DIABETES" items="Model.ConditionsListItems"></table-cell-radio-buttons>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label asp-for="@Model.A5D2.DIABTYPE"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.A5D2.DIABTYPE)</label>
                                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                <p class="text-sm text-gray-500" asp-description-for="@Model.A5D2.DIABTYPE"></p>
                                                <radio-button-group id="@Html.IdFor(m => m.A5D2.DIABTYPE)" for="@Model.A5D2.DIABTYPE" items="Model.DIABTYPEItems"></radio-button-group>
                                                <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.DIABTYPE"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                @* <tr>
                                    <td colspan="4">
                                        <div class="m-2 @rowCSS">
                                            <label class="text-base font-semibold text-gray-900">
                                                <span class="subsubcounter"></span> Treated with</br><span class="italic">(Check all that apply)</span>
                                            </label>
                                            <p class="text-sm text-gray-500" asp-description-for="A5D2.DIABETES"></p>
                                            <span class="mt-2 text-sm text-red-600" asp-validation-for="A5D2.DIABETES"></span>
                                        </div>
                                    </td>
                                 </tr> *@
                                <tr>
                                    <td colspan="4">
                                        <div class="m-2">
                                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                                <label class="text-base font-semibold text-gray-900">
                                                    <span class="subsubcounter"></span> Treated with</br><span class="italic">(Check all that apply)</span>
                                                </label>
                                                <div class="mt-4 sm:col-span-2 sm:mt-0">
                                                    <fieldset>
                                                        <div class="space-y-5">
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">5a2a.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPAMFOOT", Model.A5D2.IMPAMFOOT, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPAMFOOT" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">5a2b.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPSOCCER", Model.A5D2.IMPSOCCER, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPSOCCER" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">5a2c.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPHOCKEY", Model.A5D2.IMPHOCKEY, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPHOCKEY" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                            <div class="relative flex items-start">
                                                                <div class="flex h-6 items-center">
                                                                    <label class="mr-3 block text-sm font-medium leading-6 text-gray-900" for="A5D2_CBTIA[1]">
                                                                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">5a2d.</span>
                                                                    </label>
                                                                    @Html.CheckBox("A5D2.IMPBOXING", Model.A5D2.IMPBOXING, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                                                                </div>
                                                                <div class="ml-3 text-sm leading-6">
                                                                    <label asp-for="A5D2.IMPBOXING" class="font-medium text-gray-900"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>