@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B1Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by the clinician. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form B1. Check only <span class="underline">one</span> box per question.
    </p>
</div>

<div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
    @if (Model.Visit != null)
    {
        @if (Model.Visit.Kind == VisitKind.IVP || Model.Visit.Kind == VisitKind.FVP)
        {
            <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3">Section 1 --- Participant vital signs and anthropomtrics </h3>
            <div class="@rowCSS">
                <label asp-for="B1.HEIGHT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HEIGHT)</label>
                <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HEIGHT"></p>
                    <input asp-for="@Model.B1.HEIGHT" type="number" step=".1" placeholder="0.0" min="36.0" max="88.8" />
                    <div class="ml-3">
                        <p class="text-base font-semibold">(88.8 = not assessed)</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HEIGHT"></span>
                    </div>
                </div>
            </div>
            <div class="@rowCSS">
                <label asp-for="B1.WEIGHT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.WEIGHT)</label>
                <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B1.WEIGHT"></p>
                    <input asp-for="@Model.B1.WEIGHT" />
                    <div class="ml-3">
                        <p class="text-base font-semibold">(888 = not assessed)</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.WEIGHT"></span>
                    </div>
                </div>
            </div>
        }
    }

    <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3"><b>Instructions for measuring waist and hip circumference in adults</b> </h3>

    <div class="container">
        <div>
            <img src="~/_content/UDS.Net.Forms/B1waist_circumference.png" />
        </div>
        <div class="text">
            <b>Waist circumference</b> should be measured at the midpoint between the
            lower margin of the last palpable rib and the top of the iliac crest, using
            a stretch resistant tape. <b>Hip circumference</b> should be measured around
            the widest portion of the buttocks, with the tape parallel to the floor.
            <br />
            <br />
            <u>For both measurements:</u> Participant should stand with feet close
            together, arms at the side and body weight evenly distributed, and
            should wear little clothing. The participant should be relaxed, and
            the measurements should be taken at the end of a normal expiration.
            Each measurement should be taken twice and entered here. If the
            difference between the two measurements exceeds 0.5 inches, the two
            measurements should be repeated.
        </div>
    </div>
    <div>
        <p class="counter">
            <strong><u>Enter two waist circumference measurements (inches):</u></strong>
        </p>


        <div class="subsubcounterreset">
            <div class="subcounterreset">
                <span class="subcounter invisible"></span>
                <div class="@rowCSS">
                    <label asp-for="B1.WAIST1"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.B1.WAIST1)</label>
                    <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B1.WAIST1"></p>
                        <input asp-for="@Model.B1.WAIST1" type="number" />
                        <div class="ml-3">
                            <p class="text-base font-semibold">(888=not assessed)</p>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.WAIST1"></span>
                        </div>
                    </div>
                </div>
                <div class="@rowCSS">
                    <label asp-for="B1.WAIST2"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.B1.WAIST2)</label>
                    <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B1.WAIST2"></p>
                        <input asp-for="@Model.B1.WAIST2" type="number" />
                        <div class="ml-3">
                            <p class="text-base font-semibold">(888=not assessed)</p>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.WAIST2"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <p class="counter">
            <strong><u>Enter two hip circumference measurements (inches):</u></strong>
        </p>

        <div class="subsubcounterreset">
            <div class="subcounterreset">
                <span class="subcounter invisible"></span>
                <div class="@rowCSS">
                    <label asp-for="B1.HIP1"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.B1.HIP1)</label>
                    <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HIP1"></p>
                        <input asp-for="@Model.B1.HIP1" type="number" />
                        <div class="ml-3">
                            <p class="text-base font-semibold">(888=not assessed)</p>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HIP1"></span>
                        </div>
                    </div>
                </div>
                <div class="@rowCSS">
                    <label asp-for="B1.HIP2"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.B1.HIP2)</label>
                    <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HIP2"></p>
                        <input asp-for="@Model.B1.HIP2" type="number" />
                        <div class="ml-3">
                            <p class="text-base font-semibold">(888=not assessed)</p>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HIP2"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div>
        <div>
            <span class="counter">
                <strong>
                    <u>
                        Enter two readings spaced at least one minute apart for each arm.
                        See detailed instructions below
                    </u>
                </strong>
            </span>
        </div>
        <br />

        <div>
            <div class="subcounter text-base font-semibold text-gray-900">
                Participant blood pressure - Left arm:
                <div>
                    <div class="@rowCSS">
                        <label asp-for="B1.BPSYSL1"> @Html.DisplayNameFor(m => m.B1.BPSYSL1)</label>
                        <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPSYSL1"></p>
                            <input asp-for="@Model.B1.BPSYSL1" type="number" />
                            <div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPSYSL1"></span>
                                <span class="text-3xl" style="margin-right: 0 5px;">/</span>
                            </div>

                            <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPDIASL1"></p>
                            <input asp-for="@Model.B1.BPDIASL1" type="number" />
                            <div class="ml-3">
                                <p class="text-base font-semibold">(888/888 = not assessed)</p>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPDIASL1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="@rowCSS">
                        <label asp-for="B1.BPSYSL2"> @Html.DisplayNameFor(m => m.B1.BPSYSL2)</label>
                        <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPSYSL2"></p>
                            <input asp-for="@Model.B1.BPSYSL2" type="number" />
                            <div>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPSYSL2"></span>
                                <span class="text-3xl" style="margin-right: 0 5px;">/</span>
                            </div>

                            <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPDIASL2"></p>
                            <input asp-for="@Model.B1.BPDIASL2" type="number" />
                            <div class="ml-3">
                                <p class="text-base font-semibold">(888/888 = not assessed)</p>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPDIASL2"></span>
                            </div>
                        </div>
                    </div>

                    <div class="subcounter text-base font-semibold text-gray-900">

                        Participant blood pressure - Right arm:

                    </div>

                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div class="@rowCSS">
                            <label asp-for="B1.BPSYSR1"> @Html.DisplayNameFor(m => m.B1.BPSYSR1)</label>
                            <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPSYSR1"></p>
                                <input asp-for="@Model.B1.BPSYSR1" type="number" />
                                <div>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPSYSR1"></span>
                                    <span class="text-3xl" style="margin-right: 0 5px;">/</span>
                                </div>

                                <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPDIASR1"></p>
                                <input asp-for="@Model.B1.BPDIASR1" type="number" />
                                <div class="ml-3">
                                    <p class="text-base font-semibold">(888/888 = not assessed)</p>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPDIASR1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="@rowCSS">
                            <label asp-for="B1.BPSYSR2"> @Html.DisplayNameFor(m => m.B1.BPSYSR2)</label>
                            <div class="flex mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPSYSR2"></p>
                                <input asp-for="@Model.B1.BPSYSR2" type="number" />
                                <div>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPSYSR2"></span>
                                    <span class="text-3xl" style="margin-right: 0 5px;">/</span>
                                </div>

                                <p class="text-sm text-gray-500" asp-description-for="@Model.B1.BPDIASR2"></p>
                                <input asp-for="@Model.B1.BPDIASR2" type="number" />
                                <div class="ml-3">
                                    <p class="text-base font-semibold">(888/888 = not assessed)</p>
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPDIASR2"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="@rowCSS">
        <label asp-for="B1.HRATE"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HRATE)</label>
        <div class="flex mt-4 sm:col-span-2 sm:mt-0">
            <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HRATE"></p>
            <input asp-for="@Model.B1.HRATE" type="number" />
            <div class="ml-3">
                <p class="text-base font-semibold">(888 = not assessed)</p>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HRATE"></span>
            </div>
        </div>
    </div>
</div>
<ul role="list" class="divide-y divide-white/5 pb-2">
    <li class="font-bold">STEP 1 - Properly prepare the participant:</li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>The participant should avoid caffeine, exercise, and smoking for at least 30 minutes before measurement.</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Ensure that participant has emptied his/her bladder.</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Neither the participant nor the observer should talk during the rest period or during the measurement.</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Remove all clothing covering the location of cuff placement.</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Measurements made while the participant is sitting or lying on an examining table do not fulfill these criteria.</p>
        </div>
    </li>
</ul>

<ul role="list" class="divide-y divide-white/5 pt-2 pb-2">
    <li class="font-bold">STEP 2 - Use proper technique for BP measurements</li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Use a BP measurement device that has been validated and ensure that the device is calibrated periodically</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Support the participant's arm (e.g., have it resting on a desk ).</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Position the middle of the cuff on the participant's upper arm at the level of the right atrium (midpoint of the sternum)</p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>
                Use the correct cuff size, such that the bladder encircles 80% of the arm, and note if a larger- or smaller-than-normal cuff size is
                used.
            </p>
        </div>
    </li>
    <li class="relative flex items-center space-x-2 py-2">
        <div class="min-w-0 flex-auto flex items-center gap-x-1">
            <div class="flex-none rounded-full p-1 text-gray-500 bg-gray-100/10">
                <div class="h-2 w-2 rounded-full bg-current"></div>
            </div>
            <p>Either the stethoscope diaphragm or bell may be used for auscultatory readings.</p>
        </div>
    </li>
</ul>



    @* <div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

    @if (Model.Visit != null)
    {
    @if (Model.Visit.Kind == VisitKind.IVP || Model.Visit.Kind == VisitKind.FVP)
    {
    <h3 class="text-base font-semibold text-sm text-gray-900 italic py-3">Physical measurements</h3>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="B1.HEIGHT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HEIGHT)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
    <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HEIGHT"></p>
    <input asp-for="@Model.B1.HEIGHT" type="number" step=".1" placeholder="0.0" min="36.0" max="88.8" />
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HEIGHT"></span>
    </div>
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="B1.WEIGHT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.WEIGHT)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
    <p class="text-sm text-gray-500" asp-description-for="@Model.B1.WEIGHT"></p>
    <input asp-for="@Model.B1.WEIGHT" />
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.WEIGHT"></span>
    </div>
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <h3><span class="counter"></span> Participant blood pressure at initial reading (sitting)</h3>
    <div>
    <label asp-for="B1.BPSYS"></label>
    <p class="text-sm text-gray-500" asp-description-for="B1.BPSYS"></p>
    <input asp-for="B1.BPSYS" />
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPSYS"></span>
    </div>
    <div>
    <label asp-for="B1.BPDIAS"></label>
    <p class="text-sm text-gray-500" asp-description-for="B1.BPDIAS"></p>
    <input asp-for="B1.BPDIAS" />
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.BPDIAS"></span>
    </div>
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="B1.HRATE"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HRATE)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
    <p class="text-sm text-gray-500" asp-description-for="@Model.B1.HRATE"></p>
    <input asp-for="@Model.B1.HRATE" />
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HRATE"></span>
    </div>
    </div>
    }
    }


    <table class="table-auto min-w-full divide-y divide-gray-300">
    <thead>
    <tr>
    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">Physical observations</th>
    @foreach (var item in Model.BasicYesNoListItems)
    {
    <th class="w-20 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
    }
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
    <tr>
    <td>
    <label asp-for="B1.VISION"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.VISION)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.VISION"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.VISION"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.VISION)" for="@Model.B1.VISION" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
    </tr>
    </tbody>
    <tbody class="divide-y divide-gray-200 subcounterreset">
    <tr>
    <td>
    <label asp-for="B1.VISCORR"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.VISCORR)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.VISCORR"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.VISCORR"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.VISCORR)" for="@Model.B1.VISCORR" items="Model.BasicYesNoListItems" ui-behaviors="Model.VISCORRUIBehavior"></table-cell-radio-buttons>
    </tr>
    <tr>
    <td>
    <label asp-for="B1.VISWCORR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B1.VISWCORR)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.VISWCORR"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.VISWCORR"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.VISWCORR)" for="@Model.B1.VISWCORR" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
    </tr>
    <tr>
    <td>
    <label asp-for="B1.HEARING"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HEARING)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.HEARING"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HEARING"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.HEARAID)" for="@Model.B1.HEARING" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
    </tr>
    </tbody>
    <tbody class="divide-y divide-gray-200 subcounterreset">
    <tr>
    <td>
    <label asp-for="B1.HEARAID"><span class="counter"></span> @Html.DisplayNameFor(m => m.B1.HEARAID)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.HEARAID"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HEARAID"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.HEARAID)" for="@Model.B1.HEARAID" items="Model.BasicYesNoListItems" ui-behaviors="Model.HEARAIDUIBehavior"></table-cell-radio-buttons>
    </tr>
    <tr>
    <td>
    <label asp-for="B1.HEARWAID"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B1.HEARWAID)</label>
    <p class="text-sm text-gray-500" asp-description-for="B1.HEARWAID"></p>
    <span class="mt-2 text-sm text-red-600" asp-validation-for="B1.HEARWAID"></span>
    </td>
    <table-cell-radio-buttons id="@Html.IdFor(m => m.B1.HEARWAID)" for="@Model.B1.HEARWAID" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
    </tr>
    </tbody>
    </table>

    </div>
    *@
</div>
<partial name="_FormFooter" for="@Model.B1" />

