@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B3Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">

        <b>INSTRUCTIONS:</b> This form is to be completed by the clinician or other trained health professional. Clinician should record results as
        observed regardless of whether there are non-parkinsonian contributions or explanations for the findings. This form is intended to 1)
        determine the degree of parkinsonism on any visit, and 2) track the degree of parkinsonism over time. The UPDRS is not intended to
        establish the presence or absence of parkinsonism. For additional clarification and scoring instructions, see <guidebook kind="@Model.Visit.PACKET"></guidebook>
        for <b>Form B3</b>. For video-recorded examples of administration, see Perlmutter JS. Assessment of Parkinson disease manifestations. Curr
        Protoc Neurosci. 2009 Oct; Chapter 10: Unit10.1. <a href="https://pubmed.ncbi.nlm.nih.gov/19802812/" target="_blank">doi:10.1002/0471142301.ns1001s49</a>
        . Check only <u>one</u> box per question.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div style="border: 2px solid lightgrey; display: flex; align-items:center;">
            <div>
                @Html.CheckBox("B3.PDNORMAL", Model.B3.PDNORMAL, new { @class = "h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600 mr-4 ml-4", id = "pdNormalCheckbox" })
            </div>
            <div class="text-sm leading-6 pt-2">
                <label asp-for="B3.PDNORMAL" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.B3.PDNORMAL)</label>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="B3.SPEECH"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.SPEECH)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.SPEECH"></p>
                    <radio-button-group id="B3_SPEECH" for="B3.SPEECH" items="Model.SpeechListItems" ui-behaviors="Model.SpeechUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.SPEECH"></span>
                </div>
            </div>

            <div class="mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.SPEECHX"></p>
                <label asp-for="@Model.B3.SPEECHX">@Html.DisplayNameFor(m => m.B3.SPEECHX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.SPEECHX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.SPEECHX"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="B3.FACEXP"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.FACEXP)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.FACEXP"></p>
                    <radio-button-group id="B3_FACEXP" for="B3.FACEXP" items="Model.FACEXPListItems" ui-behaviors="Model.FACEXPUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.FACEXP"></span>
                </div>
            </div>

            <div class="mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.FACEXPX"></p>
                <label asp-for="@Model.B3.FACEXPX">@Html.DisplayNameFor(m => m.B3.FACEXPX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.FACEXPX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.FACEXPX"></span>
            </div>
        </div>


        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Tremor at rest </h3>
            <div class="@rowCSS">
                <label asp-for="B3.TRESTFAC"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRESTFAC)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTFAC"></p>
                        <radio-button-group id="B3_TRESTFAC" for="B3.TRESTFAC" items="Model.TremorListItems" ui-behaviors="Model.TRESTFACUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTFAC"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTFAX"></p>
                    <label asp-for="@Model.B3.TRESTFAX">@Html.DisplayNameFor(m => m.B3.TRESTFAX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRESTFAX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTFAX"></span>
                </div>

            </div>
            <div class="@rowCSS">
                <label asp-for="B3.TRESTRHD"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRESTRHD)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTRHD"></p>
                        <radio-button-group id="B3_TRESTRHD" for="B3.TRESTRHD" items="Model.TremorListItems" ui-behaviors="Model.TRESTRHDUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTRHD"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTRHX"></p>
                    <label asp-for="@Model.B3.TRESTRHX">@Html.DisplayNameFor(m => m.B3.TRESTRHX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRESTRHX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTRHX"></span>
                </div>

            </div>

            <div class="@rowCSS">
                <label asp-for="B3.TRESTLHD"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRESTLHD)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTLHD"></p>
                        <radio-button-group id="B3_TRESTLHD" for="B3.TRESTLHD" items="Model.TremorListItems" ui-behaviors="Model.TRESTLHDUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTLHD"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTLHX"></p>
                    <label asp-for="@Model.B3.TRESTLHX">@Html.DisplayNameFor(m => m.B3.TRESTLHX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRESTLHX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTLHX"></span>
                </div>

            </div>
            <div class="@rowCSS">
                <label asp-for="B3.TRESTRFT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRESTRFT)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTRFT"></p>
                        <radio-button-group id="B3_TRESTRFT" for="B3.TRESTRFT" items="Model.TremorListItems" ui-behaviors="Model.TRESTRFTUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTRFT"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTRFX"></p>
                    <label asp-for="@Model.B3.TRESTRFX">@Html.DisplayNameFor(m => m.B3.TRESTRFX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRESTRFX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTRFX"></span>
                </div>
            </div>
            <div class="@rowCSS">
                <label asp-for="B3.TRESTLFT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRESTLFT)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTLFT"></p>
                        <radio-button-group id="B3_TRESTLFT" for="B3.TRESTLFT" items="Model.TremorListItems" ui-behaviors="Model.TRESTLFTUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTLFT"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRESTLFX"></p>
                    <label asp-for="@Model.B3.TRESTLFX">@Html.DisplayNameFor(m => m.B3.TRESTLFX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRESTLFX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRESTLFX"></span>
                </div>
            </div>
        </div>
        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Action or postural tremor of hands </h3>
            <div class="@rowCSS">
                <label asp-for="B3.TRACTRHD"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRACTRHD)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRACTRHD"></p>
                        <radio-button-group id="B3_TRACTRHD" for="B3.TRACTRHD" items="Model.HandListItems" ui-behaviors="Model.TRACTRHDUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRACTRHD"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRACTRHX"></p>
                    <label asp-for="@Model.B3.TRACTRHX">@Html.DisplayNameFor(m => m.B3.TRACTRHX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRACTRHX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRACTRHX"></span>
                </div>

            </div>

            <div class="@rowCSS">
                <label asp-for="B3.TRACTLHD"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TRACTLHD)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRACTLHD"></p>
                        <radio-button-group id="B3_TRACTLHD" for="B3.TRACTLHD" items="Model.HandListItems" ui-behaviors="Model.TRACTLHDUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRACTLHD"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TRACTLHX"></p>
                    <label asp-for="@Model.B3.TRACTLHX">@Html.DisplayNameFor(m => m.B3.TRACTLHX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TRACTLHX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TRACTLHX"></span>
                </div>

            </div>

        </div>

        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Rigidity </h3>
            <p>(judged on passive movement of major joints with participant relaxed in sitting position; cogwheeling to be ignored)</p>

            <div class="@rowCSS">
                <label asp-for="B3.RIGDNECK"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.RIGDNECK)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDNECK"></p>
                        <radio-button-group id="B3_RIGDNECK" for="B3.RIGDNECK" items="Model.RigidityListItems" ui-behaviors="Model.RIGDNECKUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDNECK"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDNEX"></p>
                    <label asp-for="@Model.B3.RIGDNEX">@Html.DisplayNameFor(m => m.B3.RIGDNEX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.RIGDNEX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDNEX"></span>
                </div>
            </div>
            <div>
                <div class="@rowCSS">
                    <label asp-for="B3.RIGDUPRT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.RIGDUPRT)</label>
                    <div class="mt-2">
                        <div>
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDUPRT"></p>
                            <radio-button-group id="B3_RIGDUPRT" for="B3.RIGDUPRT" items="Model.RigidityListItems" ui-behaviors="Model.RIGDUPRTUIBehavior"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDUPRT"></span>
                        </div>
                    </div>

                    <div class="subsubcounterreset mt-4">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDUPRX"></p>
                        <label asp-for="@Model.B3.RIGDUPRX">@Html.DisplayNameFor(m => m.B3.RIGDUPRX)</label>
                        <div class="mt-2">
                            <input asp-for="@Model.B3.RIGDUPRX" />
                        </div>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDUPRX"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="@rowCSS">
                    <label asp-for="B3.RIGDUPLF"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.RIGDUPLF)</label>
                    <div class="mt-2">
                        <div>
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDUPLF"></p>
                            <radio-button-group id="B3_RIGDUPLF" for="B3.RIGDUPLF" items="Model.RigidityListItems" ui-behaviors="Model.RIGDUPLFUIBehavior"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDUPLF"></span>
                        </div>
                    </div>

                    <div class="subsubcounterreset mt-4">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDUPLX"></p>
                        <label asp-for="@Model.B3.RIGDUPLX">@Html.DisplayNameFor(m => m.B3.RIGDUPLX)</label>
                        <div class="mt-2">
                            <input asp-for="@Model.B3.RIGDUPLX" />
                        </div>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDUPLX"></span>
                    </div>
                </div>
            </div>

            <div>
                <div class="@rowCSS">
                    <label asp-for="B3.RIGDLORT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.RIGDLORT)</label>
                    <div class="mt-2">
                        <div>
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDLORT"></p>
                            <radio-button-group id="B3_RIGDLORT" for="B3.RIGDLORT" items="Model.RigidityListItems" ui-behaviors="Model.RIGDLORTUIBehavior"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDLORT"></span>
                        </div>
                    </div>

                    <div class="subsubcounterreset mt-4">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDLORX"></p>
                        <label asp-for="@Model.B3.RIGDLORX">@Html.DisplayNameFor(m => m.B3.RIGDLORX)</label>
                        <div class="mt-2">
                            <input asp-for="@Model.B3.RIGDLORX" />
                        </div>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDLORX"></span>
                    </div>
                </div>
            </div>

            <div>
                <div class="@rowCSS">
                    <label asp-for="B3.RIGDLOLF"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.RIGDLOLF)</label>
                    <div class="mt-2">
                        <div>
                            <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDLOLF"></p>
                            <radio-button-group id="B3_RIGDLOLF" for="B3.RIGDLOLF" items="Model.RigidityListItems" ui-behaviors="Model.RIGDLOLFUIBehavior"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDLOLF"></span>
                        </div>
                    </div>

                    <div class="subsubcounterreset mt-4">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.RIGDLOLX"></p>
                        <label asp-for="@Model.B3.RIGDLOLX">@Html.DisplayNameFor(m => m.B3.RIGDLOLX)</label>
                        <div class="mt-2">
                            <input asp-for="@Model.B3.RIGDLOLX" />
                        </div>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.RIGDLOLX"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Finger taps</h3>
            <p>(participant taps thumb with index finger in rapid succession)</p>
            <div class="@rowCSS">
                <label asp-for="B3.TAPSRT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TAPSRT)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TAPSRT"></p>
                        <radio-button-group id="B3_TAPSRT" for="B3.TAPSRT" items="Model.FingerListItems" ui-behaviors="Model.TAPSRTUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TAPSRT"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TAPSRTX"></p>
                    <label asp-for="@Model.B3.TAPSRTX">@Html.DisplayNameFor(m => m.B3.TAPSRTX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TAPSRTX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TAPSRTX"></span>
                </div>

            </div>

            <div class="@rowCSS">
                <label asp-for="B3.TAPSLF"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.TAPSLF)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TAPSLF"></p>
                        <radio-button-group id="B3_TAPSLF" for="B3.TAPSLF" items="Model.FingerListItems" ui-behaviors="Model.TAPSLFUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TAPSLF"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TAPSLFX"></p>
                    <label asp-for="@Model.B3.TAPSLFX">@Html.DisplayNameFor(m => m.B3.TAPSLFX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.TAPSLFX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TAPSLFX"></span>
                </div>

            </div>


        </div>

        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Hand movements </h3>
            <p>(participant opens and closes hands in rapid succession)</p>
            <div class="@rowCSS">
                <label asp-for="B3.HANDMOVR"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.HANDMOVR)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDMOVR"></p>
                        <radio-button-group id="B3_HANDMOVR" for="B3.HANDMOVR" items="Model.HandMovementsListItems" ui-behaviors="Model.HANDMOVRUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDMOVR"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDMVRX"></p>
                    <label asp-for="@Model.B3.HANDMVRX">@Html.DisplayNameFor(m => m.B3.HANDMVRX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.HANDMVRX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDMVRX"></span>
                </div>

            </div>

            <div class="@rowCSS">
                <label asp-for="B3.HANDMOVL"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.HANDMOVL)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDMOVL"></p>
                        <radio-button-group id="B3_HANDMOVL" for="B3.HANDMOVL" items="Model.HandMovementsListItems" ui-behaviors="Model.HANDMOVLUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDMOVL"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDMVLX"></p>
                    <label asp-for="@Model.B3.HANDMVLX">@Html.DisplayNameFor(m => m.B3.HANDMVLX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.HANDMVLX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDMVLX"></span>
                </div>

            </div>

        </div>

        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Rapid alternating movements of hands</h3>
            <p>(pronation-supination movements of hands, vertically and horizontally, with as large an amplitude as possible, both hands simultaneously)</p>
            <div class="@rowCSS">
                <label asp-for="B3.HANDALTR"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.HANDALTR)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDALTR"></p>
                        <radio-button-group id="HANDALTR" for="B3.HANDALTR" items="Model.RapidHandsListItems" ui-behaviors="Model.HANDALTRUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDALTR"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDATRX"></p>
                    <label asp-for="@Model.B3.HANDATRX">@Html.DisplayNameFor(m => m.B3.HANDATRX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.HANDATRX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDATRX"></span>
                </div>

            </div>
            <div class="@rowCSS">
                <label asp-for="B3.HANDALTL"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.HANDALTL)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDALTL"></p>
                        <radio-button-group id="HANDALTL" for="B3.HANDALTL" items="Model.RapidHandsListItems" ui-behaviors="Model.HANDALTLUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDALTL"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.HANDATLX"></p>
                    <label asp-for="@Model.B3.HANDATLX">@Html.DisplayNameFor(m => m.B3.HANDATLX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.HANDATLX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.HANDATLX"></span>
                </div>

            </div>
        </div>

        <div class="subcounterreset">
            <h3 class=" counter text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Leg agility</h3>
            <p>(participant taps heel on the ground in rapid succession, picking up entire leg; amplitude should be at least 3 inches)</p>
            <div class="@rowCSS">
                <label asp-for="B3.LEGRT"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.LEGRT)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.LEGRT"></p>
                        <radio-button-group id="LEGRT" for="B3.LEGRT" items="Model.LegListItems" ui-behaviors="Model.LEGRTUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.LEGRT"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.LEGRTX"></p>
                    <label asp-for="@Model.B3.LEGRTX">@Html.DisplayNameFor(m => m.B3.LEGRTX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.LEGRTX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.LEGRTX"></span>
                </div>

            </div>

            <div class="@rowCSS">
                <label asp-for="B3.LEGLF"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.B3.LEGLF)</label>
                <div class="mt-2">
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.B3.LEGLF"></p>
                        <radio-button-group id="LEGLF" for="B3.LEGLF" items="Model.LegListItems" ui-behaviors="Model.LEGLFUIBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.LEGLF"></span>
                    </div>
                </div>

                <div class="subsubcounterreset mt-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.LEGLFX"></p>
                    <label asp-for="@Model.B3.LEGLFX">@Html.DisplayNameFor(m => m.B3.LEGLFX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.B3.LEGLFX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.LEGLFX"></span>
                </div>

            </div>
        </div>
        <div class="@rowCSS">
            <label asp-for="B3.ARISING"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.ARISING)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.ARISING"></p>
                    <radio-button-group id="ARISING" for="B3.ARISING" items="Model.ArisingListItems" ui-behaviors="Model.ARISINGUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.ARISING"></span>
                </div>
            </div>

            <div class="subcounterreset mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.ARISINGX"></p>
                <label asp-for="@Model.B3.ARISINGX">@Html.DisplayNameFor(m => m.B3.ARISINGX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.ARISINGX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.ARISINGX"></span>
            </div>

        </div>

        <div class="@rowCSS">
            <label asp-for="B3.POSTURE"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.POSTURE)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.POSTURE"></p>
                    <radio-button-group id="POSTURE" for="B3.POSTURE" items="Model.PostureListItems" ui-behaviors="Model.POSTUREUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.POSTURE"></span>
                </div>
            </div>

            <div class="subcounterreset mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.POSTUREX"></p>
                <label asp-for="@Model.B3.POSTUREX">@Html.DisplayNameFor(m => m.B3.POSTUREX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.POSTUREX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.POSTUREX"></span>
            </div>

        </div>

        <div class="@rowCSS">
            <label asp-for="B3.GAIT"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.GAIT)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.GAIT"></p>
                    <radio-button-group id="GAIT" for="B3.GAIT" items="Model.GaitListItems" ui-behaviors="Model.GAITUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.GAIT"></span>
                </div>
            </div>

            <div class="subcounterreset mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.GAITX"></p>
                <label asp-for="@Model.B3.GAITX">@Html.DisplayNameFor(m => m.B3.GAITX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.GAITX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.GAITX"></span>
            </div>

        </div>

        <div class="@rowCSS">
            <label asp-for="B3.POSSTAB"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.POSSTAB)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.POSSTAB"></p>
                    <radio-button-group id="POSSTAB" for="B3.POSSTAB" items="Model.PostureStabilityListItems" ui-behaviors="Model.POSSTABUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.POSSTAB"></span>
                </div>
            </div>

            <div class="subcounterreset mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.POSSTABX"></p>
                <label asp-for="@Model.B3.POSSTABX">@Html.DisplayNameFor(m => m.B3.POSSTABX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.POSSTABX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.POSSTABX"></span>
            </div>

        </div>

        <div class="@rowCSS">
            <label asp-for="B3.BRADYKIN"><span class="counter"></span> @Html.DisplayNameFor(model => model.B3.BRADYKIN)</label>
            <div class="mt-2">
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.B3.BRADYKIN"></p>
                    <radio-button-group id="BRADYKIN" for="B3.BRADYKIN" items="Model.BodyListItems" ui-behaviors="Model.BRADYKINUIBehavior"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.BRADYKIN"></span>
                </div>
            </div>

            <div class="subcounterreset mt-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B3.BRADYKIX"></p>
                <label asp-for="@Model.B3.BRADYKIX">@Html.DisplayNameFor(m => m.B3.BRADYKIX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.B3.BRADYKIX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.BRADYKIX"></span>
            </div>

        </div>
        <div class="pb-6 pt-6">
            <p class="text-sm text-gray-500" asp-description-for="@Model.B3.TOTALUPDRS"></p>
            <label asp-for="@Model.B3.TOTALUPDRS"><span class="counter"></span>@Html.DisplayNameFor(m => m.B3.TOTALUPDRS)</label>
            <p class="text-sm font-semibold">
                (If one or more items are checked
                "8=Untestable", enter 888)
            </p>
            <div class="mt-2 pt-2">
                <input asp-for="@Model.B3.TOTALUPDRS" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B3.TOTALUPDRS"></span>
            </div>
        </div>
    </div>
</div>

<partial name="_FormFooter" for="@Model.B3" />


@section Scripts {
    <script src="~/_content/UDS.Net.Forms/js/B3.js"></script>
}