@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B4Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: For information on the required online CDR training, see <guidebook kind="@Model.Visit.PACKET"></guidebook>, Form B4. This form is to be completed by the clinician or other trained health professional, based on co-participant report and behavioral and neurological exam of the participant. In the extremely rare instances when no co-participant is available, the clinician or other trained health professional must complete this form using all other available information and his/her best clinical judgment. Score only as decline from previous level due to <span class="underline">cognitive loss</span>, not impairment due to other factors, such as physical disability. For further information, see <guidebook kind="@Model.Visit.PACKET"></guidebook>, Form B4.
    </p>
</div>
<div data-controller="b4">
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="@rowCSS shadow-sm border-2 rounded-md border-indigo-200/50 bg-indigo-50">
            <h2 class="font-semibold leading-7 text-gray-900">SECTION 1: CDR DEMENTIA STAGING INSTRUMENT<sup>1</sup></h2>
        </div>

        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th rowspan="2" class="w-48 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">
                        Please enter score below
                    </th>
                    <th colspan="5" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">IMPAIRMENT</th>
                </tr>
                <tr>
                    @foreach (var item in Model.ImpairmentListItems)
                    {
                        <th>@item.Text &mdash; @item.Value</th>
                    }
                </tr>
            </thead>
            <tbody class="subcounterreset">
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                   
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Memory
                            <p class="mt-1 text-sm text-gray-400">B4.MEMORY</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="MEMORY-description"></p>
                        <span class="mt-2 text-sm text-red-600 field-validation-valid block"
                              data-valmsg-for="B4.MEMORY"></span>
                    </td>

                    
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500 mb-3">
                            No memory loss, or slight inconsistent forgetfulness
                        </p>
                        <div class="flex justify-center items-center mt-auto">
                            <input type="radio"
                                   asp-for="B4.MEMORY"
                                   value="0"
                                   id="B4_MEMORY_0"
                                   data-b4-target="MEMORY"
                                   data-action="change->b4#updateCDRSUM"
                                   class="h-4 border-gray-400 text-indigo-600 focus:ring-indigo-600 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" />
                            <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                0
                            </span>

                        </div>
                    </td>

                    
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500 mb-3">
                            Consistent slight forgetfulness; partial recollection of events
                        </p>
                        <div class="flex justify-center items-center mt-auto">
                            <input type="radio"
                                   asp-for="B4.MEMORY"
                                   value="0.5"
                                   id="B4_MEMORY_05"
                                   data-b4-target="MEMORY"
                                   data-action="change->b4#updateCDRSUM"
                                   class="h-4 text-indigo-600 border-gray-400 focus:ring-indigo-600" />
                            <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                0.5
                            </span>

                        </div>
                    </td>

                    
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500 mb-3">
                            Moderate memory loss, more marked for recent events
                        </p>
                        <div class="flex justify-center items-center mt-auto">
                            <input type="radio"
                                   asp-for="B4.MEMORY"
                                   value="1"
                                   id="B4_MEMORY_1"
                                   data-b4-target="MEMORY"
                                   data-action="change->b4#updateCDRSUM"
                                   class="h-4 text-indigo-600 border-gray-400 focus:ring-indigo-600" />
                            <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                1
                            </span>

                        </div>
                    </td>

                    
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500 mb-3">
                            Severe memory loss; only highly learned material retained
                        </p>
                        <div class="flex justify-center items-center mt-auto">
                            <input type="radio"
                                   asp-for="B4.MEMORY"
                                   value="2"
                                   id="B4_MEMORY_2"
                                   data-b4-target="MEMORY"
                                   data-action="change->b4#updateCDRSUM"
                                   class="h-4 text-indigo-600 border-gray-400 focus:ring-indigo-600" />
                            <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                2
                            </span>

                        </div>
                    </td>

                    
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500 mb-3">
                            Severe memory loss; only fragments remain
                        </p>
                        <div class="flex justify-center items-center mt-auto">
                            <input type="radio"
                                   asp-for="B4.MEMORY"
                                   value="3"
                                   id="B4_MEMORY_3"
                                   data-b4-target="MEMORY"
                                   data-action="change->b4#updateCDRSUM"
                                   class="h-4 text-indigo-600 border-gray-400 focus:ring-indigo-600" />
                            <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                3
                            </span>

                        </div>
                    </td>
                </tr>
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                   
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Orientation
                            <p class="mt-1 text-sm text-gray-400">B4.ORIENT</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="ORIENT-description"></p>
                        <span class="mt-2 block text-sm text-red-600 field-validation-valid"
                              data-valmsg-for="B4.ORIENT"
                              data-valmsg-replace="true"></span>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Fully oriented</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2 cursor-pointer">
                                <input class="h-4 w-4 border-gray-400 text-indigo-600 focus:ring-indigo-600"
                                       data-action="change->b4#updateCDRSUM"
                                       data-b4-target="ORIENT"
                                       data-val="true"
                                       data-val-number="The field Orientation must be a number."
                                       data-val-required="The Orientation field is required."
                                       id="B4_ORIENT[0]"
                                       asp-for="B4.ORIENT"
                                       type="radio"
                                       value="0" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                    0
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Fully oriented except for slight difficulty with time relationships
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2 cursor-pointer">
                                <input class="h-4 w-4 border-gray-400 text-indigo-600 focus:ring-indigo-600"
                                       data-action="change->b4#updateCDRSUM"
                                       data-b4-target="ORIENT"
                                       id="B4_ORIENT[1]"
                                       asp-for="B4.ORIENT"
                                       type="radio"
                                       value="0.5" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                    0.5
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Moderate difficulty with time relationships; oriented for place at examination
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2 cursor-pointer">
                                <input class="h-4 w-4 border-gray-400 text-indigo-600 focus:ring-indigo-600"
                                       data-action="change->b4#updateCDRSUM"
                                       data-b4-target="ORIENT"
                                       id="B4_ORIENT[2]"
                                       asp-for="B4.ORIENT"
                                       type="radio"
                                       value="1" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                    1
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Severe difficulty with time relationships; usually disoriented to time
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2 cursor-pointer">
                                <input class="h-4 w-4 border-gray-400 text-indigo-600 focus:ring-indigo-600"
                                       data-action="change->b4#updateCDRSUM"
                                       data-b4-target="ORIENT"
                                       id="B4_ORIENT[3]"
                                       asp-for="B4.ORIENT"
                                       type="radio"
                                       value="2" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                    2
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Oriented to person only</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2 cursor-pointer">
                                <input class="h-4 w-4 border-gray-400 text-indigo-600 focus:ring-indigo-600"
                                       data-action="change->b4#updateCDRSUM"
                                       data-b4-target="ORIENT"
                                       id="B4_ORIENT[4]"
                                       asp-for="B4.ORIENT"
                                       type="radio"
                                       value="3" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">
                                    3
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Judgment and problem solving
                            <p class="mt-1 text-sm text-gray-400">B4.JUDGMENT</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="JUDGMENT-description"></p>
                        <span class="mt-2 block text-sm text-red-600 field-validation-valid"
                              data-valmsg-for="B4.JUDGMENT"></span>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Solves everyday problems, handles business and financial affairs well
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.JUDGMENT" value="0" id="B4_JUDGMENT[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="JUDGMENT" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Slight impairment in solving problems, similarities, and differences
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.JUDGMENT" value="0.5" id="B4_JUDGMENT[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="JUDGMENT" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0.5</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Moderate difficulty in handling problems
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.JUDGMENT" value="1" id="B4_JUDGMENT[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="JUDGMENT" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Severely impaired judgment
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.JUDGMENT" value="2" id="B4_JUDGMENT[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="JUDGMENT" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">
                            Unable to make judgments or solve problems
                        </p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.JUDGMENT" value="3" id="B4_JUDGMENT[4]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="JUDGMENT" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Community affairs
                            <p class="mt-1 text-sm text-gray-400">B4.COMMUN</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="COMMUN-description"></p>
                        <span class="mt-2 block text-sm text-red-600 field-validation-valid"
                              data-valmsg-for="B4.COMMUN"></span>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Independent function at usual level</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMMUN" value="0" id="B4_COMMUN[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="COMMUN" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Slight impairment</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMMUN" value="0.5" id="B4_COMMUN[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="COMMUN" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0.5</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Unable to function independently</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMMUN" value="1" id="B4_COMMUN[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="COMMUN" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">No independent function outside home</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMMUN" value="2" id="B4_COMMUN[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="COMMUN" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Too ill for outside activities</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMMUN" value="3" id="B4_COMMUN[4]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="COMMUN" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Homes and hobbies
                            <p class="mt-1 text-sm text-gray-400">B4.HOMEHOBB</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="HOMEHOBB-description"></p>
                        <span class="mt-2 block text-sm text-red-600 field-validation-valid"
                              data-valmsg-for="B4.HOMEHOBB"></span>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Well maintained</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.HOMEHOBB" value="0" id="B4_HOMEHOBB[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="HOMEHOBB" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Slight impairment</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.HOMEHOBB" value="0.5" id="B4_HOMEHOBB[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="HOMEHOBB" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0.5</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Mild but definite impairment</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.HOMEHOBB" value="1" id="B4_HOMEHOBB[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="HOMEHOBB" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Only simple chores preserved</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.HOMEHOBB" value="2" id="B4_HOMEHOBB[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="HOMEHOBB" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">No significant function</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.HOMEHOBB" value="3" id="B4_HOMEHOBB[4]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="HOMEHOBB" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td class="w-48 py-4 pr-4">
                        <label class="text-base font-semibold text-gray-900">
                            <span class="counter"></span> Personal care
                            <p class="mt-1 text-sm text-gray-400">B4.PERSCARE</p>
                        </label>
                        <p class="mt-2 text-sm text-gray-500" id="PERSCARE-description"></p>
                        <span class="mt-2 block text-sm text-red-600 field-validation-valid"
                              data-valmsg-for="B4.PERSCARE"></span>
                    </td>

                    <td colspan="2" class="p-4">
                        <p class="text-sm text-gray-500">Fully capable of self-care</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.PERSCARE" value="0" id="B4_PERSCARE[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="PERSCARE" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Needs prompting</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.PERSCARE" value="1" id="B4_PERSCARE[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="PERSCARE" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Requires assistance</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.PERSCARE" value="2" id="B4_PERSCARE[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="PERSCARE" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>

                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Requires much help</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.PERSCARE" value="3" id="B4_PERSCARE[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400"
                                       data-b4-target="PERSCARE" data-action="change->b4#updateCDRSUM" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="@rowCSS">
            <label asp-for="B4.CDRSUM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B4.CDRSUM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B4.CDRSUM"></p>
                <input asp-for="@Model.B4.CDRSUM" data-b4-target="CDRSUM" readonly />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B4.CDRSUM"></span>
                <submission-error location="CDRSUM" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="B4.CDRGLOB"><span class="counter"></span> @Html.DisplayNameFor(m => m.B4.CDRGLOB)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B4.CDRGLOB"></p>
                <radio-button-group id="@Html.IdFor(m => m.B4.CDRGLOB)" for="@Model.B4.CDRGLOB" items="Model.ImpairmentListItems" data-b4-target="CDRGLOB" data-action="change->b4#updateCDRSUM">
                </radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B4.CDRGLOB"></span>
                <submission-error location="CDRGLOB" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
            <p class="mt-1 p-2 text-sm text-gray-500 italic"><sup>1</sup>Morris, JC. The Clinical Dementia Rating (CDR): Current version and scoring rules. Neurology 43(11):2412–4, 1993. Copyright© Lippincott, Williams &amp; Wilkins. Reproduced by permission.</p>
        </div>

        <div class="@rowCSS shadow-sm border-2 rounded-md border-indigo-200/50 bg-indigo-50">
            <h2 class="font-semibold leading-7 text-gray-900">SECTION 2: NACC FTLD BEHAVIOR & LANGUAGE DOMAINS</h2>
        </div>

        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th rowspan="2" class="w-48 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">
                        Please enter score below
                    </th>
                    <th colspan="5" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">IMPAIRMENT</th>
                </tr>
                <tr>
                    @foreach (var item in Model.ImpairmentListItems)
                    {
                        <th>@item.Text &mdash; @item.Value</th>
                    }
                </tr>
            </thead>
            <tbody class="subcounterreset">
                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td>
                        <label asp-for="B4.COMPORT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B4.COMPORT)<sup>2</sup></label>
                        <p class="text-sm text-gray-500" asp-description-for="B4.COMPORT"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B4.COMPORT"></span>
                        <submission-error location="COMPORT" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Socially appropriate behavior</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMPORT" value="0" id="COMPORT[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Questionable changes in comportment, empathy, appropriateness of actions</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMPORT" value="0.5" id="COMPORT[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0.5</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Mild but definite changes in behavior</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMPORT" value="1" id="COMPORT[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Moderate behavioral changes, affecting interpersonal relationships and interactions in a significant manner</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMPORT" value="2" id="COMPORT[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Severe behavioral changes, making interpersonal interactions all unidirectional</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.COMPORT" value="3" id="COMPORT[4]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>

                <tr class="[&_td]:align-top divide-y divide-gray-200">
                    <td>
                        <label asp-for="B4.CDRLANG"><span class="counter"></span> @Html.DisplayNameFor(m => m.B4.CDRLANG)<sup>3</sup></label>
                        <p class="text-sm text-gray-500" asp-description-for="B4.CDRLANG"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B4.CDRLANG"></span>
                        <submission-error location="CDRLANG" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">No language difficulties, or occasional mild slip of the tongue</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.CDRLANG" value="0" id="CDRLANG[0]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Consistent mild word-finding difficulties; simplification of word choice; circumlocution; decreased phrase length; and/or mild comprehension difficulties</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.CDRLANG" value="0.5" id="CDRLANG[1]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">0.5</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Moderate word-finding difficulty in speech; cannot name objects in environment; reduced phrase length and/or agrammatical speech and/or reduced comprehension in conversation and reading</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.CDRLANG" value="1" id="CDRLANG[2]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">1</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Moderate to severe impairment in either speech or comprehension; has difficulty communicating thoughts; writing may be slightly more effective</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.CDRLANG" value="2" id="CDRLANG[3]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">2</span>
                            </label>
                        </div>
                    </td>
                    <td class="w-48 py-4 pr-4">
                        <p class="text-sm text-gray-500">Severe comprehension deficits; no intelligible speech</p>
                        <div class="mt-3 flex justify-center items-center mt-auto">
                            <label class="flex items-center gap-2">
                                <input type="radio" asp-for="B4.CDRLANG" value="3" id="CDRLANG[4]"
                                       class="h-4 w-4 text-indigo-600 border-gray-400" />
                                <span class="inline-flex rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium text-gray-800">3</span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
            <p class="mt-1 p-2 text-sm text-gray-500 italic">
                <sup>2</sup>Excerpted from the Frontotemporal Dementia Multicenter Instrument &amp; MR Study (Mayo Clinic, UCSF, UCLA, UW).
            </p>
        </div>


        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
            <p class="mt-1 p-2 text-sm text-gray-500 italic">
                <sup>3</sup>Excerpted from the PPA-CRD: A modification of the CDR for assessing dementia severity in persons with primary progressive aphasia (Johnson N, Weintraub S, Mesulam MM), 2002.
            </p>
        </div>

    </div>
</div>
<partial name="_FormFooter" for="@Model.B4" />
