@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B8Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form must be completed by a clinician with experience in performing a comprehensive neurologic examination, assessing the presence/absence of neurological signs, and rating the degree of any abnormalities. Additionally, the clinician should have experience in completing each of the assessment measures associated with the gateway questions if any key neurologic findings are present. For additional clarification and examples, see<guidebook kind="@Model.Visit.PACKET"></guidebook>, Form B8. Check only one box per question.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6 bg-blue-300">
            <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h3 class="ml-5 mt-2 font-bold text-sm text-gray-500 uppercase">Section 1</h3>
                <p class="ml-2 mt-1 truncate font-bold leading-6 text-indigo-900">Examiner & examination questions</p>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.NEUREXAM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.NEUREXAM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.NEUREXAM"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.NEUREXAM)" for="@Model.B8.NEUREXAM" items="Model.NEUREXAMListItems" ui-behaviors="Model.NEUREXAMUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.NEUREXAM"></span>
                <submission-error location="NEUREXAM" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.NORMNREXAM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.NORMNREXAM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.NORMNREXAM"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.NORMNREXAM)" for="@Model.B8.NORMNREXAM" items="Model.NORMNREXAMListItems" ui-behaviors="Model.NORMNREXAMUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.NORMNREXAM"></span>
                <submission-error location="NORMNREXAM" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6 bg-blue-300">
            <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h3 class="ml-5 mt-2 font-bold text-sm text-gray-500 uppercase">Section 2</h3>
                <p class="ml-2 mt-1 truncate font-bold leading-6 text-indigo-900">Specific clinical findings</p>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6 bg-blue-100">
            <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h5 class="ml-5 mt-2 font-semibold text-sm text-gray-500 uppercase">Section 2A</h5>
                <p class="ml-2 mt-1 truncate font-semibold leading-6 text-indigo-900">Parkinsonian signs </p>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.PARKSIGN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.PARKSIGN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.PARKSIGN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.PARKSIGN)" for="@Model.B8.PARKSIGN" items="Model.PARKSIGNListItems" ui-behaviors="Model.PARKSIGNUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.PARKSIGN"></span>
                <submission-error location="PARKSIGN" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>


        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">FINDINGS:</th>
                </tr>
            </thead>
            <tbody class="subcounterreset divide-y divide-gray-200">
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"></th>
                    @foreach (var item in Model.SignsListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.SLOWINGFM)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.SLOWINGFM</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.SLOWINGFM"></span>
                        <submission-error location="SLOWINGFM" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.SLOWINGFM)" for="@Model.B8.SLOWINGFM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMREST)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.TREMREST</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMREST"></span>
                        <submission-error location="TREMREST" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMREST)" for="@Model.B8.TREMREST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMPOST)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.TREMPOST</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMPOST"></span>
                        <submission-error location="TREMPOST" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMPOST)" for="@Model.B8.TREMPOST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMKINE)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.TREMKINE</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMKINE"></span>
                        <submission-error location="TREMKINE" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMKINE)" for="@Model.B8.TREMKINE" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.RIGIDARM)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.RIGIDARM</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.RIGIDARM"></span>
                        <submission-error location="RIGIDARM" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.RIGIDARM)" for="@Model.B8.RIGIDARM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.RIGIDLEG)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.RIGIDLEG</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.RIGIDLEG"></span>
                        <submission-error location="RIGIDLEG" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.RIGIDLEG)" for="@Model.B8.RIGIDLEG" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSTARM)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.DYSTARM</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSTARM"></span>
                        <submission-error location="DYSTARM" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSTARM)" for="@Model.B8.DYSTARM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSTLEG)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.DYSTLEG</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSTLEG"></span>
                        <submission-error location="DYSTLEG" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSTLEG)" for="@Model.B8.DYSTLEG" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.CHOREA)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.CHOREA</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.CHOREA"></span>
                        <submission-error location="CHOREA" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.CHOREA)" for="@Model.B8.CHOREA" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>

                <tr>
                    <th colspan="4" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">

                    </th>
                    @foreach (var item in Model.AssessmentListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.AMPMOTOR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.AMPMOTOR)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.AMPMOTOR"></span>
                        <submission-error location="AMPMOTOR" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.AMPMOTOR)" for="@Model.B8.AMPMOTOR" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.AXIALRIG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.AXIALRIG)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.AXIALRIG"></span>
                        <submission-error location="AXIALRIG" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.AXIALRIG)" for="@Model.B8.AXIALRIG" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.POSTINST"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.POSTINST)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.POSTINST"></span>
                        <submission-error location="POSTINST" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.POSTINST)" for="@Model.B8.POSTINST" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.MASKING"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.MASKING)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.MASKING"></span>
                        <submission-error location="MASKING" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.MASKING)" for="@Model.B8.MASKING" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.STOOPED"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.STOOPED)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.STOOPED"></span>
                        <submission-error location="STOOPED" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.STOOPED)" for="@Model.B8.STOOPED" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>

            </tbody>
        </table>

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6 bg-blue-100">
            <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h5 class="ml-5 mt-2 font-semibold text-sm text-gray-500 uppercase">Section 2B</h5>
                <p class="ml-2 mt-1 truncate font-semibold leading-6 text-indigo-900">Cortical/pyramidal/other signs</p>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.OTHERSIGN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.OTHERSIGN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.OTHERSIGN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.OTHERSIGN)" for="@Model.B8.OTHERSIGN" items="Model.OTHERSIGNListItems" ui-behaviors="Model.OTHERSIGNUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.OTHERSIGN"></span>
                <submission-error location="OTHERSIGN" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">FINDINGS:</th>
                </tr>
            </thead>
            <tbody class="subcounterreset divide-y divide-gray-200">
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"></th>
                    @foreach (var item in Model.SignsListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LIMBAPRAX)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.LIMBAPRAX</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LIMBAPRAX"></span>
                        <submission-error location="LIMBAPRAX" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LIMBAPRAX)" for="@Model.B8.LIMBAPRAX" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.UMNDIST)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.STOOPED</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.UMNDIST"></span>
                        <submission-error location="UMNDIST" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.UMNDIST)" for="@Model.B8.UMNDIST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LMNDIST)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.LMNDIST</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LMNDIST"></span>
                        <submission-error location="LMNDIST" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LMNDIST)" for="@Model.B8.LMNDIST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.VFIELDCUT)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.VFIELDCUT</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.VFIELDCUT"></span>
                        <submission-error location="VFIELDCUT" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.VFIELDCUT)" for="@Model.B8.VFIELDCUT" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LIMBATAX)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.LIMBATAX</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LIMBATAX"></span>
                        <submission-error location="LIMBATAX" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LIMBATAX)" for="@Model.B8.LIMBATAX" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.MYOCLON)</label>
                        <p class="mt-1 text-sm leading-6 text-gray-400">BB8.MYOCLON</p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.MYOCLON"></span>
                        <submission-error location="MYOCLON" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.MYOCLON)" for="@Model.B8.MYOCLON" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <th colspan="4" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                    </th>
                    @foreach (var item in Model.AssessmentListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.UNISOMATO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.UNISOMATO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.UNISOMATO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.UNISOMATO"></span>
                        <submission-error location="UNISOMATO" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.UNISOMATO)" for="@Model.B8.UNISOMATO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APHASIA"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APHASIA)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APHASIA"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APHASIA"></span>
                        <submission-error location="APHASIA" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APHASIA)" for="@Model.B8.APHASIA" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.ALIENLIMB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.ALIENLIMB)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.ALIENLIMB"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.ALIENLIMB"></span>
                        <submission-error location="ALIENLIMB" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.ALIENLIMB)" for="@Model.B8.ALIENLIMB" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.HSPATNEG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.HSPATNEG)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.HSPATNEG"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.HSPATNEG"></span>
                        <submission-error location="HSPATNEG" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.HSPATNEG)" for="@Model.B8.HSPATNEG" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.PSPOAGNO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.PSPOAGNO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.PSPOAGNO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.PSPOAGNO"></span>
                        <submission-error location="PSPOAGNO" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.PSPOAGNO)" for="@Model.B8.PSPOAGNO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.SMTAGNO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.SMTAGNO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.SMTAGNO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.SMTAGNO"></span>
                        <submission-error location="SMTAGNO" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.SMTAGNO)" for="@Model.B8.SMTAGNO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.OPTICATAX"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.OPTICATAX)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.OPTICATAX"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.OPTICATAX"></span>
                        <submission-error location="OPTICATAX" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.OPTICATAX)" for="@Model.B8.OPTICATAX" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APRAXGAZE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APRAXGAZE)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APRAXGAZE"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APRAXGAZE"></span>
                        <submission-error location="APRAXGAZE" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APRAXGAZE)" for="@Model.B8.APRAXGAZE" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.VHGAZEPAL"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.VHGAZEPAL)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.VHGAZEPAL"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.VHGAZEPAL"></span>
                        <submission-error location="VHGAZEPAL" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.VHGAZEPAL)" for="@Model.B8.VHGAZEPAL" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.DYSARTH"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSARTH)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.DYSARTH"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSARTH"></span>
                        <submission-error location="DYSARTH" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSARTH)" for="@Model.B8.DYSARTH" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APRAXSP"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APRAXSP)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APRAXSP"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APRAXSP"></span>
                        <submission-error location="APRAXSP" errors="Model.BaseForm.UnresolvedErrors" />
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APRAXSP)" for="@Model.B8.APRAXSP" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>

            </tbody>
        </table>

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6 bg-blue-100">
            <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h5 class="ml-5 mt-2 font-semibold text-sm text-gray-500 uppercase">Section 2c</h5>
                <p class="ml-2 mt-1 truncate font-semibold leading-6 text-indigo-900">Gait</p>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.GAITABN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.GAITABN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.GAITABN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.GAITABN)" for="@Model.B8.GAITABN" items="Model.GaitListItems" ui-behaviors="Model.GaitUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.GAITABN"></span>
                <submission-error location="GAITABN" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.GAITFIND"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.GAITFIND)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.GAITFIND"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.GAITFIND)" for="@Model.B8.GAITFIND" items="Model.GaitFindingListItems" ui-behaviors="Model.GaitFindUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.GAITFIND"></span>
                <submission-error location="GAITFIND" errors="Model.BaseForm.UnresolvedErrors" />
                <input asp-for="@Model.B8.GAITOTHRX" />
                <label asp-for="@Model.B8.GAITOTHRX"></label>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B8.GAITOTHRX"></span>
                <submission-error location="@Model.B8.GAITOTHRX" errors="Model.BaseForm.UnresolvedErrors" />
            </div>
        </div>

    </div>
</div>
<partial name="_FormFooter" for="@Model.B8" />
