@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B8Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form must be completed by a clinician with experience in assessing the neurological signs listed below and in attributing the observed findings to a particular syndrome. Please use your best clinical judgment in assigning the syndrome. For additional clarification and examples, see<guidebook kind="@Model.Visit.Kind"></guidebook>, Form B8.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.NEUREXAM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.NEUREXAM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.NEUREXAM"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.NEUREXAM)" for="@Model.B8.NEUREXAM" items="Model.NEUREXAMListItems" ui-behaviors="Model.NEUREXAMUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.NEUREXAM"></span>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.NORMNREXAM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.NORMNREXAM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.NORMNREXAM"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.NORMNREXAM)" for="@Model.B8.NORMNREXAM" items="Model.NORMNREXAMListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.NORMNREXAM"></span>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.PARKSIGN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.PARKSIGN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.PARKSIGN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.PARKSIGN)" for="@Model.B8.PARKSIGN" items="Model.PARKSIGNListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.PARKSIGN"></span>
            </div>
        </div>


        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">FINDINGS:</th>
                </tr>
            </thead>
            <tbody class="subcounterreset divide-y divide-gray-200">
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"></th>
                    @foreach (var item in Model.SignsListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.SLOWINGFM)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.SLOWINGFM"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.SLOWINGFM)" for="@Model.B8.SLOWINGFM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMREST)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMREST"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMREST)" for="@Model.B8.TREMREST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMPOST)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMPOST"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMPOST)" for="@Model.B8.TREMPOST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.TREMKINE)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.TREMKINE"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.TREMKINE)" for="@Model.B8.TREMKINE" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.RIGIDARM)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.RIGIDARM"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.RIGIDARM)" for="@Model.B8.RIGIDARM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.RIGIDLEG)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.RIGIDLEG"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.RIGIDLEG)" for="@Model.B8.RIGIDLEG" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSTARM)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSTARM"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSTARM)" for="@Model.B8.DYSTARM" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSTLEG)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSTLEG"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSTLEG)" for="@Model.B8.DYSTLEG" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.CHOREA)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.CHOREA"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.CHOREA)" for="@Model.B8.CHOREA" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>

                <tr>
                    <th colspan="4" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">

                    </th>
                    @foreach (var item in Model.AssessmentListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.AMPMOTOR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.AMPMOTOR)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.AMPMOTOR"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.AMPMOTOR"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.AMPMOTOR)" for="@Model.B8.AMPMOTOR" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.AXIALRIG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.AXIALRIG)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.AXIALRIG"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.AXIALRIG"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.AXIALRIG)" for="@Model.B8.AXIALRIG" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.POSTINST"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.POSTINST)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.POSTINST"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.POSTINST"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.POSTINST)" for="@Model.B8.POSTINST" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.MASKING"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.MASKING)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.MASKING"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.MASKING"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.MASKING)" for="@Model.B8.MASKING" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.STOOPED"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.STOOPED)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.STOOPED"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.STOOPED"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.STOOPED)" for="@Model.B8.STOOPED" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>

            </tbody>

        </table>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.OTHERSIGN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.OTHERSIGN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.OTHERSIGN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.OTHERSIGN)" for="@Model.B8.OTHERSIGN" items="Model.OTHERSIGNListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.OTHERSIGN"></span>
            </div>
        </div>

        <table class="table-auto min-w-full divide-y divide-gray-300">
            <thead>
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">FINDINGS:</th>
                </tr>
            </thead>
            <tbody class="subcounterreset divide-y divide-gray-200">
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"></th>
                    @foreach (var item in Model.SignsListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LIMBAPRAX)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LIMBAPRAX"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LIMBAPRAX)" for="@Model.B8.LIMBAPRAX" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.UMNDIST)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.UMNDIST"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.UMNDIST)" for="@Model.B8.UMNDIST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LMNDIST)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LMNDIST"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LMNDIST)" for="@Model.B8.LMNDIST" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.VFIELDCUT)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.VFIELDCUT"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.VFIELDCUT)" for="@Model.B8.VFIELDCUT" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.LIMBATAX)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.LIMBATAX"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.LIMBATAX)" for="@Model.B8.LIMBATAX" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label class="text-base font-semibold text-gray-900"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.MYOCLON)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.MYOCLON"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.MYOCLON)" for="@Model.B8.MYOCLON" items="Model.SignsListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <th colspan="4" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                    </th>
                    @foreach (var item in Model.AssessmentListItems)
                    {
                        <th class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.UNISOMATO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.UNISOMATO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.UNISOMATO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.UNISOMATO"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.UNISOMATO)" for="@Model.B8.UNISOMATO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APHASIA"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APHASIA)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APHASIA"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APHASIA"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APHASIA)" for="@Model.B8.APHASIA" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.ALIENLIMB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.ALIENLIMB)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.ALIENLIMB"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.ALIENLIMB"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.ALIENLIMB)" for="@Model.B8.ALIENLIMB" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.HSPATNEG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.HSPATNEG)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.HSPATNEG"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.HSPATNEG"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.HSPATNEG)" for="@Model.B8.HSPATNEG" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.PSPOAGNO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.PSPOAGNO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.PSPOAGNO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.PSPOAGNO"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.PSPOAGNO)" for="@Model.B8.PSPOAGNO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.SMTAGNO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.SMTAGNO)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.SMTAGNO"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.SMTAGNO"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.SMTAGNO)" for="@Model.B8.SMTAGNO" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.OPTICATAX"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.OPTICATAX)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.OPTICATAX"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.OPTICATAX"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.OPTICATAX)" for="@Model.B8.OPTICATAX" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APRAXGAZE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APRAXGAZE)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APRAXGAZE"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APRAXGAZE"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APRAXGAZE)" for="@Model.B8.APRAXGAZE" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.VHGAZEPAL"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.VHGAZEPAL)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.VHGAZEPAL"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.VHGAZEPAL"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.VHGAZEPAL)" for="@Model.B8.VHGAZEPAL" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.DYSARTH"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.DYSARTH)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.DYSARTH"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.DYSARTH"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.DYSARTH)" for="@Model.B8.DYSARTH" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td colspan="4">
                        <label asp-for="B8.APRAXSP"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.APRAXSP)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B8.APRAXSP"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.APRAXSP"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B8.APRAXSP)" for="@Model.B8.APRAXSP" items="Model.AssessmentListItems"></table-cell-radio-buttons>
                </tr>

            </tbody>

        </table>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.GAITABN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B8.GAITABN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.GAITABN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.GAITABN)" for="@Model.B8.GAITABN" items="Model.GaitListItems" ui-behaviors="Model.GaitUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.GAITABN"></span>
            </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B8.GAITFIND"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B8.GAITFIND)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B8.GAITFIND"></p>
                <radio-button-group id="@Html.IdFor(m => m.B8.GAITFIND)" for="@Model.B8.GAITFIND" items="Model.GaitFindingListItems" ui-behaviors="Model.GaitFindUIBehavior"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B8.GAITFIND"></span>
                <input asp-for="@Model.B8.GAITOTHRX" />
                <label asp-for="@Model.B8.GAITOTHRX"></label>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.B8.GAITOTHRX"></span>
            </div>
        </div>

    </div>
</div>
<partial name="_FormFooter" for="@Model.B8" />