@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.B9Model
@{
    Layout = "_LayoutForm";
}

<div>
    <p class="italic mt-1 text-sm text-gray-500">
        <span class="font-bold">INSTRUCTIONS:</span> This form is to be completed by the clinician. <span class="underline">Questions below are not intended for direct administration to participant or co-participant.</span> For all questions the clinician must use their best judgment about
        whether symptoms are present and make their estimate when symptoms began based on information from participant and co-participant. For additional clarification and examples, see <span class="font-bold not-italic">UDS Coding Guidebook</span>
        for <span class="font-bold not-italic">Form B9.</span> Check only <span class="underline">one</span> box per question.
    </p>
</div>
<div>
    <div>
        <h3 class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Section 1 - Changes across domains</h3>
    </div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="p-1">
            <p class="italic mt-2 text-sm text-gray-700">Reported by participant</p>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.DECCOG"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECCOG)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECCOG"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.DECCOG)" for="@Model.B9.DECCOG" items="Model.MemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECCOG"></span>
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.DECMOT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECMOT)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECMOT"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.DECMOT)" for="@Model.B9.DECMOT" items="Model.MemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECMOT"></span>
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.PSYCHSYM"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.PSYCHSYM)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.PSYCHSYM"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.PSYCHSYM)" for="@Model.B9.PSYCHSYM" items="Model.MemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.PSYCHSYM"></span>
            </div>
        </div>
        <div class="p-1">
            <p class="italic mt-2 text-sm text-gray-700">Reported by co-participant</p>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.DECCOGIN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECCOGIN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECCOGIN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.DECCOGIN)" for="@Model.B9.DECCOGIN" items="Model.InformantMemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECCOGIN"></span>
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.DECMOTIN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECMOTIN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECMOTIN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.DECMOTIN)" for="@Model.B9.DECMOTIN" items="Model.InformantMemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECMOTIN"></span>
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.PSYCHSYMIN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.PSYCHSYMIN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.PSYCHSYMIN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.PSYCHSYMIN)" for="@Model.B9.PSYCHSYMIN" items="Model.InformantMemoryDeclineListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.PSYCHSYMIN"></span>
            </div>
        </div>
        <div class="p-1">
            <p class="italic mt-2 text-sm text-gray-700">Reported by clinician</p>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B9.DECCLIN"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECCLIN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECCLIN"></p>
                <radio-button-group id="@Html.IdFor(m => m.B9.DECCLIN)" for="@Model.B9.DECCLIN" items="Model.DECCLINListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECCLIN"></span>
            </div>
        </div>
    </div>
</div>
<div class="space-y-5">
    <div>
        <p class="mt-2">
            <span class="font-bold">In the following sections</span> record the phenotype of clinically meaningful symptoms or absence of a <span class="font-bold underline">history of these symptoms,</span>
            as determined by the clinician's best judgment following the medical history interview with the participant and co-participant.
        </p>
    </div>
    <div>
        <h3 class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:tracking-tight">Section 2 - Changes across domains</h3>
    </div>
</div>
<div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
    <div class="p-1">
        <p class="mt-2 text-gray-700">Consider if the participant currently is meaningfully impaired, <span class="font-bold underline">relative to stable baseline prior to onset of current syndrome:</span></p>
    </div>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
        <label asp-for="B9.DECCLCOG"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.DECCLCOG)</label>
        <div class="mt-4 sm:col-span-2 sm:mt-0">
            <p class="text-sm text-gray-500" asp-description-for="@Model.B9.DECCLCOG"></p>
            <radio-button-group id="@Html.IdFor(m => m.B9.DECCLCOG)" for="@Model.B9.DECCLCOG" items="Model.DECCLCOGListItems"></radio-button-group>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.DECCLCOG"></span>
        </div>
    </div>
</div>
<div class="mt-10 space-y-8 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:pb-0">
    <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
        <p><span class="counter"></span> Indicate whether the participant is meaningfully impaired in the following cognitive domains or has fluctuating cognition:</p>
    </div>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="[&_th]:p-5 [&_td]:p-5 w-full text-left text-gray-500 dark:text-gray-400">
        <thead class="text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th colspan="2">Cognitive</th>
                <th>No</th>
                <th>Yes</th>
                <th>Unknown</th>
            </tr>
        </thead>
        <tbody class="subcounterreset">
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGMEM"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGMEM)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGMEM"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGMEM" for="@Model.B9.COGMEM" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGORI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGORI)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGORI"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGORI" for="@Model.B9.COGORI" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGJUDG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGJUDG)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGJUDG"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGJUDG" for="@Model.B9.COGJUDG" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGLANG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGLANG)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGLANG"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGLANG" for="@Model.B9.COGLANG" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGVIS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGVIS)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGVIS"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGVIS" for="@Model.B9.COGVIS" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGATTN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGATTN)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGATTN"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGATTN" for="@Model.B9.COGATTN" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGFLUC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGFLUC)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGFLUC"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGFLUC" for="@Model.B9.COGFLUC" items="Model.BasicYesNoListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <label asp-for="B9.COGOTHR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGOTHR)</label>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGOTHR"></span>
                    </div>
                </td>
                <table-cell-radio-buttons id="B9.COGOTHR" for="@Model.B9.COGOTHR" items="Model.BasicYesNoOtherListItems"></table-cell-radio-buttons>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="grid grid-cols-3 ml-6">
                        <div>
                            <label asp-for="B9.COGOTHRX"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.B9.COGOTHRX)</label>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGOTHRX"></span>
                        </div>
                        <div>
                            <input asp-for="B9.COGOTHRX" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="grid grid-cols-3">
                        <div>
                            <label asp-for="B9.COGAGE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGAGE)</label>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGAGE"></span>
                        </div>
                        <div>
                            <input asp-for="B9.COGAGE" />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="B9.COGMODE"><span class="counter"></span> @Html.DisplayNameFor(m => m.B9.COGMODE)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.B9.COGMODE"></p>
        <radio-button-group id="@Html.IdFor(m => m.B9.COGMODE)" for="@Model.B9.COGMODE" items="Model.COGMODEListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGMODE"></span>
    </div>
</div>
<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6 ml-6">
    <label asp-for="B9.COGMODEX"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.B9.COGMODEX)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.B9.COGMODEX"></p>
        <input asp-for="B9.COGMODEX" />
        <span class="mt-2 text-sm text-red-600" asp-validation-for="B9.COGMODEX"></span>
    </div>
</div>
<partial name="_FormFooter" for="@Model.B9" />