@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.C1Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by ADC or clinic staff. For test administrationa and scoring, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form C1.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900">Mini-Mental State Examination (MMSE)</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MMSECOMP"><span class="counter"></span> @Html.DisplayNameFor(m => m.C1.MMSECOMP)</label>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C1.MMSECOMP"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.MMSECOMP)" for="@Model.C1.MMSECOMP" items="Model.MMSECompletedListItems" ui-behaviors="Model.MMSECOMPBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSECOMP"></span>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C1.MMSEREAS"></p>
                        <label asp-for="C1.MMSEREAS">@Html.DisplayNameFor(m => m.C1.MMSEREAS)</label>
                        <div class="mt-2">
                            <input asp-for="C1.MMSEREAS" />
                        </div>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSEREAS"></span>
                    </div>
                </div>

                <div class="m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.MMSELOC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSELOC)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSELOC"></p>
                            <radio-button-group id="@Html.IdFor(m => m.C1.MMSELOC)" for="@Model.C1.MMSELOC" items="Model.LocationListItems"></radio-button-group>
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSELOC"></span>
                        </div>
                    </div>
                    <div class="subsubcounterreset m-2">
                        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                            <label asp-for="C1.MMSELAN"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSELAN)</label>
                            <div>
                                <p class="text-sm text-gray-500" asp-description-for="C1.MMSELAN"></p>
                                <radio-button-group id="@Html.IdFor(m => m.C1.MMSELAN)" for="@Model.C1.MMSELAN" items="Model.LanguageListItems" ui-behaviors="Model.MMSELANBehavior"></radio-button-group>
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSELAN"></span>
                            </div>
                            <div>
                                <p class="text-sm text-gray-500" asp-description-for="C1.MMSELANX"></p>
                                <label asp-for="C1.MMSELANX">@Html.DisplayNameFor(m => m.C1.MMSELANX)</label>
                                <div class="mt-2">
                                    <input asp-for="C1.MMSELANX" />
                                    <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSELANX"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MMSEVIS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSEVIS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSEVIS"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.MMSEVIS)" for="@Model.C1.MMSEVIS" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSEVIS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MMSEHEAR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSEHEAR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSEHEAR"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.MMSEHEAR)" for="@Model.C1.MMSEHEAR" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSEHEAR"></span>
                    </div>
                </div>

                <div class="m-2">
                    <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="subcounter"></span> Orientation subscale score</h3>

                    <div class="subsubcounterreset m-2">
                        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                            <label asp-for="C1.MMSEORDA"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSEORDA)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSEORDA"></p>
                                <input asp-for="@Model.C1.MMSEORDA" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSEORDA"></span>
                            </div>
                        </div>
                        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                            <label asp-for="C1.MMSEORLO"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSEORLO)</label>
                            <div class="mt-4 sm:col-span-2 sm:mt-0">
                                <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSEORLO"></p>
                                <input asp-for="@Model.C1.MMSEORLO" />
                                <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSEORLO"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.PENTAGON"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.PENTAGON)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.PENTAGON"></p>
                        <input asp-for="@Model.C1.PENTAGON" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.PENTAGON"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MMSE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MMSE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MMSE"></p>
                        <input asp-for="@Model.C1.MMSE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MMSE"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Administration of the remainder of the battery</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.NPSYCLOC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.NPSYCLOC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.NPSYCLOC"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.NPSYCLOC)" for="@Model.C1.NPSYCLOC" items="Model.LocationListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.NPSYCLOC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.NPSYLAN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.NPSYLAN)</label>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C1.NPSYLAN"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.NPSYLAN)" for="@Model.C1.NPSYLAN" items="Model.LanguageListItems" ui-behaviors="Model.NPSYLANBehavior"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.NPSYLAN"></span>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C1.NPSYLANX"></p>
                        <label asp-for="C1.NPSYLANX">@Html.DisplayNameFor(m => m.C1.NPSYLANX)</label>
                        <div class="mt-2">
                            <input asp-for="C1.NPSYLANX" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.NPSYLANX"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Logical Memory IA - Immediate</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
                    <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="subcounter"></span> If this test has been administered to the participant within the past three months, specify the date previously administered</h3>
                    <div>
                        <label asp-for="C1.LOGIMO"></label>
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.LOGIMO"></p>
                        <input asp-for="@Model.C1.LOGIMO" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.LOGIMO"></span>
                    </div>
                    <div>
                        <label asp-for="C1.LOGIDAY"></label>
                        <input asp-for="@Model.C1.LOGIDAY" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.LOGIDAY"></span>
                    </div>
                    <div>
                        <label asp-for="C1.LOGIYR"></label>
                        <input asp-for="@Model.C1.LOGIYR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.LOGIYR"></span>
                    </div>
                </div>
                <div class="subsubcounterreset m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.LOGIPREV"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.LOGIPREV)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.LOGIPREV"></p>
                            <input asp-for="@Model.C1.LOGIPREV" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.LOGIPREV"></span>
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.LOGIMEM"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.LOGIMEM)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.LOGIMEM"></p>
                        <input asp-for="@Model.C1.LOGIMEM" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.LOGIMEM"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Benson Complex Figure Copy</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSBENTC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSBENTC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSBENTC"></p>
                        <input asp-for="@Model.C1.UDSBENTC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSBENTC"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Digit Span Forward</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.DIGIF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.DIGIF)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.DIGIF"></p>
                        <input asp-for="@Model.C1.DIGIF" ui-range-behavior="Model.DIGIFBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.DIGIF"></span>
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.DIGIFLEN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.DIGIFLEN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.DIGIFLEN"></p>
                        <input asp-for="@Model.C1.DIGIFLEN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.DIGIFLEN"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Digit Span Backward</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.DIGIB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.DIGIB)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.DIGIB"></p>
                        <input asp-for="@Model.C1.DIGIB" ui-range-behavior="Model.DIGIBBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.DIGIB"></span>
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.DIGIBLEN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.DIGIBLEN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.DIGIBLEN"></p>
                        <input asp-for="@Model.C1.DIGIBLEN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.DIGIBLEN"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Category Fluency</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.ANIMALS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.ANIMALS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.ANIMALS"></p>
                        <input asp-for="@Model.C1.ANIMALS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.ANIMALS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.VEG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.VEG)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.VEG"></p>
                        <input asp-for="@Model.C1.VEG" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.VEG"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Trail Making Test</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.TRAILA"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILA)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILA"></p>
                        <input asp-for="@Model.C1.TRAILA" ui-range-behavior="Model.TRAILABehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILA"></span>
                    </div>
                </div>

                <div class="subsubcounterreset m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.TRAILARR"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILARR)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILARR"></p>
                            <input asp-for="@Model.C1.TRAILARR" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILARR"></span>
                        </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.TRAILALI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILALI)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILALI"></p>
                            <input asp-for="@Model.C1.TRAILALI" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILALI"></span>
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.TRAILB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILB)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILB"></p>
                        <input asp-for="@Model.C1.TRAILB" ui-range-behavior="Model.TRAILBBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILB"></span>
                    </div>
                </div>

                <div class="subsubcounterreset m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.TRAILBRR"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILBRR)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILBRR"></p>
                            <input asp-for="@Model.C1.TRAILBRR" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILBRR"></span>
                        </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C1.TRAILBLI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C1.TRAILBLI)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C1.TRAILBLI"></p>
                            <input asp-for="@Model.C1.TRAILBLI" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.TRAILBLI"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Logical Memory IA - Delayed</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MEMUNITS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MEMUNITS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MEMUNITS"></p>
                        <input asp-for="@Model.C1.MEMUNITS" ui-range-behavior="Model.MEMUNITSBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MEMUNITS"></span>
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.MEMTIME"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.MEMTIME)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.MEMTIME"></p>
                        <input asp-for="@Model.C1.MEMTIME" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.MEMTIME"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Benson Complex Figure Recall</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSBENTD"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSBENTD)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSBENTD"></p>
                        <input asp-for="@Model.C1.UDSBENTD" ui-range-behavior="Model.UDSBENTDBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSBENTD"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSBENRS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSBENRS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSBENRS"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.UDSBENRS)" for="@Model.C1.UDSBENRS" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSBENRS"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Boston Naming Test (30 odd-numbered items)</h3>
            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.BOSTON"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.BOSTON)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.BOSTON"></p>
                        <input asp-for="@Model.C1.BOSTON" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.BOSTON"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Verbal Fluency: Phonemic Test</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERFC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERFC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERFC"></p>
                        <input asp-for="@Model.C1.UDSVERFC" ui-range-behavior="Model.UDSVERFCBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERFC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERFN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERFN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERFN"></p>
                        <input asp-for="@Model.C1.UDSVERFN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERFN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERNF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERNF)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERNF"></p>
                        <input asp-for="@Model.C1.UDSVERNF" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERNF"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERLC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERLC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERLC"></p>
                        <input asp-for="@Model.C1.UDSVERLC" ui-range-behavior="Model.UDSVERLCBehavior" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERLC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERLR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERLR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERLR"></p>
                        <input asp-for="@Model.C1.UDSVERLR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERLR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERLN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERLN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERLN"></p>
                        <input asp-for="@Model.C1.UDSVERLN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERLN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERTN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERTN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERTN"></p>
                        <input asp-for="@Model.C1.UDSVERTN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERTN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERTE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERTE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERTE"></p>
                        <input asp-for="@Model.C1.UDSVERTE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERTE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.UDSVERTI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.UDSVERTI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.UDSVERTI"></p>
                        <input asp-for="@Model.C1.UDSVERTI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.UDSVERTI"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Overall appraisal</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C1.COGSTAT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C1.COGSTAT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C1.COGSTAT"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C1.COGSTAT)" for="@Model.C1.COGSTAT" items="Model.OverallListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C1.COGSTAT"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_FormFooter" for="@Model.C1" />
