@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.C2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        <b>INSTRUCTIONS:</b>  This form is to be completed by ADC or clinic staff. For test administration and scoring, see <guidebook kind="@Model.C2"></guidebook>, Form C2. Any new participants who enroll in the UDS after the implementation of UDS3 must be assessed with the new neuropsychological test battery (Form C2).Any new participants who enroll in the UDS after the implementation of UDSv4 must be
        assessed with the new neuropsychological test battery (Form C2 or C2T). <br />
        <b>KEY:</b> If the participant cannot complete any of the following exams, please give the reason by entering one of the following codes:
        95 / 995 = Physical problem 96 / 996 = Cognitive/behavior problem 97 / 997 = Other problem 98 / 998 = Verbal refusal
    </p>
</div>
<div class="@rowCSS">
    <div>
        <label for="@Html.IdFor(m => m.C2.MODE)" class="block text-sm font-semibold leading-6 text-gray-900">Mode</label>
        <enum-select for="@Model.C2.MODE" items="Html.GetEnumSelectList<FormMode>()" enabled-values="@Model.C2.AllowedFormModes" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"></enum-select>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.C2.MODE"></span>
    </div>
    <div>
        <label for="@Html.IdFor(m => m.C2.RMMODE)" class="block text-sm font-semibold leading-6 text-gray-900">If remote, specify modality</label>
        <enum-select 
            data-controller="selectendpoint"  
            data-selectendpoint-target="dropdown"
            data-selectendpoint-visit-id-value="@Model.C2.VisitId" 
            data-action="change->selectendpoint#checkDropdown"
            data-turboframe="C2"
            data-remote-end-point="../C2/@Model.BaseForm.VisitId?handler=C2T"
            data-in-person-end-point="../C2/@Model.BaseForm.VisitId?handler=C2"
            for="@Model.C2.RMMODE" 
            items="Html.GetEnumSelectList<RemoteModality>()" 
            enabled-values="@Model.C2.AllowedRemoteModalities" 
            class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option disabled selected class="disabled:opacity-75">--</option>
        </enum-select>
    </div>

    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.C2.RMMODE"></span>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
    </div>
</div>
<a data-turbo-frame="C2" asp-page="/UDS4/C2" asp-page-handler="C2" asp-route-id="@Model.Visit.Id" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Add C2</a>
<turbo-frame id="C2">
</turbo-frame>
<div asp-validation-summary="All" class="text-red-600"></div>
