@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS4.D1aModel
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by the clinician. For additional clarification and examples, see the <guidebook kind="@Model.Visit.Kind"></guidebook>, Form D1a. Check only <span class="underline">one</span> box per question.
    </p>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.DXMETHOD"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.DXMETHOD)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.DXMETHOD"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.DXMETHOD)" for="@Model.D1a.DXMETHOD" items="Model.DiagnosisMethodListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.DXMETHOD"></span>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.NORMCOG"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.NORMCOG)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.NORMCOG"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.NORMCOG)" for="@Model.D1a.NORMCOG" items="Model.NORMCOGListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.NORMCOG"></span>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.SCDDXCONF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.D1a.SCDDXCONF)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.SCDDXCONF"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.SCDDXCONF)" for="@Model.D1a.SCDDXCONF" items="Model.SCDDXCONFListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.SCDDXCONF"></span>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.SCD"><span class="subounter"></span> @Html.DisplayNameFor(m => m.D1a.SCD)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.SCD"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.SCD)" for="@Model.D1a.SCD" items="Model.SCDListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.SCD"></span>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.DEMENTED"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.DEMENTED)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.DEMENTED"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.DEMENTED)" for="@Model.D1a.DEMENTED" items="Model.DEMENTEDListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.DEMENTED"></span>
    </div>
</div>

<div class="ml-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <div>
        <label class="text-base font-semibold text-gray-900"><span class="counter"></span>Check all criteria that apply in Q4.</label><br />
    </div>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <fieldset class="subsubcounterreset">
            <div class="space-y-1">
                <div class="relative flex items-start">
                    <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.MCICRITCLN", Model.D1a.MCICRITCLN, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.MCICRITCLN" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.MCICRITCLN)</label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.MCICRITCLN", Model.D1a.MCICRITCLN, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.MCICRITCLN" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.MCICRITCLN)</label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.MCICRITCLN", Model.D1a.MCICRITCLN, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.MCICRITCLN" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.MCICRITCLN)</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.MCI"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.MCI)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.MCI"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.MCI)" for="@Model.D1a.MCI" items="Model.MCIListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.MCI"></span>
    </div>
</div>


<div class="ml-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <div>
        <label class="text-base font-semibold text-gray-900">
            <span class="counter"></span>Check all applicable criteria for cognitively impaired, not MCI/dementia in Q5, using any relevant data. Any conditions
            contributing to impairment (e.g., substance abuse or medications) should be identified in Section 3.
        </label><br />
    </div>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <fieldset class="subsubcounterreset">
            <div class="space-y-1">
                <div class="relative flex items-start">
                    <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.IMPNOMCIFU", Model.D1a.IMPNOMCIFU, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.IMPNOMCIFU" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.IMPNOMCIFU)</label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.IMPNOMCICG", Model.D1a.IMPNOMCICG, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.IMPNOMCICG" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.IMPNOMCICG)</label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                    <div class="flex h-6 items-center">
                        @Html.CheckBox("D1a.IMPNOMCLCD", Model.D1a.IMPNOMCLCD, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                    </div>
                    <div class="ml-3 text-sm leading-6">
                        <label asp-for="D1a.IMPNOMCLCD" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.IMPNOMCLCD)</label>
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:py-1">
                    <div class="relative flex items-start">
                        <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("D1a.IMPNOMCIO", Model.D1a.IMPNOMCIO, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600", data_affects = "true", data_affects_toggle_targets = "[ \"D1a.IMPNOMCIOX\" ]" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="D1a.IMPNOMCIO" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.IMPNOMCIO)</label>
                        </div>
                    </div>
                    <div class="relative flex items-start">
                        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                        <div class="mt-2">
                            <label asp-for="D1a.IMPNOMCIOX">@Html.DisplayNameFor(m => m.D1a.IMPNOMCIOX)</label>
                            <input asp-for="D1a.IMPNOMCIOX" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.IMPNOMCIOX"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
    <label asp-for="D1a.IMPNOMCI"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.IMPNOMCI)</label>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
        <p class="text-sm text-gray-500" asp-description-for="@Model.D1a.IMPNOMCI"></p>
        <radio-button-group id="@Html.IdFor(m => m.D1a.IMPNOMCI)" for="@Model.D1a.IMPNOMCI" items="Model.IMPNOMCIListItems"></radio-button-group>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.IMPNOMCI"></span>
    </div>
</div>

@*<table>
    <tbody>
        <tr class="subcounterreset">
            <td><span class="counter"></span></td>
            <td colspan="2">
                <label asp-for="D1a.CDOMMEM"><span class="counter"></span> @Html.DisplayNameFor(m => m.D1a.CDOMMEM)</label>
            </td>
            <td align="center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input etiology" asp-for="D1a.CDOMMEM" />
                    <label class="form-check-label" asp-for="D1a.CDOMMEM"> <span class="badge badge-pill badge-light">1</span></label>
                </div>
            </td>
    </tbody>
</table>

<div class="relative flex items-start">
    <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
    <div class="flex h-6 items-center">
        @Html.CheckBox("D1a.CDOMMEM", Model.D1a.CDOMMEM, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
    </div>
    <div class="ml-3 text-sm leading-6">
        <label asp-for="D1a.CDOMMEM" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.CDOMMEM)</label>
    </div>
</div>*@

<div class="relative flex items-start">
    <span class="subcounter mr-3 block text-sm font-medium text-gray-900">6a.</span>
    <div class="flex h-6 items-center">
        @Html.CheckBoxFor(model => model.D1a.CDOMMEM, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" })
    </div>
    <div class="ml-3 text-sm">
        <label for="D1a.CDOMMEM" class="font-medium text-gray-900">Memory</label>
    </div>
    <div class="ml-auto">
        <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" disabled>
            <span class="ml-2 text-sm text-gray-500">Impaired</span>
        </label>
    </div>
</div>

@*<div class="sm:grid sm:grid-cols-2 sm:items-start sm:gap-4 sm:py-1">
    <div class="relative flex items-start">
        <span class="subcounter mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
        <div class="flex h-6 items-center">
            @Html.CheckBox("D1a.IMPNOMCIO", Model.D1a.IMPNOMCIO, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600", data_affects = "true", data_affects_toggle_targets = "[ \"D1a.IMPNOMCIOX\" ]" })
        </div>
        <div class="ml-3 text-sm leading-6">
            <label asp-for="D1a.IMPNOMCIO" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.D1a.IMPNOMCIO)</label>
        </div>
    </div>
    <div class="relative flex items-start">
        <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
        <div class="mt-2">
            <label asp-for="D1a.IMPNOMCIOX">@Html.DisplayNameFor(m => m.D1a.IMPNOMCIOX)</label>
            <input asp-for="D1a.IMPNOMCIOX" />
            <span class="mt-2 text-sm text-red-600" asp-validation-for="D1a.IMPNOMCIOX"></span>
        </div>
    </div>
</div>*@

<partial name="_FormFooter" for="@Model.D1a" />
