@model UDS.Net.Forms.Models.UDS4.A3FamilyMember

<tr class="border-b border-gray-100 a3-intra-row-outlet" data-a3-enable-rows-target="row" data-controller="a3-enable-intra-row" data-a3-enable-intra-row-invalid-class="input-validation-error border-red-500 border-red-600" data-a3-enable-intra-row-disabled-class="bg-gray-100 cursor-not-allowed opacity-60">
    <td class="w-20">
        <span class="subcounter"></span> @Model.FamilyMemberIndex
        <input type="hidden" asp-for="@Model.FamilyMemberIndex" />
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.YOB" placeholder="YYYY" data-a3-enable-rows-target="input" data-row-index="@Model.FamilyMemberIndex" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="YOB" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGD" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-rows-target="input" data-row-index="@Model.FamilyMemberIndex" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="AGD" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETPR" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-a3-enable-rows-target="input" data-row-index="@Model.FamilyMemberIndex" data-a3-enable-intra-row-target="primaryDx" data-action="a3-enable-intra-row#updateFields change->a3-enable-intra-row#updateFields" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETPR" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETSEC" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-row-index="@Model.FamilyMemberIndex" data-a3-enable-intra-row-target="dependent" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETSEC" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex" data-a3-enable-intra-row-target="validationSpan"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.MEVAL" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-row-index="@Model.FamilyMemberIndex"  data-a3-enable-intra-row-target="dependent" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="MEVAL" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex" data-a3-enable-intra-row-target="validationSpan"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGO" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" data-row-index="@Model.FamilyMemberIndex"  data-a3-enable-intra-row-target="dependent" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="AGO" data-a3-enable-rows-target="validationSpan" data-row-index="@Model.FamilyMemberIndex" data-a3-enable-intra-row-target="validationSpan"></span>
    </td>
</tr>