@model UDS.Net.Forms.Models.UDS4.A3FamilyMember

<tr class="border-b border-gray-100">
    <td class="w-20">
        <span class="subcounter"></span> @Model.FamilyMemberIndex
        <input type="hidden" asp-for="@Model.FamilyMemberIndex" />
    </td>
    <td>
        <fieldset>
            <div class="grid grid-cols-1 sm:grid-cols-1">
                <div class="sm:col-span-1">
                </div>
                <div class="sm:col-span-1">
                    <input asp-for="@Model.YOB" placeholder="YYYY" />
                </div>
            </div>
        </fieldset>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGD" />
        </div>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETPR" />
        </div>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETSEC" />
        </div>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.MEVAL" />
        </div>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGO" />
        </div>
    </td>
</tr>
<tr>
    <td></td>
    <td colspan="2">
        <span class="mt-2 text-sm text-red-600" asp-validation-for="YOB"></span>
@*         <span class="mt-2 text-sm text-red-600" asp-validation-for="AGD"></span> *@
    </td>
    <td colspan="4">
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETPR"></span>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETSEC"></span>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="MEVAL"></span>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="AGO"></span>
    </td>
</tr>