@model UDS.Net.Forms.Models.UDS4.A3FamilyMember

<tr class="border-b border-gray-100">
    <td class="w-20">
        <span class="subcounter"></span> @Model.FamilyMemberIndex
        <input type="hidden" asp-for="@Model.FamilyMemberIndex" />
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.YOB" placeholder="YYYY" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="YOB"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGD" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="AGD"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETPR" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETPR"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.ETSEC" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="ETSEC"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.MEVAL" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="MEVAL"></span>
    </td>
    <td>
        <div class="grid grid-cols-1 sm:grid-cols-1">
            <input asp-for="@Model.AGO" />
        </div>
        <span class="mt-2 text-sm text-red-600" asp-validation-for="AGO"></span>
    </td>
</tr>