@model UDS.Net.Forms.Models.UDS4.A4aTreatment

<tr class="border-b border-gray-100">

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="flex h-6 items-center">
                @Html.CheckBox("A4aTreatment.TARGETAB", Model.TARGETAB, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
            </div>
            <div class="ml-3 text-sm leading-6">
                <label asp-for="TARGETAB" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.TARGETAB)</label>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="flex h-6 items-center">
                @Html.CheckBox("A4aTreatment.TARGETTAU", Model.TARGETTAU, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
            </div>
            <div class="ml-3 text-sm leading-6">
                <label asp-for="TARGETTAU" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.TARGETTAU)</label>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="flex h-6 items-center">
                @Html.CheckBox("A4aTreatment.TARGETINF", Model.TARGETINF, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
            </div>
            <div class="ml-3 text-sm leading-6">
                <label asp-for="TARGETINF" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.TARGETINF)</label>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="flex h-6 items-center">
                @Html.CheckBox("A4aTreatment.TARGETSYN", Model.TARGETSYN, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
            </div>
            <div class="ml-3 text-sm leading-6">
                <label asp-for="TARGETSYN" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.TARGETSYN)</label>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="flex h-6 items-center">
                @Html.CheckBox("A4aTreatment.TARGETOTH", Model.TARGETOTH, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
            </div>
            <div class="ml-3 text-sm leading-6">
                <label asp-for="TARGETOTH" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.TARGETOTH)</label>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="TARGETOTX" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="TARGETOTX"></span>
            </div>
        </div>
    </td>

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="relative flex items-start">
            <span class="mr-3 block font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="TRTTRIAL" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="TRTTRIAL"></span>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="NCTNUM" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="NCTNUM"></span>
            </div>
        </div>
    </td>

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="STARTMO" placeholder="MM" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="STARTMO"></span>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="STARTYEAR" placeholder="YYYY" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="STARTYEAR"></span>
            </div>
        </div>
    </td>

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="ENDMO" placeholder="MM" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="ENDMO"></span>
            </div>
        </div>
        <div class="relative flex items-start">
            <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
            <div class="mt-2">
                <input asp-for="ENDYEAR" placeholder="YYYY" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="ENDYEAR"></span>
            </div>
        </div>
    </td>

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="mt-4 sm:col-span-2 sm:mt-0 space-y-1">
            <p class="text-sm text-gray-500" asp-description-for="@Model.CARETRIAL"></p>
            <radio-button-group id="@Html.IdFor(m => m.CARETRIAL)" for="@Model.CARETRIAL" items="Model.CARETRIALListItems"></radio-button-group>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="CARETRIAL"></span>
        </div>
    </td>

    <td class="px-6 py-3 border-r border-gray-300">
        <div class="mt-4 sm:col-span-2 sm:mt-0 space-y-1">
            <p class="text-sm text-gray-500" asp-description-for="@Model.TRIALGRP"></p>
            <radio-button-group id="@Html.IdFor(m => m.TRIALGRP)" for="@Model.TRIALGRP" items="Model.TRIALGRPistItems"></radio-button-group>
            <span class="mt-2 text-sm text-red-600" asp-validation-for="TRIALGRP"></span>
        </div>
    </td>

</tr>