@model Pages.UDS4.A4Model
@{
    // this works to render route in js, but not in razor page ../A4/@Model.VisitId?handler=RxNormSearch
}
<form method="post" action="~/UDS4/A4/@Model.Visit.Id?handler=RxNormSearch" data-turbo-frame="_RxNorm">
    <div data-controller="autocomplete  rxNormDisplayNames" data-action="autocomplete:newSearch->rxNormDisplayNames#fetchData" data-rxNormDisplayNames-fetchedLetters-value="" data-rxNormDisplayNames-url-value="../A4/@Model.Visit.Id?handler=RxNormSearch" data-formlessSubmit-url-value="../A4/@Model.Visit.Id?handler=RxNormSearch">
        <label class="max-w-xl text-3xl font-semibold tracking-tight text-balance text-gray-900 sm:text-4xl lg:col-span-7">Search RxNorm</label>
        <div class="w-full max-w-md lg:col-span-5 lg:pt-2">
            <div class="flex gap-x-4">
                <label asp-for="@Model.RxNormLookup.SearchTerm" class="sr-only">@Html.DisplayNameFor(m => m.RxNormLookup.SearchTerm)</label>
                <input data-autocomplete-target="searchBox" data-action="click->autocomplete#showList input->autocomplete#filterList" asp-for="@Model.RxNormLookup.SearchTerm" placeholder="Search by drug or brand name" class="block w-full max-w-lg rounded-md border-gray-400 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm placeholder:text-gray-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none" />
                <input type="hidden" asp-for="@Model.RxNormLookup.Id" />
                <input type="hidden" asp-for="@Model.RxNormLookup.VisitId" />
                <input name="RxNormSearch" type="submit" value="Search" class="flex-none rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" />
            </div>
            <!--// Autocomplete //-->
            <div data-autocomplete-target="list" class="mx-auto max-w-xl transform rounded-xl bg-white p-2 ring-1 shadow-2xl ring-black/5 transition-all">
                <ul class="-mb-2 max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800" id="options" role="listbox">
                </ul>
            </div>
            <!--// No results //-->
            <div data-autocomplete-target="noResults" class="bg-slate-50 px-16 py-20 text-center hidden">
                <h2 class="font-semibold text-slate-900">No results found</h2>
                <p class="mt-2 text-sm/6 text-slate-600">We can’t find anything with that term at the moment, try searching something else.</p>
            </div>
        </div>
    </div>
</form>

<turbo-frame id="_RxNormAutocomplete"></turbo-frame>