@page "{id:int?}"
@model UDS.Net.Forms.Pages.RxNorm.SearchModel
@{
    ViewData["Title"] = "Search RxNorm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";

}

<div data-controller="autocomplete rxNormDisplayNames" data-action="autocomplete:newSearch->rxNormDisplayNames#fetchData click@window->autocomplete#handleOutsideClick" class="px-2 py-5">

    <turbo-frame id="RxNorm">
        <a asp-page="/UDS4/A4" asp-route-id="@Model.RxNormLookup.Id" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Back</a>

        <div class="bg-white py-16 sm:py-24 lg:py-32">
            <div data-rxNormDisplayNames-fetchedLetters-value="" class="mx-auto max-w-7xl px-6 lg:px-8">
                <h2 class="max-w-xl text-3xl font-semibold tracking-tight text-balance text-gray-900 sm:text-4xl lg:col-span-7">Search RxNorm</h2>
                <form method="post" class="w-full max-w-md lg:col-span-5 lg:pt-2">
                    <div class="flex gap-x-4">
                        <label asp-for="@Model.RxNormLookup.SearchTerm" class="sr-only">@Html.DisplayNameFor(m => m.RxNormLookup.SearchTerm)</label>
                        <input data-autocomplete-target="searchBox" data-action="click->autocomplete#showList input->autocomplete#filterList keydown.up->autocomplete#highlightItem keydown.down->autocomplete#highlightItem keydown.enter->autocomplete#setSearchBox" asp-for="@Model.RxNormLookup.SearchTerm" placeholder="Search by drug or brand name" class="min-w-0 flex-auto rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-indigo-600 sm:text-sm/6" />
                        <input type="hidden" asp-for="@Model.RxNormLookup.Id" />

                        <input type="submit" value="Search" class="flex-none rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" />
                    </div>
                    <!--// Autocomplete //-->
                    <div data-autocomplete-target="list" class="mx-auto max-w-xl transform rounded-xl bg-white p-2 ring-1 shadow-2xl ring-black/5 transition-all">
                        <ul data-rxNormDisplayNames-target="list"
                            class="-mb-2 max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800"
                            id="options" role="listbox">
                            <!-- Active: "bg-indigo-600 text-white outline-hidden" -->
                            <li data-autocomplete-target="item" class="cursor-default text-gray-900 rounded-md px-4 py-2 select-none" id="option-1" role="option" tabindex="-1">Search for medications by drug or brand name</li>
                        </ul>
                        <span data-rxNormDisplayNames-target="progressIndicator" class="hidden">
                            <svg class="mr-3 -ml-1 size-5 animate-spin text-indigo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
                        </span>
                    </div>
                    <!--// No results //-->
                    <div data-autocomplete-target="noResults" class="bg-slate-50 px-16 py-20 text-center hidden">
                        <h2 class="font-semibold text-slate-900">No results found</h2>
                        <p class="mt-2 text-sm/6 text-slate-600">We can’t find anything with that term at the moment, try searching something else.</p>
                    </div>
                </form>
            </div>
        </div>
    </turbo-frame>
</div>