@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A1Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">A1: Participant Demographics</h2>
    <p class="mt-1 text-sm text-gray-500">INSTRUCTIONS: This form is to be completed by intake interviewer based on ADC scheduling records, participant interview, medical records, and proxy co-participant report (as needed). For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form A1. Check only <span class="underline">one</span> box per question.</p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        @if (Model.Visit != null && Model.Visit.Kind == "IVP")
        {
            <div class="@rowCSS">
                <label asp-for="A1.REASON"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A1.REASON)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <div class="max-w-lg">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.A1.REASON"></p>
                        <radio-button-group id="A1_REASON" for="A1.REASON" items="Model.ParticipationReasonsListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.REASON"></span>
                    </div>
                </div>
            </div>

            <div class="subcounterreset">
                <div class="@rowCSS">
                    <label asp-for="A1.REFERSC"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.A1.REFERSC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.A1.REFERSC"></p>
                        <radio-button-group id="A1_REFERSC" for="A1.REFERSC" items="Model.ReferralSourcesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.REFERSC"></span>

                    </div>
                </div>
                <div class="@rowCSS">
                    <label asp-for="A1.LEARNED"><span class="subcounter"></span> @Html.DisplayNameFor(model => model.A1.LEARNED)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.A1.LEARNED"></p>
                        <radio-button-group id="A1_LEARNED" for="A1.LEARNED" items="Model.SecondaryReferralSourcesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.LEARNED"></span>
                    </div>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.PRESTAT"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.PRESTAT)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.PRESTAT"></p>
                    <radio-button-group id="A1_PRESTAT" for="A1.PRESTAT" items="Model.DiseaseStatusesListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.PRESTAT"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.PRESPART"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.PRESPART)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.PRESPART"></p>
                    <radio-button-group id="A1_PRESPART" for="A1.PRESPART" items="Model.ParticipationsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.PRESPART"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.SOURCENW"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.SOURCENW)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.SOURCENW"></p>
                    <radio-button-group id="A1_SOURCENW" for="@Model.A1.SOURCENW" items="Model.EnrollmentTypesListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.SOURCENW"></span>
                </div>
            </div>

        }


        <div class="@rowCSS">
            <div>
                <label class="text-base font-semibold text-gray-900"><span class="counter"></span> Participant's month and year of birth</label>

            </div>
            <div>
                <label asp-for="@Model.A1.BIRTHMO">Month</label>
                <input asp-for="@Model.A1.BIRTHMO" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHMO"></span>
            </div>
            <div>
                <label asp-for="@Model.A1.BIRTHYR">Year</label>
                <input asp-for="@Model.A1.BIRTHYR" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.BIRTHYR"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A1.SEX"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.SEX)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A1.SEX"></p>
                <radio-button-group id="A1_SEX" for="@Model.A1.SEX" items="Model.SexListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.SEX"></span>
            </div>
        </div>



        @if (Model.Visit != null && Model.Visit.Kind == "IVP")
        {
            <div class="@rowCSS">
                <label class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.HISPANIC)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="A1.HISPANIC"></p>
                    <radio-button-group id="A1_HISPANIC" for="@Model.A1.HISPANIC" items="Model.HispanicLatinoListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPANIC"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.HISPOR" class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.HISPOR)</label>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.HISPOR"></p>
                    <radio-button-group id="Origins" for="@Model.A1.HISPOR" items="Model.OriginsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPOR"></span>
                </div>
                <div class="mt-4 space-y-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.HISPORX"></p>
                    <label asp-for="@Model.A1.HISPORX">@Html.DisplayNameFor(m => m.A1.HISPORX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.HISPORX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.HISPORX"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.RACE" class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.RACE)</label>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.RACE"></p>
                    <radio-button-group id="RacialGroups" for="@Model.A1.RACE" items="Model.RacialGroupsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACE"></span>
                </div>
                <div class="mt-4 space-y-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.RACEX"></p>
                    <label asp-for="@Model.A1.RACEX">@Html.DisplayNameFor(m => m.A1.RACEX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.RACEX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACEX"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.RACESEC" class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.RACESEC)</label>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.RACESEC"></p>
                    <radio-button-group id="RacialGroupsSecondary" for="@Model.A1.RACESEC" items="Model.RacialGroupsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACESEC"></span>
                </div>
                <div class="mt-4 space-y-4">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A1.RACESECX"></p>
                    <label asp-for="@Model.A1.RACESECX">@Html.DisplayNameFor(m => m.A1.RACESECX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.RACESECX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACESECX"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.RACETER"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.RACETER)</label>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="A1.RACETER"></p>
                    <radio-button-group id="RacialGroupsTertiary" for="@Model.A1.RACETER" items="Model.RacialGroupsListItems"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACETER"></span>
                </div>
                <div class="mt-4 space-y-4">
                    <p class="text-sm text-gray-500" asp-description-for="A1.RACETERX"></p>
                    <label asp-for="@Model.A1.RACETERX">@Html.DisplayNameFor(m => m.A1.RACETERX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.RACETERX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.RACETERX"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="A1.PRIMLANG"><span class="counter"></span> @Html.DisplayNameFor(model => model.A1.PRIMLANG)</label>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="A1.PRIMLANG"></p>
                    <radio-button-group id="A1_PRIMLANG" for="@Model.A1.PRIMLANG" items="Model.PrimaryLanguage"></radio-button-group>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.PRIMLANG"></span>
                </div>
                <div>
                    <p class="text-sm text-gray-500" asp-description-for="A1.PRIMLANX"></p>
                    <label asp-for="@Model.A1.PRIMLANX">@Html.DisplayNameFor(m => m.A1.PRIMLANX)</label>
                    <div class="mt-2">
                        <input asp-for="@Model.A1.PRIMLANX" />
                    </div>
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.PRIMLANX"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="@Model.A1.EDUC"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.EDUC)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="A1.EDUC"></p>
                    <input asp-for="@Model.A1.EDUC" />
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.EDUC"></span>
                </div>
            </div>
        }

        <div class="@rowCSS">
            <label asp-for="@Model.A1.MARISTAT"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.MARISTAT)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <radio-button-group id="MaritalStatuses" for="@Model.A1.MARISTAT" items="Model.MaritalStatusListItems"></radio-button-group>

            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A1.LIVSITUA"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.LIVSITUA)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <radio-button-group id="LivingSituations" for="@Model.A1.LIVSITUA" items="Model.LivingSituationListItems"></radio-button-group>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A1.INDEPEND"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.INDEPEND)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <radio-button-group id="IndependenceLevels" for="@Model.A1.INDEPEND" items="Model.IndependenceLevelListItems"></radio-button-group>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A1.RESIDENC"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.RESIDENC)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <radio-button-group id="ResidenceTypes" for="@Model.A1.RESIDENC" items="Model.ResidenceTypeListItems"></radio-button-group>
            </div>
        </div>

        @if (Model.Visit != null && Model.Visit.Kind == "IVP")
        {
            <div class="@rowCSS">
                <label asp-for="@Model.A1.ZIP"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.ZIP)</label>
                <div class="mt-4 sm:col-span-1 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="A1.ZIP"></p>
                    <input asp-for="@Model.A1.ZIP" />
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A1.ZIP"></span>
                </div>
            </div>

            <div class="@rowCSS">
                <label asp-for="@Model.A1.HANDED"><span class="counter"></span> @Html.DisplayNameFor(m => m.A1.HANDED)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <radio-button-group id="ResidenceTypes" for="@Model.A1.HANDED" items="Model.HandednessListItems"></radio-button-group>
                </div>
            </div>
        }
    </div>

</div>

<input type="hidden" asp-for="A1.Id" />
<partial name="_FormFooter" for="@Model.A1" />


