@page "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.A2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">A2: Co-participant Demographics</h2>
    <p class="mt-1 text-sm text-gray-500">INSTRUCTIONS: This form is to be completed by intake interviewer based on co-participant's report. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form A2. Check only <span class="underline">one</span> box per question.</p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900"><span class="counter"></span> Co-participant's month and year of birth</label>
            <div>
                <label asp-for="A2.INBIRMO">Month</label>
                <input asp-for="A2.INBIRMO" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INBIRMO"></span>
            </div>
            <div>
                <label asp-for="A2.INBIRYR">Year</label>
                <input asp-for="A2.INBIRYR" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INBIRYR"></span>
            </div>
        </div>
        <div class="@rowCSS">
            <label asp-for="A2.INSEX"><span class="counter"></span> @Html.DisplayNameFor(m => m.A2.INSEX)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A2.INSEX"></p>
                <radio-button-group id="A2_SEX" for="@Model.A2.INSEX" items="Model.SexListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INSEX"></span>
            </div>
        </div>

        @if (Model.Visit != null && Model.Visit.Kind == "FVP")
        {
            <div class="@rowCSS">
                <label asp-for="A2.NEWINF"><span class="counter"></span> @Html.DisplayNameFor(m => m.A2.NEWINF)</label>
                <div class="mt-4 sm:col-span-2 sm:mt-0">
                    <p class="text-sm text-gray-500" asp-description-for="@Model.A2.NEWINF"></p>
                    <input asp-for="A2.NEWINF" />
                    <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.NEWINF"></span>
                </div>
            </div>
        }

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INHISP"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A2.INHISP)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INHISP"></p>
                <radio-button-group id="A2_INHISP" for="@Model.A2.INHISP" items="Model.HispanicLatinoListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INHISP"></span>
            </div>
        </div>
        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INHISPOR"><span class="counter"></span><span class="counter invisible"></span> @Html.DisplayNameFor(model => model.A2.INHISPOR)</label>
            <div>
                <p asp-description-for="A2.INHISPOR"></p>
                <radio-button-group id="A2_INHISPOR" for="@Model.A2.INHISPOR" items="Model.OriginsListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INHISPOR"></span>
            </div>
            <div>
                <p class="text-sm text-gray-500" asp-description-for="A2.INHISPOX"></p>
                <label asp-for="@Model.A2.INHISPOX">@Html.DisplayNameFor(m => m.A2.INHISPOX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A2.INHISPOX" />
                </div>
                <p class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INHISPOX"></p>
            </div>
        </div>
        <div class="@rowCSS">
            <label asp-for="A2.INRACE" class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INRACE)</label>
            <div>
                <p class="text-sm text-gray-500" asp-description-for="@Model.A2.INRACE"></p>
                <radio-button-group id="A2_INRACE" for="@Model.A2.INRACE" items="Model.RacialGroupsListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRACE"></span>
            </div>
            <div class="mt-4 space-y-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A2.INRACEX"></p>
                <label asp-for="@Model.A2.INRACEX">@Html.DisplayNameFor(m => m.A2.INRACEX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A2.INRACEX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRACEX"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="A2.INRASEC" class="text-base font-semibold text-gray-900"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INRASEC)</label>
            <div>
                <p class="text-sm text-gray-500" asp-description-for="@Model.A2.INRASEC"></p>
                <radio-button-group id="A2_INRASEC" for="@Model.A2.INRASEC" items="Model.RacialGroupsListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRASEC"></span>
            </div>
            <div class="mt-4 space-y-4">
                <p class="text-sm text-gray-500" asp-description-for="@Model.A2.INRACEX"></p>
                <label asp-for="@Model.A2.INRACEX">@Html.DisplayNameFor(m => m.A2.INRACEX)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A2.INRACEX" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRACEX"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="A2.INRATER"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INRATER)</label>
            <div>
                <p class="text-sm text-gray-500" asp-description-for="A2.INRATER"></p>
                <radio-button-group id="RacialGroupsTertiary" for="@Model.A2.INRATER" items="Model.RacialGroupsListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRATER"></span>
            </div>
            <div class="mt-4 space-y-4">
                <p class="text-sm text-gray-500" asp-description-for="A2.INRATER"></p>
                <label asp-for="@Model.A2.INRATER">@Html.DisplayNameFor(m => m.A2.INRATER)</label>
                <div class="mt-2">
                    <input asp-for="@Model.A2.INRATER" />
                </div>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INRATER"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A2.INEDUC"><span class="counter"></span> @Html.DisplayNameFor(m => m.A2.INEDUC)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INEDUC"></p>
                <input asp-for="@Model.A2.INEDUC" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INEDUC"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INRELTO"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INRELTO)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INRELTO"></p>
                <radio-button-group id="A2_INRELTO" for="@Model.A2.INRELTO" items="Model.RelationshipTypesListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INRELTO"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label asp-for="@Model.A2.INKNOWN"><span class="counter"></span> @Html.DisplayNameFor(m => m.A2.INKNOWN)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INKNOWN"></p>
                <input asp-for="@Model.A2.INKNOWN" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="@Model.A2.INKNOWN"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INLIVWTH"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INLIVWTH)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INLIVWTH"></p>
                <radio-button-group id="A2_INLIVWTH" for="@Model.A2.INLIVWTH" items="Model.LivingSituationListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INLIVWTH"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INVISITS"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INVISITS)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INVISITS"></p>
                <radio-button-group id="A2_INVISITS" for="@Model.A2.INVISITS" items="Model.ContactFrequencyListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INVISITS"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INCALLS"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INCALLS)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INCALLS"></p>
                <radio-button-group id="A2_INCALLS" for="@Model.A2.INCALLS" items="Model.ContactFrequencyListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INCALLS"></span>
            </div>
        </div>

        <div class="@rowCSS">
            <label class="text-base font-semibold text-gray-900" asp-for="A2.INRELY"><span class="counter"></span> @Html.DisplayNameFor(model => model.A2.INRELY)</label>

            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="A2.INRELY"></p>
                <radio-button-group id="A2_INRELY" for="@Model.A2.INRELY" items="Model.ReliabilityListItems"></radio-button-group>
                <span class="mt-2 text-sm text-red-600" asp-validation-for="A2.INRELY"></span>
            </div>
        </div>

    </div>
</div>

<partial name="_FormFooter" for="@Model.A2" />