@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.B6Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">B6: Geriatric Depression Scale</h2>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by the clinician or other trained health professional, based on participant response. For additional clarification and examples, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form B6. Check only <span class="underline">one</span> box per question.
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div class="sm:grid sm:grid-cols-1 sm:items-start sm:gap-4 sm:py-6">
            <fieldset class="subsubcounterreset">
                <div class="space-y-5">
                    <div class="relative flex items-start">
                        <div class="flex h-6 items-center">
                            @Html.CheckBox("B6.NOGDS", Model.B6.NOGDS, new { @class = "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" })
                        </div>
                        <div class="ml-3 text-sm leading-6">
                            <label asp-for="B6.NOGDS" class="font-medium text-gray-900">@Html.DisplayNameFor(m => m.B6.NOGDS)</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <table class="table-auto min-w-full divide-y divide-gray-300">
            <caption class="caption-top">
                <strong>Instruct the participant:</strong> "In the next part of this interview, I will ask you questions about your feelings. Some of the questions I will ask you may not apply, and some may make you feel uncomfortable. For each question, please answer "yes" or "no," depending on how you have been feeling <strong>in the past week, including today.</strong>"
            </caption>
            <thead>
                <tr>
                    <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 italic">In the past week, including today:</th>
                    @foreach (var item in Model.DisagreeIncreasesListItems)
                    {
                        <th class="w-24 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">@item.Text</th>
                    }
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <tr>
                    <td>
                        <label asp-for="B6.SATIS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.SATIS)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.SATIS"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.SATIS"></span>
                    </td>
                    <table-cell-radio-buttons id="B6_SATIS" for="@Model.B6.SATIS" items="Model.DisagreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.DROPACT"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.DROPACT)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.DROPACT"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.DROPACT"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.DROPACT)" for="@Model.B6.DROPACT" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.EMPTY"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.EMPTY)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.EMPTY"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.EMPTY"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.EMPTY)" for="@Model.B6.EMPTY" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.BORED"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.BORED)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.BORED"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.BORED"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.BORED)" for="@Model.B6.BORED" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.SPIRITS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.SPIRITS)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.SPIRITS"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.SPIRITS"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.SPIRITS)" for="@Model.B6.SPIRITS" items="Model.DisagreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.AFRAID"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.AFRAID)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.AFRAID"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.AFRAID"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.AFRAID)" for="@Model.B6.AFRAID" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.HAPPY"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.HAPPY)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.HAPPY"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.HAPPY"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.HAPPY)" for="@Model.B6.HAPPY" items="Model.DisagreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.HELPLESS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.HELPLESS)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.HELPLESS"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.HELPLESS"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.HELPLESS)" for="@Model.B6.HELPLESS" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.STAYHOME"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.STAYHOME)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.STAYHOME"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.STAYHOME"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.STAYHOME)" for="@Model.B6.STAYHOME" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.MEMPROB"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.MEMPROB)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.MEMPROB"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.MEMPROB"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.MEMPROB)" for="@Model.B6.MEMPROB" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.WONDRFUL"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.WONDRFUL)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.WONDRFUL"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.WONDRFUL"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.WONDRFUL)" for="@Model.B6.WONDRFUL" items="Model.DisagreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.WRTHLESS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.WRTHLESS)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.WRTHLESS"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.WRTHLESS"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.WRTHLESS)" for="@Model.B6.WRTHLESS" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.ENERGY"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.ENERGY)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.ENERGY"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.ENERGY"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.ENERGY)" for="@Model.B6.ENERGY" items="Model.DisagreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.HOPELESS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.HOPELESS)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.HOPELESS"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.HOPELESS"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.HOPELESS)" for="@Model.B6.HOPELESS" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
                <tr>
                    <td>
                        <label asp-for="B6.BETTER"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.BETTER)</label>
                        <p class="text-sm text-gray-500" asp-description-for="B6.BETTER"></p>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.BETTER"></span>
                    </td>
                    <table-cell-radio-buttons id="@Html.IdFor(m => m.B6.BETTER)" for="@Model.B6.BETTER" items="Model.AgreeIncreasesListItems"></table-cell-radio-buttons>
                </tr>
            </tbody>
        </table>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label asp-for="B6.GDS"><span class="counter"></span> @Html.DisplayNameFor(m => m.B6.GDS)</label>
            <div class="mt-4 sm:col-span-2 sm:mt-0">
                <p class="text-sm text-gray-500" asp-description-for="@Model.B6.GDS"></p>
                <input asp-for="@Model.B6.GDS" />
                <span class="mt-2 text-sm text-red-600" asp-validation-for="B6.GDS"></span>
            </div>
        </div>
    </div>
</div>
<partial name="_FormFooter" for="@Model.B6" />