@page  "{id:int?}"
@model UDS.Net.Forms.Pages.UDS3.C2Model
@{
    Layout = "_LayoutForm";
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<div>
    <h2 class="text-lg font-medium leading-6 text-gray-900">C2: Neuropsychological Battery Scores</h2>
    <p class="mt-1 text-sm text-gray-500">
        INSTRUCTIONS: This form is to be completed by ADC or clinic staff. For test administration and scoring, see <guidebook kind="@Model.Visit.Kind"></guidebook>, Form C2. Any new participants who enroll in the UDS after the implementation of UDS3 must be assessed with the new neuropsychological test battery (Form C2).
    </p>
</div>
<div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Montreal Cognitive Assessment (MoCA)</h3>

            <div class="subcounterreset m-2">
                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCACOMP"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCACOMP)</label>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.MOCACOMP"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.MOCACOMP)" for="@Model.C2.MOCACOMP" items="Model.MoCACompletedListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCACOMP"></span>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.MOCAREAS"></p>
                        <label asp-for="C2.MOCAREAS">@Html.DisplayNameFor(m => m.C2.MOCAREAS)</label>
                        <div class="mt-2">
                            <input asp-for="C2.MOCAREAS" />
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCALOC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCALOC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCALOC"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.MOCALOC)" for="@Model.C2.MOCALOC" items="Model.LocationListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCALOC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCALAN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCALAN)</label>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.MOCALAN"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.MOCALAN)" for="@Model.C2.MOCALAN" items="Model.LanguageListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCALAN"></span>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.MOCALANX"></p>
                        <label asp-for="C2.MOCALANX">@Html.DisplayNameFor(m => m.C2.MOCALANX)</label>
                        <div class="mt-2">
                            <input asp-for="C2.MOCALANX" />
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAVIS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAVIS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAVIS"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.MOCAVIS)" for="@Model.C2.MOCAVIS" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAVIS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAHEAR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAHEAR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAHEAR"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.MOCAHEAR)" for="@Model.C2.MOCAHEAR" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAHEAR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCATOTS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCATOTS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCATOTS"></p>
                        <input asp-for="@Model.C2.MOCATOTS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCATOTS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCATRAI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCATRAI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCATRAI"></p>
                        <input asp-for="@Model.C2.MOCATRAI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCATRAI"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCACUBE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCACUBE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCACUBE"></p>
                        <input asp-for="@Model.C2.MOCACUBE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCACUBE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCACLOC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCACLOC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCACLOC"></p>
                        <input asp-for="@Model.C2.MOCACLOC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCACLOC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCACLON"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCACLON)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCACLON"></p>
                        <input asp-for="@Model.C2.MOCACLON" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCACLON"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCACLOH"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCACLOH)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCACLOH"></p>
                        <input asp-for="@Model.C2.MOCACLOH" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCACLOH"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCANAMI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCANAMI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCANAMI"></p>
                        <input asp-for="@Model.C2.MOCANAMI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCANAMI"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAREGI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAREGI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAREGI"></p>
                        <input asp-for="@Model.C2.MOCAREGI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAREGI"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCADIGI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCADIGI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCADIGI"></p>
                        <input asp-for="@Model.C2.MOCADIGI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCADIGI"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCALETT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCALETT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCALETT"></p>
                        <input asp-for="@Model.C2.MOCALETT" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCALETT"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCASER7"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCASER7)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCASER7"></p>
                        <input asp-for="@Model.C2.MOCASER7" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCASER7"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAREPE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAREPE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAREPE"></p>
                        <input asp-for="@Model.C2.MOCAREPE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAREPE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAFLUE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAFLUE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAFLUE"></p>
                        <input asp-for="@Model.C2.MOCAFLUE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAFLUE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAABST"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAABST)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAABST"></p>
                        <input asp-for="@Model.C2.MOCAABST" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAABST"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCARECN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCARECN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCARECN"></p>
                        <input asp-for="@Model.C2.MOCARECN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCARECN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCARECC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCARECC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCARECC"></p>
                        <input asp-for="@Model.C2.MOCARECC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCARECC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCARECR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCARECR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCARECR"></p>
                        <input asp-for="@Model.C2.MOCARECR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCARECR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORDT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORDT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORDT"></p>
                        <input asp-for="@Model.C2.MOCAORDT" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORDT"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORMO"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORMO)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORMO"></p>
                        <input asp-for="@Model.C2.MOCAORMO" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORMO"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORYR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORYR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORYR"></p>
                        <input asp-for="@Model.C2.MOCAORYR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORYR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORDY"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORDY)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORDY"></p>
                        <input asp-for="@Model.C2.MOCAORDY" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORDY"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORPL"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORPL)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORPL"></p>
                        <input asp-for="@Model.C2.MOCAORPL" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORPL"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MOCAORCT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MOCAORCT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MOCAORCT"></p>
                        <input asp-for="@Model.C2.MOCAORCT" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MOCAORCT"></span>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Administration of the remainder of the battery</h3>

            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.NPSYCLOC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.NPSYCLOC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.NPSYCLOC"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.NPSYCLOC)" for="@Model.C2.NPSYCLOC" items="Model.LocationListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.NPSYCLOC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.NPSYLAN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.NPSYLAN)</label>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.NPSYLAN"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.NPSYLAN)" for="@Model.C2.NPSYLAN" items="Model.LanguageListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.NPSYLAN"></span>
                    </div>
                    <div>
                        <p class="text-sm text-gray-500" asp-description-for="C2.NPSYLANX"></p>
                        <label asp-for="C2.NPSYLANX">@Html.DisplayNameFor(m => m.C2.NPSYLANX)</label>
                        <div class="mt-2">
                            <input asp-for="C2.NPSYLANX" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Craft Story 21 Recall (Immediate)</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTVRS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTVRS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTVRS"></p>
                        <input asp-for="@Model.C2.CRAFTVRS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTVRS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTURS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTURS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTURS"></p>
                        <input asp-for="@Model.C2.CRAFTURS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTURS"></span>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Benson Complex Figure Copy</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSBENTC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSBENTC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSBENTC"></p>
                        <input asp-for="@Model.C2.UDSBENTC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSBENTC"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Number Span Test: Forward</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.DIGFORCT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.DIGFORCT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.DIGFORCT"></p>
                        <input asp-for="@Model.C2.DIGFORCT" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.DIGFORCT"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.DIGFORSL"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.DIGFORSL)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.DIGFORSL"></p>
                        <input asp-for="@Model.C2.DIGFORSL" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.DIGFORSL"></span>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Number Span Test: Backward</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.DIGBACCT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.DIGBACCT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.DIGBACCT"></p>
                        <input asp-for="@Model.C2.DIGBACCT" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.DIGBACCT"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.DIGBACLS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.DIGBACLS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.DIGBACLS"></p>
                        <input asp-for="@Model.C2.DIGBACLS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.DIGBACLS"></span>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Category Fluency</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.ANIMALS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.ANIMALS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.ANIMALS"></p>
                        <input asp-for="@Model.C2.ANIMALS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.ANIMALS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.VEG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.VEG)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.VEG"></p>
                        <input asp-for="@Model.C2.VEG" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.VEG"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Trail Making Test</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.TRAILA"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILA)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILA"></p>
                        <input asp-for="@Model.C2.TRAILA" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILA"></span>
                    </div>
                </div>

                <div class="subsubcounterreset m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C2.TRAILARR"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILARR)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILARR"></p>
                            <input asp-for="@Model.C2.TRAILARR" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILARR"></span>
                        </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C2.TRAILALI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILALI)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILALI"></p>
                            <input asp-for="@Model.C2.TRAILALI" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILALI"></span>
                        </div>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.TRAILB"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILB)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILB"></p>
                        <input asp-for="@Model.C2.TRAILB" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILB"></span>
                    </div>
                </div>

                <div class="subsubcounterreset m-2">
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C2.TRAILBRR"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILBRR)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILBRR"></p>
                            <input asp-for="@Model.C2.TRAILBRR" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILBRR"></span>
                        </div>
                    </div>
                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                        <label asp-for="C2.TRAILBLI"><span class="subsubcounter"></span> @Html.DisplayNameFor(m => m.C2.TRAILBLI)</label>
                        <div class="mt-4 sm:col-span-2 sm:mt-0">
                            <p class="text-sm text-gray-500" asp-description-for="@Model.C2.TRAILBLI"></p>
                            <input asp-for="@Model.C2.TRAILBLI" />
                            <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.TRAILBLI"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Craft Story 21 Recall (Delayed)</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTDVR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTDVR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTDVR"></p>
                        <input asp-for="@Model.C2.CRAFTDVR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTDVR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTDRE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTDRE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTDRE"></p>
                        <input asp-for="@Model.C2.CRAFTDRE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTDRE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTDTI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTDTI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTDTI"></p>
                        <input asp-for="@Model.C2.CRAFTDTI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTDTI"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.CRAFTCUE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.CRAFTCUE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.CRAFTCUE"></p>
                        <input asp-for="@Model.C2.CRAFTCUE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.CRAFTCUE"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Benson Complex Figure Recall</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSBENTD"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSBENTD)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSBENTD"></p>
                        <input asp-for="@Model.C2.UDSBENTD" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSBENTD"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSBENRS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSBENRS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSBENRS"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.UDSBENRS)" for="@Model.C2.UDSBENRS" items="Model.SimpleNoYesListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSBENRS"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Multilingual Naming Test (MINT)</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTTOTS"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTTOTS)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTTOTS"></p>
                        <input asp-for="@Model.C2.MINTTOTS" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTTOTS"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTTOTW"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTTOTW)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTTOTW"></p>
                        <input asp-for="@Model.C2.MINTTOTW" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTTOTW"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTSCNG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTSCNG)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTSCNG"></p>
                        <input asp-for="@Model.C2.MINTSCNG" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTSCNG"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTSCNC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTSCNC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTSCNC"></p>
                        <input asp-for="@Model.C2.MINTSCNC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTSCNC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTPCNG"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTPCNG)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTPCNG"></p>
                        <input asp-for="@Model.C2.MINTPCNG" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTPCNG"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.MINTPCNC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.MINTPCNC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.MINTPCNC"></p>
                        <input asp-for="@Model.C2.MINTPCNC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.MINTPCNC"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Verbal Fluency: Phonemic Test</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERFC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERFC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERFC"></p>
                        <input asp-for="@Model.C2.UDSVERFC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERFC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERFN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERFN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERFN"></p>
                        <input asp-for="@Model.C2.UDSVERFN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERFN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERNF"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERNF)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERNF"></p>
                        <input asp-for="@Model.C2.UDSVERNF" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERNF"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERLC"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERLC)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERLC"></p>
                        <input asp-for="@Model.C2.UDSVERLC" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERLC"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERLR"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERLR)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERLR"></p>
                        <input asp-for="@Model.C2.UDSVERLR" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERLR"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERLN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERLN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERLN"></p>
                        <input asp-for="@Model.C2.UDSVERLN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERLN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERTN"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERTN)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERTN"></p>
                        <input asp-for="@Model.C2.UDSVERTN" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERTN"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERTE"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERTE)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERTE"></p>
                        <input asp-for="@Model.C2.UDSVERTE" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERTE"></span>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.UDSVERTI"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.UDSVERTI)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.UDSVERTI"></p>
                        <input asp-for="@Model.C2.UDSVERTI" />
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.UDSVERTI"></span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-base font-semibold leading-7 text-gray-900"><span class="counter"></span> Overall appraisal</h3>
            <div class="subcounterreset m-2">

                <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                    <label asp-for="C2.COGSTAT"><span class="subcounter"></span> @Html.DisplayNameFor(m => m.C2.COGSTAT)</label>
                    <div class="mt-4 sm:col-span-2 sm:mt-0">
                        <p class="text-sm text-gray-500" asp-description-for="@Model.C2.COGSTAT"></p>
                        <radio-button-group id="@Html.IdFor(m => m.C2.COGSTAT)" for="@Model.C2.COGSTAT" items="Model.OverallListItems"></radio-button-group>
                        <span class="mt-2 text-sm text-red-600" asp-validation-for="C2.COGSTAT"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<partial name="_FormFooter" for="@Model.C2" />
