@model List<PacketModel>

<turbo-stream action="update" target="exportPacketModal">
    <template>
        @foreach (var packet in Model)
        {
            <tr>
                <td class="border-b py-2">@packet.Id</td>
                <td class="border-b py-2">@packet.ParticipationId</td>
                <td class="border-b py-2">@packet.VISITNUM</td>
                <td class="border-b py-2">@packet.PACKET</td>
                <td class="border-b py-2">@packet.INITIALS</td>
                <td class="border-b py-2">@packet.VISIT_DATE.ToShortDateString()</td>
            </tr>
            <input name="packetId" value="@packet.Id" type="hidden" />
        }
    </template>
</turbo-stream>

<turbo-stream action="replace" target="exportModalButtons">
    <template>
        <div id="exportModalButtons" class="mt-6 flex justify-end space-x-3">
            <button data-action="modal#hide" type="button"
                    class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-gray-300 text-gray-800">
                Cancel
            </button>
            <button type="submit"
                    data-pageRefreshOnSubmit-target="button"
                    data-action="checkboxButton#clearSelected"
                    class="px-4 py-2 rounded-lg bg-indigo-600 hover:bg-indigo-700 text-white">
                Confirm Export
            </button>
        </div>
    </template>
</turbo-stream>
