@page
@model CreateModel

<turbo-frame id="ActivePacketSubmission">
    <form method="post" asp-page="./Create" class="grid grid-cols-1 gap-5 pt-5">
        <div class="relative overflow-x-auto">
            @if(Model.PacketSubmissionErrors.Count() > 0)
            {
                <table class="w-full table-auto text-sm text-left">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Code</th>
                            <th>Location</th>
                            <th>File</th>
                            <th>Value</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.PacketSubmissionErrors.Count; i++)
                        {
                            <tr>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].Type</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].Type" />
                                </td>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].Code</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].Code" />
                                </td>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].Location</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].Location" />
                                </td>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].File</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].File" />
                                </td>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].Value</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].Value" />
                                </td>
                                <td>
                                    <p>@Model.PacketSubmissionErrors[i].Message</p>
                                    <input type="hidden" asp-for="PacketSubmissionErrors[i].Message" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-center">
                    @if (TempData.ContainsKey("fileError"))
                    {
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">File Error</strong>
                            <span class="block sm:inline">@TempData["fileError"]</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <p>There are no new errors present in this file. Saving will mark packet as Failed error checks and no errors will be recorded.</p>
                        </div>   
                    }
                </div>
            }
        </div>
        <div class="grid grid-cols-3">
            @if (TempData.ContainsKey("fileError"))
            {
                <div class="grid justify-items-center col-start-2">
                    <a data-turbo-frame="ActivePacketSubmission" asp-page="../PacketSubmissions/Edit" asp-page-handler="Partial" asp-route-packetId="@Model.PacketId" asp-route-packetSubmissionId="@Model.PacketSubmissionId" asp-route-legacyId="@Model.LegacyId" asp-route-visitNum="@Model.VisitNum" class="rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                        return to packet submission
                    </a>
                </div>
            }
            else
            {
                <div class="grid grid-cols-2 col-start-2 justify-items-center">
                    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Save
                    </button>
                    <a data-turbo-frame="ActivePacketSubmission" asp-page="../PacketSubmissions/Edit" asp-page-handler="Partial" asp-route-packetId="@Model.PacketId" asp-route-packetSubmissionId="@Model.PacketSubmissionId" asp-route-legacyId="@Model.LegacyId" asp-route-visitNum="@Model.VisitNum" class="rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                        return to packet submission
                    </a>
                </div>
            }
        </div>

        <input type="hidden" asp-for="PacketId" />
        <input type="hidden" asp-for="PacketSubmissionId" />
        <input type="hidden" asp-for="PacketStatus" value="3" />
        <input type="hidden" asp-for="LegacyId" />
        <input type="hidden" asp-for="VisitNum" />
    </form>
</turbo-frame>