@page "{id:int}"
@model UDS.Net.Forms.Pages.Participations.DetailsModel

@{
    ViewData["Title"] = "Participation details";
}


@if (Model.Participation != null)
{

    <div class="pb-4 pt-6 sm:pb-6">
        <div class="mx-auto flex flex-wrap items-center gap-6 px-4 sm:flex-nowrap sm:px-6 lg:px-8">
            <a asp-page="/Visits/Create" asp-route-participationId="@Model.Participation.Id" class="ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path>
                </svg>
                New visit
            </a>
        </div>

    </div>


    <h2>Details for @Model.Participation.LegacyId <div class="rounded-full flex-none py-1 px-2 text-xs font-medium ring-1 ring-inset text-indigo-400 bg-indigo-400/10 ring-indigo-400/30">@Model.Participation.VisitCount visits</div></h2>
    <table>
        <thead>
            <tr>
                <th>Visit number</th>
                <th>Visit kind</th>
                <th>Visit version</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var visit in Model.Participation.Visits)
            {
                <tr data-visit-id="@visit.Id">
                    <td>@visit.Number</td>
                    <td>@visit.Kind</td>
                    <td>@visit.Version</td>
                    <td>@visit.StartDateTime</td>
                    <td><a asp-page="/Visits/Details" asp-route-id="@visit.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>

