@page
@model UDS.Net.Forms.Pages.Lookup.DrugCodeModel
@{
    string rowCSS = "sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6";
}

<main class="lg:col-span-9 px-5 py-6">
    <div>
        <h2 class="text-lg font-medium leading-6 text-gray-900">Drug Code Lookup</h2>
        <p class="mt-1 text-sm text-gray-500">
            INSTRUCTIONS: Search for drug by name or brand name. Search results will <strong>not</strong> return any drugs already on the A4 checklists, only those not available.
        </p>
    </div>
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="@rowCSS">
            <form method="get" class="w-full max-w-md lg:col-span-5 lg:pt-2">

                <div class="flex gap-x-4">
                    <label for="SearchTerm" class="sr-only">Search by drug or brand name</label>
                    <input name="VisitId" value="@Model.Visit.Id" type="hidden" />
                    <input name="SearchTerm" value="@Model.Lookup.SearchTerm" class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Drug or brand name" />
                    <button type="submit" class="flex-none rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
                </div>
            </form>
        </div>
        @if (Model.Lookup.DrugCodes != null)
        {
            <form method="post">
                @for (int i = 0; i < Model.Lookup.DrugCodes.Count(); i++)
                {
                    var displayName = Model.Lookup.DrugCodes[i].DrugName;
                    if (!string.IsNullOrWhiteSpace(Model.Lookup.DrugCodes[i].BrandName))
                        displayName += " (" + Model.Lookup.DrugCodes[i].BrandName + ") ";
                    <div class="@rowCSS">
                        <input asp-for="Lookup.DrugCodes[i].DrugName" type="hidden" />
                        <input asp-for="Lookup.DrugCodes[i].BrandName" type="hidden" />
                        <input asp-for="Lookup.DrugCodes[i].RxNormId " type="hidden" />
                        <fieldset>
                            <div class="space-y-5">
                                <div class="relative flex items-start">
                                    <span class="mr-3 block text-sm font-medium leading-6 text-gray-900"></span>
                                    <div class="flex h-6 items-center">
                                        <input asp-for="Lookup.DrugCodes[i].IsSelected" type="checkbox" class="h-4 w-4 rounded border-gray-400 text-indigo-600 focus:ring-indigo-600" />
                                    </div>
                                    <div class="ml-3 text-sm leading-6">
                                        <label for="Lookup_DrugCodes_@(i)__IsSelected" class="font-medium text-gray-900">@displayName <span class="inline-flex items-center rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800">@Model.Lookup.DrugCodes[i].RxNormId</span></label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                <input type="submit" value="Add selected" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" />
            </form>
        }
    </div>
</main>