@page
@model UDS.Net.Forms.Pages.Milestones.IndexModel
@{
    ViewData["Title"] = "Milestones";
}

<div class="space-y-16 py-16 xl:space-y-20 px-4 sm:px-6 lg:px-8">

    @if (Model.Milestones != null && Model.Milestones.List != null)
    {
        <div class="relative flex justify-between lg:gap-8 xl:grid xl:grid-cols-12">
            <div class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-4">
                <div class="px-4 sm:px-6 lg:px-8">
                    <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">All milestones</h2>
                    <p class="mt-2 text-sm text-gray-700">A list of all milestones. Select multiple and export as CSV.</p>
                </div>
            </div>
            <div class="min-w-0 flex-1 md:px-8 lg:px-0 xl:col-span-6">
                <div class="flex items-center px-6 py-4 md:mx-auto md:max-w-3xl lg:mx-0 lg:max-w-none xl:px-0">
                    <div class="w-full">
                        <form method="get">
                            <label for="search" class="sr-only">Search</label>
                            <div class="relative flex grow items-stretch focus-within:z-10">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                    <svg class="size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input id="search" name="legacyId" class="block w-full rounded-none border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6" placeholder="Search by ID" type="search">
                                <button type="submit" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" asp-page="/Milestones/Export" asp-page-handler="ExportSelected" data-turbo="false">
            <div class="mx-auto max-w-12xl">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                    <table class="min-w-full divide-y divide-gray-300 text-left">
                        <thead>
                            <tr>
                                <th>
                                    <span class="sr-only">Select</span>
                                </th>
                                <th>Participant</th>
                                <th>Milestone date</th>
                                <th>Type</th>
                                <th>Details</th>
                                <th>Progress</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var milestone in Model.Milestones.List)
                            {
                                <tr class="even:bg-gray-50">
                                    <td class="text-center align-middle">
                                        <input type="checkbox" name="selectedIds" value="@milestone.Id" class="form-checkbox h-4 w-4 text-indigo-600">
                                    </td>
                                    <td>
                                        <div class="rounded-lg bg-white px-4 py-5 shadow-sm sm:p-6">
                                            <a asp-page="/Participations/Details" asp-route-id="@milestone.ParticipationId" class="text-3xl font-medium leading-6 text-indigo-600 hover:text-indigo-500">
                                                @if (milestone.Participation != null)
                                                {
                                                    <span>@milestone.Participation.LegacyId</span>
                                                }
                                                else
                                                {
                                                    @milestone.ParticipationId
                                                }
                                            </a>
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap py-4 text-sm text-gray-500">
                                        <div class="truncate text-sm font-medium text-gray-500">Created @milestone.CreatedAt.ToShortDateString()</div>
                                        <div class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">@milestone.DisplayChangeDate</div>
                                    </td>
                                    <td>
                                        @if (milestone.DECEASED == true || milestone.DISCONT == true)
                                        {
                                            <span>Change followed by NO FURTHER CONTACT</span>
                                        }
                                        else
                                        {
                                            <span>Change followed by continued contact</span>
                                        }
                                    </td>
                                    <td>
                                        <partial name="_MilestoneDetails" model="@milestone" />
                                    </td>
                                    <td>@milestone.Status</td>
                                    <td><a asp-page="/Milestones/Edit" asp-route-id="@milestone.Id">Edit</a></td>
                                    <td><a asp-page="/Milestones/Details" asp-route-id="@milestone.Id">View</a></td>
                                    <td>
                                        <a asp-page="/Milestones/Export" asp-route-id="@milestone.Id" class="text-indigo-600 hover:text-indigo-900">Export</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="mt-6">
                        <button type="submit" class="inline-flex items-center px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Export Selected
                        </button>
                    </div>
                </div>
            </div>
        </form>
    }

    <partial name="_PreviousNextButtons" model="Model.Milestones"></partial>
</div>
