@model PacketModel
@{
}

<turbo-frame id="PacketSubmissions">
    @if (Model.Participation != null && Model.PacketSubmissions != null)
    {
        <div class="space-y-16 py-16 xl:space-y-20">
            <div class="mx-auto max-w-12xl px-4 sm:px-6 lg:px-8">
                <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">Packet submissions</h2>
                <p class="mt-2 text-sm text-gray-700">A new submission may only be created after all errors have been resolved from previous submission and packet re-finalized.</p>
            </div>
            <div class="mt-6 overflow-hidden border-t border-gray-100">
                <div class="mx-auto max-w-12xl px-4 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                        @if(Model.PacketSubmissions.Count > 0)
                        {
                            <table class="w-full text-left">
                                <thead>
                                    <tr>
                                        <th class="w-1/4">Submission date</th>
                                        <th class="w-1/4">Download</th>
                                        <th class="w-1/4">Error count</th>
                                        <th class="w-1/4"><span class="sr-only">Edit errors</span></th>
                                    </tr>
                                </thead>
                                <tbody class="table-fixed">
                                    @for (int i = 0; i < Model.PacketSubmissions.Count - 1; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Model.PacketSubmissions[i].SubmissionDate<br />
                                                @Model.PacketSubmissions[i].CreatedBy
                                            </td>
                                            <td>
                                                @if (!Model.PacketSubmissions[i].ErrorCount.HasValue)
                                                {
                                                    <a asp-page="../PacketSubmissions/Export" asp-route-packetId="@Model.Id" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500" target="_blank">
                                                        @(Model.PacketSubmissions[i].GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">@(Model.PacketSubmissions[i].GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))</span>
                                                }
                                            </td>
                                            <td>
                                                @if (Model.PacketSubmissions[i].ErrorCount.HasValue)
                                                {
                                                    @* TODO: Dispay ration of unresolved errors / errorCount. Unresolved errors are errors with a null "resolvedBy" value *@
                                                    <span>@Model.PacketSubmissions[i].ErrorCount</span>
                                                }
                                                else
                                                {
                                                    <span>Pending response from NACC</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="grid grid-cols-2 justify-items-center">
                                                    @if (Model.PacketSubmissions[i].ErrorCount.HasValue)
                                                    {
                                                        <a class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">Success</a>

                                                        <a class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">Errors returned</a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <turbo-frame id="EditPacketSubmission">
                                <table class="w-full text-left">
                                    <thead>
                                        <tr>
                                            <th class="w-1/4"></th>
                                            <th class="w-1/4"></th>
                                            <th class="w-1/4"></th>
                                            <th class="w-1/4"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @{
                                                var recentIndex = Model.PacketSubmissions.Count() - 1;
                                            }
                                            <td>
                                                @Model.PacketSubmissions[recentIndex].SubmissionDate<br />
                                                @Model.PacketSubmissions[recentIndex].CreatedBy
                                            </td>
                                            <td>
                                                @if (!Model.PacketSubmissions[recentIndex].ErrorCount.HasValue)
                                                {
                                                    <a asp-page="../PacketSubmissions/Export" asp-route-packetId="@Model.Id" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500" target="_blank">
                                                        @(Model.PacketSubmissions[recentIndex].GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">@(Model.PacketSubmissions[recentIndex].GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))</span>
                                                }
                                            </td>
                                            <td>
                                                @if (Model.PacketSubmissions[recentIndex].ErrorCount.HasValue)
                                                {
                                                    @* TODO: Dispay ration of unresolved errors / errorCount. Unresolved errors are errors with a null "resolvedBy" value *@
                                                    <span>@Model.PacketSubmissions[recentIndex].ErrorCount</span>
                                                }
                                                else
                                                {
                                                    <span>Pending response from NACC</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="grid grid-cols-2 justify-items-center">
                                                    @if (Model.PacketSubmissions[recentIndex].ErrorCount.HasValue)
                                                    {
                                                        <a class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">Success</a>

                                                        <a class="text-sm font-medium leading-6 text-gray-600 hover:text-gray-500">Errors returned</a>
                                                    }
                                                    else
                                                    {
                                                        <form asp-page="../PacketSubmissions/Edit" asp-page-handler="Success" method="post">
                                                            <input type="hidden" name="ErrorCount" value="0" />
                                                            <input type="hidden" name="PacketId" value="@Model.Id" />
                                                            <input type="hidden" name="Id" value="@Model.PacketSubmissions[recentIndex].Id" />
                                                            <input type="hidden" name="packetStatus" value="4" />
                                                            <button type="submit" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">Success</button>
                                                        </form>

                                                        <a data-turbo-frame="PacketSubmissionEdit" asp-page="../PacketSubmissions/Edit" asp-page-handler="Partial" asp-route-packetId="@Model.Id" asp-route-packetSubmissionId="@Model.PacketSubmissions[recentIndex].Id" asp-route-legacyId="@Model.Participation.LegacyId" asp-route-visitNum="@Model.VISITNUM" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">Errors returned</a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </turbo-frame>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</turbo-frame>