@model PacketModel
@{
}

<turbo-frame id="PacketSubmissions">
    @if (Model.Participation != null && Model.PacketSubmissions != null)
    {
        <div class="space-y-16 py-16 xl:space-y-20">
            <div class="mx-auto max-w-12xl px-4 sm:px-6 lg:px-8">
                <h2 class="mx-auto max-w-2xl text-base font-semibold leading-6 text-gray-900 lg:mx-0 lg:max-w-none">Packet submissions</h2>
                <p class="mt-2 text-sm text-gray-700">A new submission may only be created after all errors have been resolved from previous submission and packet re-finalized.</p>
            </div>
            <div class="mt-6 overflow-hidden border-t border-gray-100">
                <div class="mx-auto max-w-12xl px-4 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                        <table class="w-full text-left">
                            <thead>
                                <tr>
                                    <th>Submission date</th>
                                    <th>Download</th>
                                    <th>Error count</th>
                                    <th><span class="sr-only">Edit errors</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var packetSubmission in Model.PacketSubmissions)
                                {
                                    <tr>
                                        <td>
                                            @packetSubmission.SubmissionDate<br />
                                            @packetSubmission.CreatedBy
                                        </td>
                                        <td>
                                            @if (!packetSubmission.ErrorCount.HasValue)
                                            {
                                                <a asp-page="../PacketSubmissions/Export" asp-route-packetId="@Model.Id" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500" target="_blank">
                                                    @(packetSubmission.GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))
                                                </a>
                                            }
                                            else
                                            {
                                                <span>@(packetSubmission.GetFileName(Model.Participation.LegacyId, Model.VISIT_DATE))</span>
                                            }
                                        </td>
                                        <td>
                                            @if (packetSubmission.ErrorCount.HasValue)
                                            {
                                                <span>@packetSubmission.Errors.Where(e => String.IsNullOrWhiteSpace(e.ResolvedBy) == false).Count()</span>
                                                <span>&#47;</span>
                                                <span>@packetSubmission.ErrorCount errors</span>
                                            }
                                            else
                                            {
                                                <span>Pending response from NACC</span>
                                            }
                                        </td>
                                        <td>
                                            <a asp-page="Edit" asp-route-id="@packetSubmission.Id" asp-route-errorCount="0" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">Success</a>
                                            @*Marvin Dev: Errors returned button*@
                                            <a data-turbo-frame="PacketSubmissions" asp-page="../PacketSubmissions/Edit" asp-page-handler="Partial" asp-route-Id="@packetSubmission.Id" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">Errors returned</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

</turbo-frame>