@page
@model UDS.Net.Forms.Pages.PacketSubmissions.BulkPacketSubmission.CreateModel
@{
    var previousPTID = 0;
}

<turbo-frame id="BulkPacketSubmission">
    <div>
        <div class="grid grid-cols-4">
            <div class="col-start-2 col-span-2 grid gap-4">
                <div class="grid grid-cols-2 justify-items-center">
                    <button class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Submit File
                    </button>
                    <a class="rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                        Cancel
                    </a>
                </div>
                <div class="text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
                    <table>
                        <thead>
                            <tr>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">PTID</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Visit</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Type</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Code</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Location</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Value</th>
                                <th class="p-4 border-b border-slate-300 bg-slate-50">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.PacketSubmissionErrors.Count; i++)
                            {
                                @if(int.Parse(Model.PacketSubmissionErrors[i].Ptid) != previousPTID)
                                {
                                    previousPTID = int.Parse(Model.PacketSubmissionErrors[i].Ptid);

                                    <tr>
                                        <td colspan="7" class="p-4 border-b border-slate-300 bg-slate-50">Packet PTID: @Model.PacketSubmissionErrors[i].Ptid</td>
                                    </tr>
                                }
                                <tr class="hover:bg-slate-50">
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Ptid</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Ptid" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Visitnum</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Visitnum" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Type</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Type" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Code</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Code" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Location</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Location" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Value</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Value" />
                                    </td>
                                    <td class="p-4 border-b border-slate-200">
                                        <p>@Model.PacketSubmissionErrors[i].Message</p>
                                        <input type="hidden" asp-for="PacketSubmissionErrors[i].Message" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</turbo-frame>