@model UDS.Net.Forms.Models.PageModels.FormPageModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;
}

<div class="">
    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

        <aside class="py-6 lg:col-span-3">
            <nav class="space-y-1">

                @if (Model.Visit != null && Model.Visit.Forms != null)
                {
                    <partial name="_NavSidebarForms" model="@Model.Visit" />
                }

            </nav>
        </aside>

        <main class="lg:col-span-9 px-5 py-6">

            <nav class="hidden sm:flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div class="flex">
                            <a asp-page="/Participations/Details" asp-route-id="@Model.Visit.ParticipationId" class="text-sm font-medium text-gray-500 hover:text-gray-700">Participation @(Model.Visit.Participation != null ? Model.Visit.Participation.LegacyId : "")</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                            </svg>
                            <a asp-page="/Visits/Details" asp-route-id="@Model.Visit.Id" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Visit @Model.Visit.VISITNUM</a>
                        </div>
                    </li>
                </ol>
            </nav>

            <div class="mx-auto max-w-12xl">
                <div class="lg:flex lg:items-center lg:justify-between">

                    <div class="min-w-0 flex-1">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">@(Model.BaseForm.GetType().Name): @Model.BaseForm.Description</h2>
                        <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"></path>
                                </svg>
                                @("UDS" + Model.Visit.FORMVER)
                            </div>
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"></path>
                                </svg>
                                Created by @Model.BaseForm.CreatedBy
                            </div>
                            <div class="mt-2 flex items-center text-sm text-gray-500">
                                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd"></path>
                                </svg>
                                Visit on @Model.Visit.VISIT_DATE.ToShortDateString()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divide-y divide-gray-200">
                @if (Model.BaseForm.Kind == "C2" || Model.BaseForm.Kind == "C2T")
                {
                    <form method="post" id="UDSForm">
                        <input name="Enum.FormMode.NotCompleted" value="@(((int)FormMode.NotCompleted).ToString())" type="hidden" />
                        <input name="Enum.FormStatus.Finalized" value="@(((int)FormStatus.Finalized).ToString())" type="hidden" />
                        <input asp-for="Visit.Id" type="hidden" />
                        <input asp-for="Visit.ParticipationId" type="hidden" />
                        <input asp-for="Visit.VISITNUM" type="hidden" />
                        <input asp-for="Visit.PACKET" type="hidden" />
                        <input asp-for="Visit.FORMVER" type="hidden" />
                        <input asp-for="Visit.VISIT_DATE" type="hidden" />
                        <input asp-for="Visit.INITIALS" type="hidden" />
                        <input asp-for="Visit.Status" type="hidden" />
                        <input asp-for="Visit.CreatedAt" type="hidden" />
                        <input asp-for="Visit.CreatedBy" type="hidden" />
                        <input asp-for="Visit.ModifiedBy" type="hidden" />
                        <input asp-for="Visit.DeletedBy" type="hidden" />
                        <input asp-for="Visit.IsDeleted" type="hidden" />

                        <div class="counterreset space-y-12 sm:space-y-16 mt-2">
                            @RenderBody()
                        </div>
                    </form>
                }
                else
                {
                    <!--// Turn off turbo for all other forms //-->
                    <form method="post" id="UDSForm" data-turbo="false">
                        <input name="Enum.FormMode.NotCompleted" value="@(((int)FormMode.NotCompleted).ToString())" type="hidden" />
                        <input name="Enum.FormStatus.Finalized" value="@(((int)FormStatus.Finalized).ToString())" type="hidden" />
                        <input asp-for="Visit.Id" type="hidden" />
                        <input asp-for="Visit.ParticipationId" type="hidden" />
                        <input asp-for="Visit.VISITNUM" type="hidden" />
                        <input asp-for="Visit.PACKET" type="hidden" />
                        <input asp-for="Visit.FORMVER" type="hidden" />
                        <input asp-for="Visit.VISIT_DATE" type="hidden" />
                        <input asp-for="Visit.INITIALS" type="hidden" />
                        <input asp-for="Visit.Status" type="hidden" />
                        <input asp-for="Visit.CreatedAt" type="hidden" />
                        <input asp-for="Visit.CreatedBy" type="hidden" />
                        <input asp-for="Visit.ModifiedBy" type="hidden" />
                        <input asp-for="Visit.DeletedBy" type="hidden" />
                        <input asp-for="Visit.IsDeleted" type="hidden" />

                        <div class="counterreset space-y-12 sm:space-y-16 mt-2">
                            @RenderBody()
                        </div>
                    </form>
                }
            </div>
        </main>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}

