@model UDS.Net.Forms.Models.PageModels.FormPageModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;
}

<div class="">
    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

        <aside class="py-6 lg:col-span-3">
            <nav class="space-y-1">

                @if (Model.Visit != null && Model.Visit.Forms != null)
                {
                    <partial name="_NavSidebarForms" model="@Model.Visit" />
                }

            </nav>
        </aside>

        <main class="lg:col-span-9 px-5 py-6">
            <partial name="_FormBreadcrumb" />

            <div class="mx-auto max-w-12xl">
                <div class="lg:flex lg:items-center lg:justify-between">

                    <div class="min-w-0 flex-1">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">@(Model.BaseForm.GetType().Name): @Model.BaseForm.Description</h2>
                        <partial name="_FormMeta" />
                    </div>
                </div>
            </div>

            <div class="divide-y divide-gray-200">
                <form method="post" id="UDSForm" data-turbo="false">
                    <input name="Enum.FormMode.NotCompleted" value="@(((int)FormMode.NotCompleted).ToString())" type="hidden" />
                    <input name="Enum.FormStatus.Finalized" value="@(((int)FormStatus.Finalized).ToString())" type="hidden" />
                    <input asp-for="Visit.Id" type="hidden" />
                    <input asp-for="Visit.ParticipationId" type="hidden" />
                    <input asp-for="Visit.VISITNUM" type="hidden" />
                    <input asp-for="Visit.PACKET" type="hidden" />
                    <input asp-for="Visit.FORMVER" type="hidden" />
                    <input asp-for="Visit.VISIT_DATE" type="hidden" />
                    <input asp-for="Visit.INITIALS" type="hidden" />
                    <input asp-for="Visit.Status" type="hidden" />
                    <input asp-for="Visit.CreatedAt" type="hidden" />
                    <input asp-for="Visit.CreatedBy" type="hidden" />
                    <input asp-for="Visit.ModifiedBy" type="hidden" />
                    <input asp-for="Visit.DeletedBy" type="hidden" />
                    <input asp-for="Visit.IsDeleted" type="hidden" />

                    <div class="counterreset space-y-12 sm:space-y-16 mt-2">
                        @RenderBody()
                    </div>
                </form>
            </div>
        </main>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}

